<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Cá Nhân</title>
    <meta name="description" content="Profile Page">
    <meta name="keywords" content="My">

    <th:block th:insert="~{common/vendor-head}"></th:block>

    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.css" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/css/MyStyle.css}" rel="stylesheet">
</head>
<body style="background-color: rgb(238, 238, 238);">
<!-- ======= Header ======= -->
<header th:replace="~{common/navbar :: navbar}"></header>

<!-- Content -->
<div class="user-profile-content container-fluid">
    <div class="row justify-content-center">
        <th:block th:insert="~{user/fragments/sidebar :: sidebar}"></th:block>

        <div class="col-md-8 col-lg-8 col-xl-9 col-xs-12 content-by-option">
            <!-- Common components in tab -->
            <div class="add-money-tab">
                <th:block th:insert="~{user/fragments/money-tab :: money-tab}"></th:block>
                <!-- User profile tab -->
                <div class="mt-4 mb-5 user-profile" id="user-profile">
                    <div class="row user-change-ava justify-content-center">
                        <div class="col-xl-2 col-lg-3 col-md-12 col-sm-4 col-xs-6 mb-3">
                            <div class="user-img">
                                <img id="user-ava" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfzmhjOE-yilOK41XrpuN4If42UNoLOCyn7Q&usqp=CAU">
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-9 col-md-12 col-sm-8 col-xs-6 change-ava-btn mb-3">
                            <input type="file" class="form-control mt-2" id="avatar-img" name="avatar-img" accept="image/*" style="display: none;" onchange="uploadImage(this);">
                            <div class="d-flex justify-content-start align-items-center mt-3">
                                <button type="button" class="btn btn-upload-img" onclick="document.getElementById('avatar-img').click();">
                                    Chọn ảnh
                                </button>
                            </div>
                        </div>
                        <div class="col-12 mt-4 user-edit-profile">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="input-title">Email</div>
                                    <input type="text" placeholder="nguyenvana@gmail.com" value="nguyenvana@gmail.com" required>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-title">Họ</div>
                                    <input type="text" value="Nguyễn" required>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-title">Tên</div>
                                    <input type="text" value="Văn A" required>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6 col-sm-12 mb-3">
                                    <div class="input-title">Ngày sinh</div>
                                    <input type="date" value="2014-12-29">
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-title">Số điện thoại</div>
                                    <input type="number" value="0123456789" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="input-title">Giới tính</div>
                                    <div class="mt-2" style="display: flex;">
                                        <div style="display: flex;">
                                            <input type="radio" name="gender" value="male" checked>
                                            <span style="margin-left: 4px">nam</span>
                                        </div>
                                        <div style="display: flex; margin-left: 15px;">
                                            <input type="radio" name="gender" value="female">
                                            <span style="margin-left: 4px">nữ</span>
                                        </div>
                                        <div style="display: flex; margin-left: 15px;">
                                            <input type="radio" name="gender" value="other">
                                            <span style="margin-left: 4px">khác</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="input-title">Đia chỉ</div>
                                    <input type="text" value="526 Điện Biên Phủ, Phường 21, Quận Bình Thạnh, Thành phố Hồ Chí Minh" required>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-3">
                                <div class="col-12 mx-auto">
                                    <button class="btn save-changes">Lưu thay đổi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="add-money-modal">
        <div class="modal-content">
            <div>
                <span class="close-button" style="float: right;"><i class="bi bi-x-circle-fill"></i></span>
                <h3 class="fw-bold">Xác nhận nạp tiền</h3>
            </div>
            <div class="mt-4">
                <span>Tổng tiền nạp</span>
                <span>:</span>
                <span class="money fw-bold">số tiền nạp</span>
                <span class="currency"> đồng</span>
            </div>
            <div class="mt-2">
                <span class="creditConfirm fw-bold">500</span>
                <span>Credits</span>
                <span>sẽ được cộng vào ví của bạn!</span>
            </div>
            <div class="btn-option">
                <button id="paymentSubmit" class="confirm">Xác nhận và thanh toán</button>
                <button class="cancel">Hủy</button>
            </div>
        </div>
    </div>
</div>

<!-- ======= Footer ======= -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<th:block th:include="common/vendor-script"></th:block>
<script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.js"></script>
<script>
    function uploadImage(input) {
        var file = input.files[0];
        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('user-ava').src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    }

    new DataTable('#transaction-history-tb', {
        language: {
            processing: "Đang tải dữ liệu",
            search: "Tìm kiếm",
            lengthMenu: "Xem _MENU_ mục ",
            info: "Bản ghi từ _START_ đến _END_ , tổng cộng _TOTAL_ bản ghi",
            loadingRecords: "",
            zeroRecords: "Không có dữ liệu",
            emptyTable: "Không có dữ liệu",
        }
    });

    const modal = document.querySelector(".add-money-modal");
    const triggers = document.querySelectorAll(".trigger");
    const closeButton = document.querySelector(".close-button");
    const cancel = document.querySelector(".cancel");

    function toggleModal() {
        modal.classList.toggle("show-modal");
    }

    function windowOnClick(event) {
        if (event.target === modal) {
            toggleModal();
        }
    }

    for (var i = 0, len = triggers.length; i < len; i++) {
        triggers[i].addEventListener("click", toggleModal);
    }
    closeButton.addEventListener("click", toggleModal);
    cancel.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);

    $(".option-tab").on("click", function () {
        $(".option-tab").removeClass("at");
        $(this).addClass("at");
    });


        $("#paymentSubmit").click(function() {
            var selectedAmount = $("#moneyAmount").val();

            // Gửi giá trị lên server thông qua một POST request
            $.ajax({
                type: "POST",
                url: "/payment/create-session",
                data: {
                    amount: selectedAmount
                },
                success: function(response) {
                    // Xử lý kết quả trả về từ server (nếu cần)
                    window.location.href = response;
                }
            });
        });

    function updateInputValue(value, creditTrans) {
        document.getElementById('moneyAmount').value = value;
        document.querySelector('.money').textContent = value; // Update the money element with the input value
        document.querySelector('.creditConfirm').textContent = creditTrans; // Update the creditConfirm element with the selected credit-trans text
    }

    // Get the necessary elements by their IDs or classes
    const moneyInput = document.getElementById('moneyAmount');
    const addButton = document.querySelector('.add-money-btn');

    // Add a click event listener to the button
    addButton.addEventListener('click', function() {
        // Get the value from the input element
        let inputValue = moneyInput.value;
        inputValue = parseInt(inputValue);
        inputValue = inputValue.toLocaleString();
        // Get the selected credit-trans text
        // const creditTrans = document.querySelector('input[name="money"]:checked + .card-input .credit-trans').textContent.trim();

        // Update the text content of the money element with the input value
        document.querySelector('.money').textContent = inputValue;

        // Update the text content of the creditConfirm element with the selected credit-trans text
        document.querySelector('.creditConfirm').textContent = moneyInput.value/1000;
    });

    // JS add money
    let choose_vnpay = document.getElementById("choose-vnpay");
    let choose_visa = document.getElementById("choose-visa");
    let choose_momo = document.getElementById("choose-momo");

    let visa_payment = document.getElementById("visa-payment")
    let vnpay_payment = document.getElementById("vnpay-payment");
    let momo_payment = document.getElementById("momo-payment");

    vnpay_payment.style.display = "none";
    momo_payment.style.display = "none";

    choose_vnpay.addEventListener("click", function () {
        visa_payment.style.display = "none";
        momo_payment.style.display = "none";
        vnpay_payment.style.display = "block";
    });
    choose_visa.addEventListener("click", function () {
        vnpay_payment.style.display = "none";
        momo_payment.style.display = "none";
        visa_payment.style.display = "block";
    });
    choose_momo.addEventListener("click", function () {
        vnpay_payment.style.display = "none";
        visa_payment.style.display = "none";
        momo_payment.style.display = "block";
    });

    document.getElementById("moneyAmount").oninput = function(){
        let money_value = document.getElementById("moneyAmount").value;
        // document.getElementById("moneyAmount").value = parseInt(money_value).toLocaleString("de-DE");
        console.log(document.getElementById("moneyAmount").value.replace('.', ''));
        if (money_value === ""){
            document.querySelector('input[name="money"]:checked').checked = false;
        }
    };

</script>
</body>
</html>
