<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Cá Nhân</title>
    <meta name="description" content="Profile Page">
    <meta name="keywords" content="My">

    <th:block th:insert="common/vendor-head"></th:block>

    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.css" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/css/MyStyle.css}" rel="stylesheet">
</head>
<body style="background-color: rgb(238, 238, 238);">
<!-- ======= Header ======= -->
<header th:replace="~{common/navbar :: navbar}"></header>

<!-- Content -->
<div class="user-profile-content container-fluid">
    <div class="row justify-content-center">
        <th:block th:insert="~{user/fragments/sidebar :: sidebar}"></th:block>

        <div class="col-md-8 col-lg-8 col-xl-9 content-by-option">
            <!-- Common components in tab -->
            <div class="add-money-tab">
                <th:block th:insert="~{user/fragments/money-tab :: money-tab}"></th:block>

                <!-- User change pw tab -->
                <div class="mt-4 mb-4 user-pw" id="change-pw">
                    <div class="row change-pw justify-content-center">
                        <div class="change-pw-icon col-12 mx-auto mt-3">
                            <img src="https://cdn-icons-png.flaticon.com/128/6741/6741132.png">
                        </div>
                        <div class="col-12 mx-auto">
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <form method="POST" action="/profile/change-password" id="change-pw-form">
                                    <div class="form-group">
                                        <label class="input-title">Mật khẩu cũ</label>
                                        <input required id="currentPassword" type="password" class="form-control" name="currentPassword" value="">
                                        <i class="bi bi-eye-slash field-icon" id="togglePassword"></i>
                                        </div>
                                        <div class="mt-2 form-group">
                                            <div class="input-title">Mật khẩu mới</div>
                                            <input required id="newPassword" type="password" class="form-control" name="newPassword" value="">
                                            <i class="bi bi-eye-slash field-icon" id="toggleNewPassword"></i>
                                        </div>
                                        <div class="mt-2 form-group">
                                            <div class="input-title">Xác nhận mật khẩu</div>
                                            <input required id="confirmPassword" type="password" class="form-control" name="confirmPassword" value="">
                                            <i class="bi bi-eye-slash field-icon" id="toggleRePassword"></i>
                                        </div>
                                        <div class="mt-4">
                                            <button type="submit" id="submit" class="submit">Lưu thay đổi</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6 mt-4 mb-4">
                                    <div class="pw-format">
                                        <div class="pw-details">
                                            <span>
                                                <img src="https://cdn-icons-png.flaticon.com/128/711/711239.png">
                                            </span>
                                            <span>
                                                Mật khẩu phải có ít nhất 8 ký tự, nhưng 12 ký tự hoặc nhiều hơn thì sẽ hiệu quả hơn.
                                            </span>
                                        </div>
                                        <div class="pw-details">
                        <span>
                          <img src="https://cdn-icons-png.flaticon.com/128/711/711239.png">
                        </span>
                        <span>
                          Mật khẩu phải là sự kết hợp của các ký tự viết hoa, ký tự viết thường, số và ký hiệu.
                        </span>
                                        </div>
                                        <div class="pw-details">
                        <span>
                          <img src="https://cdn-icons-png.flaticon.com/128/711/711239.png">
                        </span>
                                            <span>
                          Khác biệt đáng kể so với mật khẩu trước đó của bạn.
                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="add-money-modal">
        <div class="modal-content">
            <div>
                <span class="close-button" style="float: right;"><i class="bi bi-x-circle-fill"></i></span>
                <h3 class="fw-bold">Xác nhận nạp tiền</h3>
            </div>
            <div class="mt-4">
                <span>Tổng tiền nạp</span>
                <span>:</span>
                <span class="money fw-bold">số tiền nạp</span>
                <span class="currency"> đồng</span>
            </div>
            <div class="mt-2">
                <span class="creditConfirm fw-bold">500</span>
                <span>Credits</span>
                <span>sẽ được cộng vào ví của bạn!</span>
            </div>
            <div class="btn-option">
                <button id="paymentSubmit" class="confirm">Xác nhận và thanh toán</button>
                <button class="cancel">Hủy</button>
            </div>
        </div>
    </div>
</div>

<!-- ======= Footer ======= -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<th:block th:include="common/vendor-script"></th:block>
<script>
    $(".option-tab").on("click", function () {
        $(".option-tab").removeClass("at");
        $(this).addClass("at");
    });

    // change password tab
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#currentPassword");
    togglePassword.addEventListener("click", function () {
        console.log(password)
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        this.classList.toggle("bi-eye");
    });

    const toggleNewPassword = document.querySelector("#toggleNewPassword");
    const new_password = document.querySelector("#newPassword");
    toggleNewPassword.addEventListener("click", function () {
        const type = new_password.getAttribute("type") === "password" ? "text" : "password";
        new_password.setAttribute("type", type);
        this.classList.toggle("bi-eye");
    });

    const toggleRePassword = document.querySelector("#toggleRePassword");
    const re_password = document.querySelector("#confirmPassword");
    toggleRePassword.addEventListener("click", function () {
        const type = re_password.getAttribute("type") === "password" ? "text" : "password";
        re_password.setAttribute("type", type);
        this.classList.toggle("bi-eye");
    });
</script>
</body>
</html>
