<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Cá Nhân</title>
    <meta name="description" content="Profile Page">
    <meta name="keywords" content="My">

    <th:block th:insert="~{common/vendor-head}"></th:block>

    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.css" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/css/MyStyle.css}" rel="stylesheet">
</head>
<body style="background-color: rgb(238, 238, 238);">
<!-- ======= Header ======= -->
<header th:replace="~{common/navbar :: navbar}"></header>

<!-- Content -->
<div class="user-profile-content container-fluid">
    <div class="row justify-content-center">
        <th:block th:insert="~{user/fragments/sidebar :: sidebar}"></th:block>

        <div class="col-md-8 col-lg-8 col-xl-9 content-by-option">
            <!-- Common components in tab -->
            <div class="add-money-tab">
                <th:block th:insert="~{user/fragments/money-tab :: money-tab}"></th:block>
                <!--User notifications tab-->
                <div class="mt-4 mb-4" id="notification-list">
                    <div class="row my-notifications">
                    </div>
                    <div class="row pagination-container">
                        <div class="pagination mt-3" id="paginationNotification">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======= Footer ======= -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<th:block th:include="common/vendor-script"></th:block>
<script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.js"></script>
<script>
    function toggleModal() {
        modal.classList.toggle("show-modal");
    }

    function windowOnClick(event) {
        if (event.target === modal) {
            toggleModal();
        }
    }

    for (var i = 0, len = triggers.length; i < len; i++) {
        triggers[i].addEventListener("click", toggleModal);
    }
    closeButton.addEventListener("click", toggleModal);
    cancel.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);


    $(".option-tab").on("click", function () {
        $(".option-tab").removeClass("at");
        $(this).addClass("at");
    });
</script>
</body>
</html>
