<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Cá Nhân</title>
    <meta name="description" content="Profile Page">
    <meta name="keywords" content="My">

    <th:block th:insert="~{common/vendor-head}"></th:block>

    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.css" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/css/MyStyle.css}" rel="stylesheet">
</head>
<body style="background-color: rgb(238, 238, 238);">
<!-- ======= Header ======= -->
<header th:replace="~{common/navbar :: navbar}"></header>

<!-- Content -->
<div class="user-profile-content container-fluid">
    <div class="row justify-content-center">
        <th:block th:insert="~{user/fragments/sidebar :: sidebar}"></th:block>

        <div class="col-md-8 col-lg-8 col-xl-9 col-xs-12 content-by-option">
            <!-- Common components in tab -->
            <form id="formSubmit" action="/profile/my-profile/update" method="post"
                  th:object="${userUpdateDTO}">
                <div class="add-money-tab">
                    <th:block th:insert="~{user/fragments/money-tab :: money-tab}"></th:block>
                    <!-- User profile tab -->
                    <div class="mt-4 mb-5 user-profile" id="user-profile">
                        <!--                    <form id="formSubmit" action="/profile/my-profile/update" method="post"-->
                        <!--                          th:object="${userUpdateDTO}">-->

                        <div class="row user-change-ava justify-content-center">
                            <div class="col-xl-2 col-lg-3 col-md-12 col-sm-4 col-xs-6 mb-3">
                                <div class="user-img">
                                    <img class="show-department-img" id="user-ava"
                                         th:src="${userUpdateDTO.getImageUrl()}">
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-9 col-md-12 col-sm-8 col-xs-6 change-ava-btn mb-3">
                                <input type="file" class="form-control mt-2" id="avatar-img" name="avatar-img"
                                       accept="image/*" style="display: none;" onchange="uploadImage(this);">
                                <div class="d-flex justify-content-start align-items-center mt-3">
                                    <button type="button" class="btn btn-upload-img"
                                            onclick="document.getElementById('avatar-img').click();">
                                        Chọn ảnh
                                    </button>
                                </div>
                                <input th:field="*{imageUrl}" type="hidden" id="avatarImg"
                                       th:value="${userUpdateDTO.getImageUrl()}" name="imageUrl">
                                <input th:field="*{userId}" type="hidden" th:value="${userId}" name="userId">
                                <input th:field="*{userDetailId}" type="hidden"
                                       th:value="${userUpdateDTO.getUserDetailId()}" name="userDetailId">
                            </div>
                            <div class="col-12 mt-4 user-edit-profile">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="input-title">Email</div>
                                        <input th:field="*{email}" th:value="${userUpdateDTO.getEmail()}" type="text"
                                               placeholder="nguyenvana@gmail.com" value="nguyenvana@gmail.com" required>
                                        <input th:field="*{oldEmail}" th:value="${userUpdateDTO.getEmail()}"
                                               type="hidden">
                                        <span th:if="${#fields.hasErrors('email')}"
                                              th:errors="*{email}">email Error</span>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-title">Họ</div>
                                        <input th:field="*{firstName}" th:value="${userUpdateDTO.getFirstName()}"
                                               type="text" value="Nguyễn" required>
                                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName Error</span>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-title">Tên</div>
                                        <input th:field="*{lastName}" th:value="${userUpdateDTO.getLastName()}"
                                               type="text" value="Văn A" required>
                                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</span>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6 col-sm-12 mb-3">
                                        <div class="input-title">Ngày sinh</div>
                                        <input th:field="*{dateOfBirth}" th:value="${userUpdateDTO.getDateOfBirth()}"
                                               type="date" value="2014-12-29">
                                        <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">dateOfBirth Error</span>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-title">Số điện thoại</div>
                                        <input th:field="*{phoneNumber}" th:value="${userUpdateDTO.getPhoneNumber()}"
                                               type="number" value="0123456789" required>
                                        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phone Error</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="input-title">Đia chỉ</div>
                                        <input th:field="*{address}" th:value="${userUpdateDTO.getAddress()}"
                                               type="text" required>
                                        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address Error</span>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="input-title">Giới Tính :</div>
                                        <select th:field="*{gender}" class="form-select" id="gender" name="gender">
                                            <option value="">Chọn giới tính</option>
                                            <option value="Male"  th:selected="${userUpdateDTO.getGender().equals('Male')}">Nam</option>
                                            <option value="Female" th:selected="${userUpdateDTO.getGender().equals('Female')}">Nữ</option>
                                            <option value="Khác">Khác</option>
                                        </select>
                                        <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">gender Error</span>
                                    </div>

                                </div>
                                <div class="row justify-content-center mt-3">
                                    <div class="col-12 mx-auto">
                                        <button class="btn save-changes" type="submit" >Lưu thay đổi</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="add-money-modal">
        <div class="modal-content">
            <div>
                <span class="close-button" style="float: right;"><i class="bi bi-x-circle-fill"></i></span>
                <h3 class="fw-bold">Xác nhận nạp tiền</h3>
            </div>
            <div class="mt-4">
                <span>Tổng tiền nạp</span>
                <span>:</span>
                <span class="money fw-bold">số tiền nạp</span>
                <span class="currency"> đồng</span>
            </div>
            <div class="mt-2">
                <span class="creditConfirm fw-bold">500</span>
                <span>Credits</span>
                <span>sẽ được cộng vào ví của bạn!</span>
            </div>
            <div class="btn-option">
                <button id="paymentSubmit" class="confirm">Xác nhận và thanh toán</button>
                <button class="cancel">Hủy</button>
            </div>
        </div>
    </div>
</div>

<!-- ======= Footer ======= -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<th:block th:include="common/vendor-script"></th:block>
<script>
    function uploadImage(input) {
        if (input.files && input.files[0]) {
            const file = input.files[0];

            var formData = new FormData();
            formData.append("file", file);
            $.ajax({
                type: "POST",
                url: `/upload/uploadAvatar`,
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response)
                    $("#avatarImg").val(response);
                },
                error: function () {
                    console.log("Failed to upload file");
                }
            });

            var reader = new FileReader();

            reader.onload = function (e) {
                var img = document.querySelector('.show-department-img');
                img.src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
</body>
</html>
