<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="brand-owner/common/head"></th:block>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="brand-owner/common/sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="brand-owner/common/navbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h1 class="fw-bold text-primary">Thông tin chi tiết cơ sở</h1>
                        <div class="show-wallpaper-brand col-lg-12" th:style="'background-image: url(' + ${department.getDepartmentWallpaperUrl()} + ');'">
                            <img class="show-logo-brand" th:src="${department.getDepartmentLogoUrl()}" alt="Hình ảnh">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <h4 class="fw-bold text-primary text-uppercase pb-3">Thông tin cơ bản</h4>
                            <div class="row text-start">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="name-brand" class="form-label fw-bold">Tên cơ sở
                                            :</label>
                                        <input th:value="${department.getDepartmentName()}" type="text" class="form-control" id="name-brand" name="name-brand"
                                               readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="phone" class="form-label fw-bold">Số điện thoại :</label>
                                        <input type="text" class="form-control" id="phone" name="phone"
                                               th:value="${department.getDepartmentContactNumber()}" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="city" class="form-label fw-bold">Tỉnh/Thành phố:</label>
                                        <input type="text" class="form-control" id="city" name="area" th:value="${department.getCity()}"
                                               readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="address" class="form-label fw-bold">Địa chỉ cơ sở
                                            :</label>
                                        <input type="text" class="form-control" id="address" name="address"
                                               th:value="${department.getDepartmentAddress()}"
                                               readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="capacity" class="form-label fw-bold">Sức chứa (Người)
                                            :</label>
                                        <input type="text" class="form-control" id="capacity" name="capacity"
                                               th:value="${department.getCapacity() + ' người'}" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="area" class="form-label fw-bold">Diện tích (m2) :</label>
                                        <input type="text" class="form-control" id="area" name="area"
                                               th:value="${department.getArea()} + 'm²'" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="owners" class="form-label fw-bold">Tên chủ
                                            cơ sở :</label>
                                        <input type="text" class="form-control" id="owners" name="area"
                                               th:value="${department.getUserName()}" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="openHours">Giờ mở cửa:</label><br>
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#viewOpenHoursModal">
                                            Xem giờ hoạt động
                                        </button>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="viewOpenHoursModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title fw-bold fs-3" id="exampleModalLabel">Giờ hoạt động</h5>
                                                </div>
                                                <div class="modal-body text-align-last">
                                                    <th:block th:each="schedule : ${departmentSchedules}">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <p class="fw-bold" data-day="Monday" th:text="${schedule.getDepartmentScheduleDay() + ':'}">Thứ 2:</p>
                                                            </div>
                                                            <div class="col-6">
                                                                <span data-hours="8:00 AM - 6:00 PM">
                                                                    <span th:text="${schedule.departmentScheduleOpenTime}"></span>
                                                                    <span>-</span>
                                                                    <span th:text="${schedule.departmentScheduleCloseTime}"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </th:block>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-center">
                                                    <button type="button" class="btn btn-secondary text-center"
                                                            data-dismiss="modal">Đóng
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="description" class="form-label fw-bold">Mô tả :</label>
                                    <textarea style="width: 100%; padding: 10px;" rows="4" cols="50" name="comment"
                                              form="usrform" readonly th:text="${department.getDepartmentDescription()}">Nhờ đáp ứng được mọi nhu cầu luyện tập theo tiêu chuẩn 5 sao với thiết kế cực kỳ sang trọng trong từng chi tiết nhỏ, phòng tập gym California Centuryon Somerset West Point đã trở thành địa điểm check-in quen thuộc của giới thượng lưu Hà Nội.
                                        </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="fw-bold text-primary text-uppercase pt-3 pb-3">Các gói tập</h4>
                            <section>
                                <ul class="nav nav-tabs" id="myTabs" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="flexible-tab" data-toggle="tab"
                                           href="#flexible" role="tab" aria-controls="flexible"
                                           aria-selected="true">Gói linh hoạt</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="fixed-tab" data-toggle="tab" href="#fixed"
                                           role="tab" aria-controls="fixed" aria-selected="false">Gói cố định</a>
                                    </li>
                                </ul>
                                <div class="tab-content mt-4">
                                    <div class="tab-pane fade show active" id="flexible" role="tabpanel"
                                         aria-labelledby="flexible-tab">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" id="dataTableCheckedFlexible"
                                                       cellspacing="0">
                                                    <thead>
                                                    <tr>
                                                        <th>Thứ tự</th>
                                                        <th>Tên gói tập</th>
                                                        <th>Số credits/giờ</th>
                                                        <th data-toggle="tooltip" data-placement="top"
                                                            title="Đây là mô tả của thời gian trước khi kích hoạt">
                                                            Thời hạn trước khi kích hoạt
                                                        </th>
                                                        <th data-toggle="tooltip" data-placement="top"
                                                            title="Đây là mô tả của thời gian sau khi kích hoạt">
                                                            Thời hạn sau khi kích hoạt
                                                        </th>
                                                        <th class="flexible-description">Mô tả</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <th:block th:each="gymPlan : ${gymPlans}">
                                                        <th:block th:if="${gymPlan.getPricePerHours() > 0}">
                                                            <tr>
                                                                <td th:text="${gymPlanStat.index + 1}">1</td>
                                                                <td th:text="${gymPlan.getGymPlanName()}">Gói linh hoạt tiết kiệm</td>
                                                                <td th:text="${gymPlan.getPricePerHours()}">5</td>
                                                                <td th:text="${gymPlan.getPlanBeforeActiveValidity()}">20 ngày</td>
                                                                <td th:text="${gymPlan.getPlanAfterActiveValidity()}">50 ngày</td>
                                                                <td th:text="${gymPlan.getGymPlanDescription()}">Đây là một trong các hạng thẻ siêu tiết kiệm tại
                                                                    phòng gym của chúng tôi. Nếu bạn là người không có
                                                                    nhu cầu di chuyển nhiều và mong muốn được tập luyện
                                                                    ở bất kỳ khung giờ nào thì gói tập này sẽ là một lựa
                                                                    chọn thích hợp
                                                                </td>
                                                            </tr>
                                                        </th:block>
                                                    </th:block>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="fixed" role="tabpanel"
                                         aria-labelledby="fixed-tab">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" id="dataTableCheckedFixed"
                                                       cellspacing="0">
                                                    <thead>
                                                    <tr>
                                                        <th>Thứ tự</th>
                                                        <th>Tên gói tập</th>
                                                        <th>Số credits</th>
                                                        <th>Thời lượng tập</th>
                                                        <th data-toggle="tooltip" data-placement="top"
                                                            title="Đây là mô tả của thời gian trước khi kích hoạt">
                                                            Thời hạn trước khi kích hoạt
                                                        </th>
                                                        <th data-toggle="tooltip" data-placement="top"
                                                            title="Đây là mô tả của thời gian sau khi kích hoạt">
                                                            Thời hạn sau khi kích hoạt
                                                        </th>
                                                        <th class="fixed-description">Mô tả</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <th:block th:each="gymPlan : ${gymPlans}">
                                                        <th:block th:if="${gymPlan.getPrice() > 0}">
                                                            <tr>
                                                                <td th:text="${gymPlanStat.index + 1}">1</td>
                                                                <td th:text="${gymPlan.getGymPlanName()}">Gói linh hoạt tiết kiệm</td>
                                                                <td th:text="${gymPlan.getPrice()}">5</td>
                                                                <td th:text="${gymPlan.getDuration() + ' ngày'}">20 ngày</td>
                                                                <td th:text="${gymPlan.getPlanBeforeActiveValidity() + ' ngày'}">50 ngày</td>
                                                                <td th:text="${gymPlan.getPlanAfterActiveValidity() + ' ngày'}"></td>
                                                                <td th:text="${gymPlan.getGymPlanDescription()}"></td>
                                                            </tr>
                                                        </th:block>
                                                    </th:block>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="row">
                            <h4 class="fw-bold text-primary text-uppercase pt-3 pb-3">Các dịch vụ</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Thứ tự</th>
                                        <th>Tên dịch vụ</th>
                                        <th>Ảnh dịch vụ</th>
                                        <th class="service-description">Mô tả</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="d : ${departmentAmenitieList}">
                                        <tr>
                                            <td th:text="${dStat.index + 1}">1</td>
                                            <td th:text="${d.amenitieName}">Hệ thống tủ khóa</td>
                                            <td><img th:src="${d.photoUrl}"
                                                     alt=""></td>
                                            <td th:text="${d.description}">Hệ thống khóa từ thông minh bảo mật tối đa Esmart Lock đầu tiên tại
                                                Việt Nam. Hội viên có thể yên tâm gửi đồ và khóa tủ bằng vòng tay
                                                locker tự động
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="fw-bold text-primary text-uppercase pt-3 pb-3">Các tiện ích</h4>
                            <div class="service-list row d-flex align-items-center justify-content-evenly">
                                <th:block th:each="feature : ${departmentFeatures}">
                                    <div class="col-md-1">
                                        <div class="service-type mb-3">
                                            <div th:utext="${feature.getFeature().getFeatureIcon()}"
                                                 class="gym-service-logo d-flex align-items-center justify-content-center">
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div>
                            <h4 class="fw-bold text-primary text-uppercase pt-3 pb-3">Album ảnh</h4>
                            <div class="row">
                                <th:block th:each="album : ${departmentAlbums}">
                                    <div class="album-view col-12 col-md-4 col-lg-2">
                                        <img th:src="${album.photoUrl}" alt="Image" class="img-fluid">
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="fw-bold text-primary text-uppercase pt-3 pb-3">Vị trí cơ sở</h4>
                            <div class="row text-start">
                                <iframe
                                        th:src="@{'https://www.google.com/maps/embed/v1/place?key=AIzaSyDn-1MGDGwJBHRvtO_asu53bAF1IzdJ9Bs&q='+${department.getLatitude()}+','+${department.getLongitude()}}"
                                        width="100%" height="450" style="border:0;" allowfullscreen=""
                                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <th:block th:replace="brand-owner/common/footer"></th:block>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
</div>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="brand-owner/common/logout-modal"></th:block>

<th:block th:replace="brand-owner/common/script"></th:block>
</body>
</html>
