<!DOCTYPE html>
<html lang="en">
<th:block th:replace="brand-owner/common/head"></th:block>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="brand-owner/common/sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="brand-owner/common/navbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex justify-content-between">
                        <h2 class="m-0 font-weight-bold text-primary">Danh sách yêu cầu rút tiền :</h2>
                        <div>
                            <div class="text-danger" th:if="${error}" th:text="${error}"></div>
                            <button type="button" class="btn btn-primary" onclick="openWithdrawModal()" title="Rút tiền">
                                Gửi yêu cầu rút tiền<i class="fas fa-plus pl-2"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="table-withdrawal-waiting" width="100%"
                                   cellspacing="0">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã giao dịch</th>
                                    <th>Thời gian</th>
                                    <th>Số credit</th>
                                    <th>Số tiền quy đổi</th>
                                    <th>Hoa Hồng(%)</th>
                                    <th>Trạng thái</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="h : ${requestWithdrawHistoryListPending}">
                                    <tr>
                                        <td th:text="${hStat.index + 1}">1</td>
                                        <td th:text="${h.getWithdrawalCode()}">10001321</td>
                                        <td th:text="${h.getWithdrawalTime()}">12:32:12 PM</td>
                                        <td th:text="${h.getAmountCredit() + ' Credit'}">10000 Creadit</td>
                                        <td th:text="${h.getActualMoney() + ' VNĐ'}">10000000 VNĐ</td>
                                        <td th:text="${h.getMoneyPercent() + ' %'}">10000000 VNĐ</td>
                                        <td class="text-warning fw-bold" th:text="${h.getStatus()}">Đang xử lý</td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pb-5 bg-gradient-withdrawal"></div>
                    <div class="card-header py-3">
                        <h2 class="m-0 font-weight-bold text-primary">Lịch sử yêu cầu rút tiền :</h2>
                    </div>

                    <!-- Modal Rút Tiền -->
                    <div class="modal fade" id="withdrawModal" tabindex="-1" aria-labelledby="withdrawModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="withdrawModalLabel">Gửi yêu cầu rút tiền</h5>
                                </div>
                                <div class="modal-body">
                                    <!-- Form Rút Tiền -->
                                    <form id="withdrawForm" method="post" action="/brand-owner/withdrawal/add"
                                          onsubmit="return validateForm()">
                                        <div class="mb-4">
                                            <label for="cardSelect" class="form-label">Chọn tài khoản ngân hàng :</label>
                                            <select class="form-select" id="cardSelect" name="cardId">
                                                <th:block th:each="c : ${creditCardList}">
                                                    <option th:value="${c.getCreditCardId()}">
                                                        <span th:text="${c.getBankName().toUpperCase()}">ACB</span>
                                                        **** **** ****
                                                        <span th:text="${c.getCardNumber().substring(c.getCardNumber().length() - 4)}">1234</span>
                                                    </option>
                                                </th:block>
                                            </select>
                                            <span id="errorCard" class="error"></span>
                                        </div>
                                        <div class="mb-4">
                                            <label for="currentBalance">Số dư hiện tại (Credit) :</label>
                                            <input name="currentBalance" th:value="${userBalance}" type="number" class="form-control"
                                                   id="currentBalance" placeholder="Số dư hiện tại" readonly>
                                        </div>
                                        <div class="mb-4">
                                            <label for="amount">Số Credit muốn rút :</label>
                                            <input name="creditAmount" type="number" class="form-control" id="amount"
                                                   placeholder="Nhập số credit" required
                                                   oninput="updateConversionRate()">
                                            <span th:if="${errorCredit}" class="error" th:text="${errorCredit}"></span>
                                        </div>
                                        <label data-toggle="tooltip" data-placement="top" title="Đức viết cài này đi" class="fw-bold">
                                            Phí giao dịch (<span id="withdrawal-fee" th:text="${moneyPercent}">10</span>%)
                                        </label>
                                        <div class="mb-4">
                                            <label for="conversionRate">Số tiền quy đổi (VND) :</label>
                                            <input name="moneyAmount" type="text" class="form-control"
                                                   id="conversionRate" value="0" readonly>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng
                                            </button>
                                            <button type="submit" class="btn btn-primary" id="addWithDrawal" >Gửi Xác Nhận</button>
                                        </div>
                                    </form>
                                    <script>

                                        function validateForm() {
                                            var selectedCard = document.getElementById('cardSelect').value;
                                            if (selectedCard === "") {
                                                document.getElementById('errorCard').innerText = "Vui lòng chọn thẻ ngân hàng";
                                                return false; // Prevent form submission
                                            } else {
                                                document.getElementById('errorCard').innerText = ""; // Clear error message
                                                return true; // Allow form submission
                                            }
                                        }

                                        function updateConversionRate() {
                                            var amount = document.getElementById('amount').value;
                                            var withdrawalFee = document.getElementById('withdrawal-fee').innerText;
                                            var conversionRate = amount * 1000 - amount * 1000 * withdrawalFee / 100;
                                            document.getElementById('conversionRate').value = conversionRate;
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="withdraw text-center">
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions btn-transactions" id="filterButtonAll">
                                <i class="bi bi-list-check fs-3"></i>
                                <label>Tổng số giao dịch:
                                    <span th:text="${requestHistoryStats.getTotalRequest()}">3</span></label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions btn-transactions" id="filterButtonSuccess">
                                <i class="bi bi-check-circle fs-3"></i>
                                <label>Giao dịch thành công:
                                    <span th:text="${requestHistoryStats.getTotalApproved()}">3</span></label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions btn-transactions" id="filterButtonPending">
                                <i class="bi bi-clock fs-3"></i>
                                <label>Giao dịch đang xử lý:
                                    <span th:text="${requestHistoryStats.getTotalPending()}">3</span></label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions-money">
                                <i class="bi bi-cash fs-3"></i>
                                <label>Tổng số credit đã rút:
                                    <span class="text-money"
                                          th:text="${requestHistoryStats.getTotalCredit() + ' Credit'}">92000 Credit</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions-money">
                                <i class="bi bi-wallet2 fs-3"></i>
                                <label>Tổng số tiền đã nhận:
                                    <span class="text-money"
                                          th:text="${requestHistoryStats.getTotalMoney() + ' ' + 'đ'}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="table-withdrawal-success" width="100%"
                                   cellspacing="0">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã giao dịch</th>
                                    <th>Thời gian</th>
                                    <th>Số credit</th>
                                    <th>Số tiền quy đổi</th>
                                    <th>Hoa Hồng(%)</th>
                                    <th>Trạng thái</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="h : ${requestWithdrawHistoryListAll}">
                                    <tr>
                                        <td th:text="${hStat.index + 1}">1</td>
                                        <td th:text="${h.getWithdrawalCode()}">10001321</td>
                                        <td th:text="${h.getWithdrawalTime()}">12:32:12 PM</td>
                                        <td th:text="${h.getAmountCredit() + ' Credit'}">10000 Credit</td>
                                        <td th:text="${h.getActualMoney() + ' VNĐ'}">10000000 VNĐ</td>
                                        <td th:text="${h.getMoneyPercent() + ' %'}">10000000 VNĐ</td>
                                        <td th:if="${h.getStatus() == 'Thành công'}" class="text-success fw-bold">Thành công</td>
                                        <td th:if="${h.getStatus() == 'Đang xử lý'}" class="text-warning fw-bold">Đang xử lý</td>
                                        <td th:if="${h.getStatus() == 'Giao dịch bị hủy'}" class="text-danger fw-bold">Giao dịch bị hủy</td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="brand-owner/common/footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="brand-owner/common/logout-modal"></th:block>

<th:block th:replace="brand-owner/common/script"></th:block>

<script>
    $(document).ready(function() {
        var table = $('#table-withdrawal-success').DataTable();

        $('#filterButtonPending').on('click', function () {
            // Filter by status 'Đang xử lý'
            table.columns(6).search('Đang xử lý').draw();
        });

        $('#filterButtonAll').on('click', function () {
            // Remove filter
            table.columns(6).search('').draw();
        });

        $('#filterButtonSuccess').on('click', function () {
            // Filter by status 'Thành công'
            table.columns(6).search('Thành công').draw();
        });
    });
</script>

<script>
    $("#addWithDrawal").click(function (e) {
        e.preventDefault()
        // Thực hiện validation trước khi xử lý form
        if ($("#withdrawForm").valid()) {
            Swal.fire({
                title: 'Bạn muốn gửi yêu cầu rút tiền ?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Xác nhận',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Chỉ submit form nếu người dùng chấp nhận
                    $("#withdrawForm").submit();
                    Swal.fire({
                        title: 'Thành công!',
                        text: 'Yêu cầu rút tiền của bạn đã đc gửi.',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else {
                    Swal.fire({
                        title: 'Thất bại!',
                        text: 'Yêu cầu rút tiền của bạn chưa đc gửi.',
                        icon: 'error',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });
        }
    });
</script>

</body>

</html>
