<!DOCTYPE html>
<html lang="en">
<th:block th:replace="brand-owner/common/head"></th:block>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="brand-owner/common/sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="brand-owner/common/navbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex justify-content-between">
                        <h2 class="m-0 font-weight-bold text-primary">Danh sách yêu cầu rút tiền :</h2>
                        <button type="button" class="btn btn-primary" onclick="openWithdrawModal()" title="Rút tiền">
                            Gửi yêu cầu rút tiền<i class="fas fa-plus pl-2"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="table-withdrawal-waiting" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã giao dịch</th>
                                    <th>Thời gian</th>
                                    <th>Số credit</th>
                                    <th>Số tiền quy đổi</th>
                                    <th>Trạng thái</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>10001321</td>
                                    <td>12:32:12 PM</td>
                                    <td>10000 Creadit</td>
                                    <td>10000000 VNĐ</td>
                                    <td class="text-warning fw-bold">Đang xử lý</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>10001322</td>
                                    <td>12:32:12 PM</td>
                                    <td>172000 Creadit</td>
                                    <td>172000000 VNĐ</td>
                                    <td class="text-warning fw-bold">Đang xử lý</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>10001323</td>
                                    <td>12:32:12 PM</td>
                                    <td>20000 Creadit</td>
                                    <td>20000000 VNĐ</td>
                                    <td class="text-warning fw-bold">Đang xử lý</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pb-5 bg-gradient-withdrawal"></div>
                    <div class="card-header py-3">
                        <h2 class="m-0 font-weight-bold text-primary">Lịch sử yêu cầu rút tiền :</h2>
                    </div>

                    <!-- Modal Rút Tiền -->
                    <div class="modal fade" id="withdrawModal" tabindex="-1" aria-labelledby="withdrawModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="withdrawModalLabel">Gửi yêu cầu rút tiền</h5>
                                </div>
                                <div class="modal-body">
                                    <!-- Form Rút Tiền -->
                                    <form id="withdrawForm">
                                        <div class="mb-3">
                                            <label for="cardSelect" class="form-label">Chọn thẻ ngân hàng :</label>
                                            <select class="form-select" id="cardSelect">
                                                <option disabled selected readonly>Các thẻ có sẵn</option>
                                                <option>ACB **** **** **** 1234</option>
                                                <option>BIDV **** **** **** 5678</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="currentBalance">Số dư hiện tại (Credit) :</label>
                                            <input type="number" class="form-control" id="currentBalance" placeholder="Số dư hiện tại" readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label for="amount">Số Credit muốn rút :</label>
                                            <input type="number" class="form-control" id="amount" placeholder="Nhập số credit" required oninput="updateConversionRate()">
                                        </div>
                                        <div class="mb-3">
                                            <label for="conversionRate">Số tiền quy đổi (VND) :</label>
                                            <input type="text" class="form-control" id="conversionRate" value="0" readonly>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            <button type="button" class="btn btn-primary" onclick="submitWithdrawRequest()">Gửi Xác Nhận</button>
                                        </div>
                                    </form>
                                    <script>
                                        function updateConversionRate() {
                                            var amount = document.getElementById('amount').value;
                                            var conversionRate = amount * 1000;
                                            document.getElementById('conversionRate').value = conversionRate;
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="withdraw text-center">
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions btn-transactions">
                                <i class="bi bi-list-check fs-3"></i>
                                <label >Tổng số giao dịch: 3</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions btn-transactions">
                                <i class="bi bi-check-circle fs-3"></i>
                                <label >Giao dịch thành công: 3</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions btn-transactions">
                                <i class="bi bi-clock fs-3"></i>
                                <label >Giao dịch đang xử lý: 2</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions-money">
                                <i class="bi bi-cash fs-3"></i>
                                <label>Tổng số credit đã rút:
                                    <span class="text-money">92000 Credit</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions-money">
                                <i class="bi bi-wallet2 fs-3"></i>
                                <label>Tổng số tiền đã nhận:
                                    <span class="text-money">9200000<i class="fa-solid fa-dong-sign pl-2"></i></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="table-withdrawal-success" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã giao dịch</th>
                                    <th>Thời gian</th>
                                    <th>Số credit</th>
                                    <th>Số tiền quy đổi</th>
                                    <th>Trạng thái</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>10001321</td>
                                    <td>12:32:12 PM</td>
                                    <td>10000 Creadit</td>
                                    <td>10000000 VNĐ</td>
                                    <td class="text-success fw-bold">Thành công</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>10001322</td>
                                    <td>12:32:12 PM</td>
                                    <td>172000 Creadit</td>
                                    <td>172000000 VNĐ</td>
                                    <td class="text-warning fw-bold">Đang xử lý</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>10001323</td>
                                    <td>12:32:12 PM</td>
                                    <td>20000 Creadit</td>
                                    <td>20000000 VNĐ</td>
                                    <td class="text-danger fw-bold">Từ chối</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="brand-owner/common/footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:replace="brand-owner/common/script"></th:block>
</body>

</html>