<!DOCTYPE html>
<html lang="en">
<th:block th:replace="brand-owner/common/head"></th:block>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="brand-owner/common/sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <th:block th:replace="brand-owner/common/navbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between pb-4">
                    <h1 class="h2 mb-0 text-primary fw-bold text-uppercase">Thống kê</h1>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Số lượng gói tập
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${numberOfGymplan}">5</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dumbbell fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Số lượt mua
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${numberOfOrder}">3728</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-cart-shopping fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Thu nhập
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalRevenue}">128.000.000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-dong-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Số lượt đánh giá
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            <div style="margin-right: 10px" th:attr="data-star=${session.brandDetails.getRating()}"></div>
                                            <span th:text="${totalRating}">123</span>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-star fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h4 class="m-0 font-weight-bold text-primary">Xếp hạng cơ sở theo doanh thu</h4>
                            </div>
                            <div class="card-body table-responsive" style="max-height: 400px;">
                                <table class="table table-bordered" id="table-department" width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên cở sở</th>
                                        <th>Gói tập đã bán</th>
                                        <th>Tổng thu nhập (VNĐ)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="d, iterStat : ${departmentStatBrandOwnerList}">
                                        <tr>
                                            <td th:text="${iterStat.index + 1}">1</td>
                                            <td th:text="${d.departmentName}">City Gym Thái Thành</td>
                                            <td th:text="${d.numberOfGymPlanSold + ' gói'}">185 gói</td>
                                            <td th:text="${d.totalAmount + ' VNĐ'}">45.000.000 VNĐ</td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <!-- Content Column -->
                    <div class="col-xl-8 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h4 class="m-0 font-weight-bold text-primary">Xếp hạng xu hướng mua </h4>
                            </div>
                            <div class="card-body table-responsive" style="max-height: 400px;">
                                <table class="table table-bordered" id="dataTable" width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên gói tập</th>
                                        <th>Giá gói</th>
                                        <th>Lượt bán</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td >1</td>
                                            <td >Gói linh hoạt</td>
                                            <td >120/Giờ</td>
                                            <td >185 gói</td>
                                        </tr>
                                        <tr>
                                            <td >2</td>
                                            <td >Gói 7 ngày</td>
                                            <td >350</td>
                                            <td >65 gói</td>
                                        </tr>
                                        <tr>
                                            <td >3</td>
                                            <td >Gói 30 ngày</td>
                                            <td >680</td>
                                            <td >37 gói</td>
                                        </tr>
                                        <tr>
                                            <td >2</td>
                                            <td >Gói 7 ngày</td>
                                            <td >350</td>
                                            <td >65 gói</td>
                                        </tr>
                                        <tr>
                                            <td >3</td>
                                            <td >Gói 30 ngày</td>
                                            <td >680</td>
                                            <td >37 gói</td>
                                        </tr>
                                        <tr>
                                            <td >1</td>
                                            <td >Gói linh hoạt</td>
                                            <td >120/Giờ</td>
                                            <td >185 gói</td>
                                        </tr>
                                        <tr>
                                            <td >2</td>
                                            <td >Gói 7 ngày</td>
                                            <td >350</td>
                                            <td >65 gói</td>
                                        </tr>
                                        <tr>
                                            <td >3</td>
                                            <td >Gói 30 ngày</td>
                                            <td >680</td>
                                            <td >37 gói</td>
                                        </tr>
                                        <tr>
                                            <td >1</td>
                                            <td >Gói linh hoạt</td>
                                            <td >120/Giờ</td>
                                            <td >185 gói</td>
                                        </tr>
                                        <tr>
                                            <td >2</td>
                                            <td >Gói 7 ngày</td>
                                            <td >350</td>
                                            <td >65 gói</td>
                                        </tr>
                                        <tr>
                                            <td >3</td>
                                            <td >Gói 30 ngày</td>
                                            <td >680</td>
                                            <td >37 gói</td>
                                        </tr>
                                        <tr>
                                            <td >1</td>
                                            <td >Gói linh hoạt</td>
                                            <td >120/Giờ</td>
                                            <td >185 gói</td>
                                        </tr>
                                        <tr>
                                            <td >2</td>
                                            <td >Gói 7 ngày</td>
                                            <td >350</td>
                                            <td >65 gói</td>
                                        </tr>
                                        <tr>
                                            <td >3</td>
                                            <td >Gói 30 ngày</td>
                                            <td >680</td>
                                            <td >37 gói</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 mb-4">
                        <!-- Project Card Example -->
                        <div class="card shadow" style="height: 460px; overflow: auto">
                            <div class="card-header py-3">
                                <h4 class="m-0 font-weight-bold text-primary">Xếp hạng cơ sở theo sao</h4>
                            </div>
                            <div class="card-body">
                                <th:block th:each=" d : ${departmentRatingStatBrandOwnerList}">
                                    <div class="row">
                                        <div class="col-md-6 d-flex align-items-center mb-3">
                                            <h4 class="small font-weight-bold text-uppercase" th:text="${d.departmentName}">City Gym Thái Thành</h4>
                                        </div>
                                        <div class="col-md-6 d-flex align-items-center justify-content-end mb-3">
                                            <div style="margin-right: 10px" th:attr="data-star=${d.ratingStar}" data-star="4.4"></div>
                                            <i class="num-of-rating" th:text="${d.numberOfRating + ' đánh giá'}">1370 đánh giá</i>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <th:block th:replace="brand-owner/common/footer"></th:block>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="brand-owner/common/logout-modal"></th:block>

<th:block th:replace="brand-owner/common/script"></th:block>

</body>

</html>
