<div class="mt-4 mb-4 user-pw" id="change-pw" th:fragment="change-password">
    <div class="row change-pw justify-content-center">
        <div class="change-pw-icon col-12 mx-auto mt-3">
            <img src="https://cdn-icons-png.flaticon.com/128/6741/6741132.png">
        </div>
        <div class="col-12 mx-auto">
            <div class="row mt-4">
                <div class="col-md-6">
                    <form method="post" id="change-pw-form">
                        <div class="form-group">
                            <label class="input-title">Mật khẩu cũ</label>
                            <input required id="password" type="password" class="form-control" name="password" value="">
                            <i class="bi bi-eye-slash field-icon" id="togglePassword"></i>
                        </div>
                        <div class="mt-2 form-group">
                            <div class="input-title">Mật khẩu mới</div>
                            <input required id="new-password" type="password" class="form-control" name="new-password"
                                   value="">
                            <i class="bi bi-eye-slash field-icon" id="toggleNewPassword"></i>
                        </div>
                        <div class="mt-2 form-group">
                            <div class="input-title">Xác nhận mật khẩu</div>
                            <input required id="re-password" type="password" class="form-control" name="re-password"
                                   value="">
                            <i class="bi bi-eye-slash field-icon" id="toggleRePassword"></i>
                        </div>
                        <div class="mt-4">
                            <button type="submit" id="submit" class="submit">Lưu thay đổi</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 mt-4 mb-4">
                    <div class="pw-format">
                        <div class="pw-details">
                        <span>
                          <img src="https://cdn-icons-png.flaticon.com/128/711/711239.png">
                        </span>
                            <span>
                          Mật khẩu phải có ít nhất 8 ký tự, nhưng 12 ký tự hoặc nhiều hơn thì sẽ hiệu quả hơn.
                        </span>
                        </div>
                        <div class="pw-details">
                        <span>
                          <img src="https://cdn-icons-png.flaticon.com/128/711/711239.png">
                        </span>
                            <span>
                          Mật khẩu phải là sự kết hợp của các ký tự viết hoa, ký tự viết thường, số và ký hiệu.
                        </span>
                        </div>
                        <div class="pw-details">
                        <span>
                          <img src="https://cdn-icons-png.flaticon.com/128/711/711239.png">
                        </span>
                            <span>
                          Khác biệt đáng kể so với mật khẩu trước đó của bạn.
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>