<div id="add-money-tab" th:fragment="deposit">
    <div class="mt-4" style="font-weight: 500;">Chọn tài khoản ngân hàng thanh toán</div>
    <div class="row banking-card-list mt-2">
        <div class="col-md-4 col-lg-4 col-sm-4">
            <label>
                <input type="radio" name="product" class="card-input-element" checked />
                <div class="panel panel-default card-input">
                    <div class="panel-body">
                        <div>
                            <span><img src="https://cdn-icons-png.flaticon.com/128/8759/8759618.png"></span>
                            <span class="wallet-money">*1745</span>
                        </div>
                        <div class="ab-title">MB Bank</div>
                    </div>
                </div>
            </label>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <label>
                <input type="radio" name="product" class="card-input-element" />
                <div class="panel panel-default card-input">
                    <div class="panel-body">
                        <div>
                            <span><img src="https://cdn-icons-png.flaticon.com/128/8759/8759618.png" alt=""></span>
                            <span class="wallet-money">*1745</span>
                        </div>
                        <div class="ab-title">Sacombank</div>
                    </div>
                </div>
            </label>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <label>
                <input type="radio" name="product" class="card-input-element" />
                <div class="panel panel-default card-input">
                    <div class="panel-body">
                        <div>
                            <span><img src="https://cdn-icons-png.flaticon.com/128/8759/8759618.png"></span>
                            <span class="wallet-money">*1440</span>
                        </div>
                        <div class="ab-title">Vietcombank</div>
                    </div>
                </div>
            </label>
        </div>
    </div>

    <div class="mt-4" style="font-weight: 500;">Số tiền nạp</div>
    <div class="row mt-2 justify-content-center add-money">
        <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
            <label>
                <input type="radio" name="money" class="card-input-element" />
                <div class="panel panel-default card-input" onclick="updateInputValue('50000')" >
                    <div class="panel-body">
                      <span>
                        <h4 class="fw-bold">50.000</h4>
                      </span>
                        <span><img src="https://cdn-icons-png.flaticon.com/128/11197/11197884.png"></span>
                    </div>
                    <div class="credit-trans">50 credits tương ứng</div>
                </div>
            </label>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
            <label>
                <input type="radio" name="money" class="card-input-element" />
                <div class="panel panel-default card-input" onclick="updateInputValue('100000')">
                    <div class="panel-body">
                        <h4 class="fw-bold">100.000</h4>
                        <span><img src="https://cdn-icons-png.flaticon.com/128/11197/11197884.png"></span>
                    </div>
                    <div class="credit-trans">100 credits tương ứng</div>
                </div>
            </label>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
            <label>
                <input type="radio" name="money" class="card-input-element" />
                <div class="panel panel-default card-input" onclick="updateInputValue('200000')">
                    <div class="panel-body">
                        <h4 class="fw-bold">200.000</h4>
                        <img src="https://cdn-icons-png.flaticon.com/128/11197/11197884.png" alt="">
                    </div>
                    <div class="credit-trans">200 credits tương ứng</div>
                </div>
            </label>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
            <label>
                <input type="radio" name="money" class="card-input-element" />
                <div class="panel panel-default card-input" onclick="updateInputValue('300000')">
                    <div class="panel-body">
                        <h4 class="fw-bold">300.000</h4>
                        <span><img src="https://cdn-icons-png.flaticon.com/128/11197/11197884.png"></span>
                    </div>
                    <div class="credit-trans">300 credits tương ứng</div>
                </div>
            </label>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
            <label>
                <input type="radio" name="money" class="card-input-element" />
                <div class="panel panel-default card-input" onclick="updateInputValue('500000')">
                    <div class="panel-body">
                      <span>
                        <h4 class="fw-bold">500.000</h4>
                      </span>
                        <span><img src="https://cdn-icons-png.flaticon.com/128/11197/11197884.png"></span>
                    </div>
                    <div class="credit-trans">500 credits tương ứng</div>
                </div>
            </label>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
            <label>
                <input type="radio" name="money" class="card-input-element" />
                <div class="panel panel-default card-input" onclick="updateInputValue('1000000')">
                    <div class="panel-body">
                      <span>
                        <h4 class="fw-bold">1.000.000</h4>
                      </span>
                        <span><img src="https://cdn-icons-png.flaticon.com/128/11197/11197884.png" alt=""></span>
                    </div>
                    <div class="credit-trans">1000 credits tương ứng</div>
                </div>
            </label>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
            <label>
                <input type="radio" name="money" class="card-input-element" />
                <div class="panel panel-default card-input" onclick="updateInputValue('2000000')">
                    <div class="panel-body">
                        <h4 class="fw-bold">2.000.000</h4>
                        <span><img src="https://cdn-icons-png.flaticon.com/128/11197/11197884.png"></span>
                    </div>
                    <div class="credit-trans">2000 credits tương ứng</div>
                </div>
            </label>
        </div>
  <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
    <label>
        <input type="radio" name="money" class="card-input-element" />
        <div class="panel panel-default card-input" onclick="updateInputValue('3000000')">
            <div class="panel-body">
                <h4 class="fw-bold">3.000.000</h4>
                <span><img src="https://cdn-icons-png.flaticon.com/128/11197/11197884.png"></span>
            </div>
            <div class="credit-trans">3000 credits tương ứng</div>
        </div>
    </label>
</div>
    </div>
    <div class="row justify-content-center">
     <div class="col-6 mb-4 input-money">
    <input id="moneyAmount" type="text" placeholder="Nhập số tiền cần nạp..."  oninput="updateMoneyValue(this.value)">
</div>
        <div class="col-6 mb-4" >
            <div class="add-money-btn trigger">Nạp tiền</div>
        </div>
    </div>
</div>

