<div class="mt-4 mb-4" id="my-notifications" th:fragment="notifications">
    <div class="row my-notifications">
        <div class="noti-card col-12 mb-4">
            <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtk86cli80AalCTdP_MOrFRItgZ6JQKsaHTQ&usqp=CAU">
            <div class="noti-content">
                <div>
                    <span><img style="width: 18px; height: 18px;"
                               src="https://cdn-icons-png.flaticon.com/128/891/891012.png"></span>
                    <span class="fw-bold">Hòa Lạc Fitness -</span>
                    <span>Flash sale giá sốc, tức tốc vào ngay !</span>
                </div>
                <div class="noti-description">
                    Sale mạnh đến 50% từ các gói tập linh hoạt đến cố định, vào quẹo lựa ngay.
                </div>
                <div class="noti-time">
                    16:46 07-11-2023
                </div>
            </div>
        </div>
    </div>
    <div class="row pagination">
        <div class="col-12">
            <nav style="margin-top: -40px; float: right;">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active-page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>