<div class="col-md-4 col-lg-4 col-xl-3 menu-option mb-4" th:fragment="sidebar">
    <div class="user-basic-info">
        <div class="user-img" th:if="${session.userAvatar != null}">
            <img onclick="onClickImage(this)" class="w3-hover-opacity" th:src="@{${session.userAvatar}}" alt="Ảnh đại diện"/>
        </div>
        <div class="user-img" th:unless="${session.userAvatar != null}">
            <img th:src="@{/images/system/v2.png}" alt="Ảnh đại diện"/>
        </div>
        <div class="user">
            <div class="name fw-bold mt-3" th:text="${session.userInfo.getUserAccount()}">Nguyễn Văn A</div>
            <div class="gmail" th:if="${session.userEmail != null}">
                <span th:text="${session.userEmail}"></span>
            </div>
        </div>
    </div>

    <ul class="account-info list-group">
        <a th:href="@{/profile/my-profile}">
            <li class="list-group-item p-3 option-tab" onclick="openUserProfileTab()">
            <span>
              <img th:src="@{/user-homepage-assets/assets/img/profile-icon.png}" alt="Hồ sơ">
            </span>
                <span>Hồ sơ của tôi</span>
            </li>
        </a>

        <a th:href="@{/profile/change-password}">
            <li class="list-group-item p-3 option-tab" onclick="openChangePwTab()">
            <span>
              <img th:src="@{/user-homepage-assets/assets/img/pw-icon.png}" alt="Mật khẩu">
            </span>
                <span>Đổi mật khẩu</span>
            </li>
        </a>

      <a th:href="@{/profile/my-notifications}">
      <li class="list-group-item p-3 option-tab" onclick="openNotiTab()">
              <span>
                <img th:src="@{/user-homepage-assets/assets/img/notification-icon.png}" alt="Thông báo">
              </span>
                <span>Thông báo</span>
            </li>
        </a>
    </ul>

    <ul class="wallet-info list-group">
        <a th:href="@{/profile/deposit}">
            <li class="list-group-item p-3 option-tab" onclick="openAddMoneyTab()">
            <span>
              <img th:src="@{/user-homepage-assets/assets/img/add-money.png}" alt="Nạp tiền">
            </span>
                <span>Nạp tiền</span>
            </li>
        </a>

        <a th:href="@{/profile/transaction-history}">
            <li class="list-group-item p-3 option-tab" onclick="openTransactionHistory()">
            <span>
              <img th:src="@{/user-homepage-assets/assets/img/history.png}" alt="Lịch sử">
            </span>
                <span>Lịch sử giao dịch</span>
            </li>
        </a>
    </ul>
</div>
