<div class="mt-4 transaction-history" id="transaction-history"
     style="background-color: white; padding: 20px; border-radius: 10px;" th:fragment="transaction-history">
    <div class="row justify-content-center mt-1">
        <!-- <table cellspacing="5" cellpadding="5">
            <tbody>
              <tr>
                <td>Minimum date:</td>
                <td><input type="date" id="min" name="min"></td>
              </tr>
              <tr>
                <td>Maximum date:</td>
                <td><input type="date" id="max" name="max"></td>
              </tr>
            </tbody>
          </table> -->
        <table class="table table-striped mt-3" id="transaction-history-tb" style="width:100%">
            <thead>
            <tr>
                <th>Mã giao dịch</th>
                <th>Nguồn tiền</th>
                <th>Trạng thái</th>
                <th>Thời gian</th>
                <th>Số tiền</th>
            </tr>
            </thead>
            <tbody>
                <th:block th:each="item : ${transactionList}">
                    <tr>
                        <td th:text="'#'+${item.getTransactionId()}"></td>
                        <td>Stripe</td>
                        <td th:text="${item.getStatus()}">Thành công</td>
                        <td th:text="${#temporals.format(item.getTransactionDate().toLocalDateTime(), 'dd/MM/yyyy HH:mm:ss')}">2011-04-25</td>
                        <td th:text="${item.getAmount()} +' vnđ'">320.800</td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</div>
