<!DOCTYPE html>
<html lang="en">
<th:block th:replace="gym-owner/common/head"></th:block>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <th:block th:replace="gym-owner/common/sidebar"></th:block>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <th:block th:replace="gym-owner/common/navbar"></th:block>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="fw-bold text-primary">Cập nhật tiện ích</h2>
                            <input type="hidden" th:value="${selectedId}" id="selectedIdDB">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="text-start">
                                    <table class="table table-bordered" id="dataTableFeatures" width="100%"
                                        cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Thứ tự</th>
                                                <th>ID</th>
                                                <th>Tên tiện ích</th>
                                                <th>Icon</th>
                                                <th><input type="checkbox" id="checkAll">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <th:block th:each="f : ${allFeatures}">
                                                <tr>
                                                    <td th:text="${fStat.index + 1}">1</td>
                                                    <td th:text="${f.getFeatureID()}">1</td>
                                                    <td th:text="${f.getFeatureName()}">Bãi đỗ xe</td>
                                                    <td th:utext="${f.getFeatureIcon()}"></td>
                                                    <td></td>
                                                </tr>
                                            </th:block>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <form method="post" action="/gym-owner/department/features">
                                        <input type="hidden" id="selectedFeatureId" name="selectedFeatureId">
                                        <input type="hidden" th:value="${departmentId}" name="departmentId">
                                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <th:block th:replace="gym-owner/common/footer"></th:block>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <th:block th:replace="gym-owner/common/script"></th:block>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>

    <script>
        $(document).ready(function () {

            $.fn.dataTable.ext.order['dom-checkbox'] = function  ( settings, col )
            {
                return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
                    return $(td).closest('tr').hasClass('selected') ? '1' : '0';
                } );
            }

            configureDataTable('#dataTableFeatures', 4, 1, 'selectedFeatureId');

        });
    </script>

</body>

</html>