<!DOCTYPE html>
<html lang="en">
<th:block th:replace="gym-owner/common/head"></th:block>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <th:block th:replace="gym-owner/common/sidebar"></th:block>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <th:block th:replace="gym-owner/common/navbar"></th:block>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="fw-bold text-primary">Hoàn tất các bước để tạo cơ sở</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-3">
                                    <form id="msform">
                                        <!-- progressbar -->
                                        <ul id="progressbar">
                                            <li class="active">Thông tin cơ bản</li>
                                            <li>Chọn gói tập</li>
                                            <li>Quản lý hình ảnh</li>
                                            <li>Chọn dịch vụ</li>
                                            <li>Chọn tiện ích</li>
                                            <li>Xác định vị trí</li>
                                        </ul>
                                        <!-- Thông tin cơ bản -->
                                        <fieldset>
                                            <h2 class="fs-title">Thông tin cơ bản</h2>
                                            <div class="row text-start">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="name-brand" class="form-label fw-bold">Tên cơ sở
                                                            :</label>
                                                        <input type="text" class="form-control" id="name-brand"
                                                            name="name-brand" placeholder="Cơ sở Cầu Giấy" readonly>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="phone" class="form-label fw-bold">Số điện thoại
                                                            :</label>
                                                        <input type="text" class="form-control" id="phone" name="phone"
                                                            placeholder="Nhập số điện thoại">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="address" class="form-label fw-bold">Địa chỉ
                                                            :</label>
                                                        <input type="text" class="form-control" id="address"
                                                            name="address" placeholder="Địa chỉ">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="capacity" class="form-label fw-bold">Sức chứa
                                                            :</label>
                                                        <input type="text" class="form-control" id="capacity"
                                                            name="capacity" placeholder="Sức Chứa">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="area" class="form-label fw-bold">Diện tích :</label>
                                                        <input type="text" class="form-control" id="area" name="area"
                                                            placeholder="Diện tích">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="provinceDropdown" class="form-label fw-bold">Chọn tỉnh/thành phố:</label>
                                                        <select class="form-select" id="provinceDropdown" name="province">
                                                            <option value="" selected disabled>Chọn tỉnh/thành phố</option>
                                                            <option value="HN">Hà Nội</option>
                                                            <option value="HCM">Hồ Chí Minh</option>
                                                            <option value="AG">An Giang</option>
                                                            <option value="BR">Bà Rịa - Vũng Tàu</option>
                                                            <option value="BG">Bắc Giang</option>
                                                            <option value="BK">Bắc Kạn</option>
                                                            <option value="BL">Bạc Liêu</option>
                                                            <option value="BN">Bắc Ninh</option>
                                                            <option value="BT">Bến Tre</option>
                                                            <option value="BĐ">Bình Định</option>
                                                            <option value="BP">Bình Phước</option>
                                                            <option value="BTH">Bình Thuận</option>
                                                            <option value="CM">Cà Mau</option>
                                                            <option value="CB">Cao Bằng</option>
                                                            <option value="DN">Đà Nẵng</option>
                                                            <option value="ĐN">Đắk Nông</option>
                                                            <option value="ĐL">Đắk Lắk</option>
                                                            <option value="ĐT">Đồng Tháp</option>
                                                            <option value="GL">Gia Lai</option>
                                                            <option value="HG">Hà Giang</option>
                                                            <option value="HD">Hải Dương</option>
                                                            <option value="HP">Hải Phòng</option>
                                                            <option value="HU">Hậu Giang</option>
                                                            <option value="HY">Hòa Bình</option>
                                                            <option value="KH">Khánh Hòa</option>
                                                            <option value="KG">Kiên Giang</option>
                                                            <option value="KT">Kon Tum</option>
                                                            <option value="LC">Lai Châu</option>
                                                            <option value="LD">Lâm Đồng</option>
                                                            <option value="LS">Lạng Sơn</option>
                                                            <option value="LA">Lào Cai</option>
                                                            <option value="LC">Long An</option>
                                                            <option value="ND">Nam Định</option>
                                                            <option value="NB">Nghệ An</option>
                                                            <option value="NT">Ninh Bình</option>
                                                            <option value="NA">Ninh Thuận</option>
                                                            <option value="PT">Phú Thọ</option>
                                                            <option value="PYN">Phú Yên</option>
                                                            <option value="QB">Quảng Bình</option>
                                                            <option value="QG">Quảng Ngãi</option>
                                                            <option value="QN">Quảng Ninh</option>
                                                            <option value="QT">Quảng Trị</option>
                                                            <option value="ST">Sóc Trăng</option>
                                                            <option value="SL">Sơn La</option>
                                                            <option value="TN">Tây Ninh</option>
                                                            <option value="TB">Thái Bình</option>
                                                            <option value="TNH">Thái Nguyên</option>
                                                            <option value="TH">Thanh Hóa</option>
                                                            <option value="TG">Thừa Thiên Huế</option>
                                                            <option value="TI">Tiền Giang</option>
                                                            <option value="TR">Trà Vinh</option>
                                                            <option value="TQ">Tuyên Quang</option>
                                                            <option value="VL">Vĩnh Long</option>
                                                            <option value="VT">Vĩnh Phúc</option>
                                                            <option value="YN">Yên Bái</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <label class="fw-bold" for="openHours">Giờ hoạt động:</label><br>
                                                    <div class="mb-3 d-flex align-items-center align-content-center">
                                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                                data-target="#selectOpenHoursModal">
                                                            Chọn giờ
                                                        </button>
                                                        <div class="pl-3" id="selectedOpenHours">
                                                            <label style="margin: 0" id="resultText">&#9679; Chưa chọn giờ mở cửa</label>
                                                        </div>
                                                    </div>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="selectOpenHoursModal" tabindex="-1" role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Chọn giờ hoạt động</h5>
                                                                    <button type="button" class="close" data-dismiss="modal"
                                                                            aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <table class="table">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Ngày</th>
                                                                            <th>Bắt đầu</th>
                                                                            <th>Kết thúc</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                            <td>Thứ 2</td>
                                                                            <td><input type="time" class="form-control start-time-input"></td>
                                                                            <td><input type="time" class="form-control end-time-input"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Thứ 3</td>
                                                                            <td><input type="time" class="form-control start-time-input"></td>
                                                                            <td><input type="time" class="form-control end-time-input"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Thứ 4</td>
                                                                            <td><input type="time" class="form-control start-time-input"></td>
                                                                            <td><input type="time" class="form-control end-time-input"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Thứ 5</td>
                                                                            <td><input type="time" class="form-control start-time-input"></td>
                                                                            <td><input type="time" class="form-control end-time-input"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Thứ 6</td>
                                                                            <td><input type="time" class="form-control start-time-input"></td>
                                                                            <td><input type="time" class="form-control end-time-input"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Thứ 7</td>
                                                                            <td><input type="time" class="form-control start-time-input"></td>
                                                                            <td><input type="time" class="form-control end-time-input"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Chủ Nhật</td>
                                                                            <td><input type="time" class="form-control start-time-input"></td>
                                                                            <td><input type="time" class="form-control end-time-input"></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Đóng</button>
                                                                    <button type="button" class="btn btn-primary"
                                                                            id="saveChangesButton">Lưu
                                                                        thay đổi</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="description" class="form-label fw-bold">Mô tả :</label>
                                                    <textarea rows="4" cols="50" name="comment" form="usrform"
                                                        placeholder="Mô tả về cơ sở . . ."></textarea>
                                                </div>
                                            </div>
                                            <input type="button" name="next" class="next action-button" value="Next">
                                        </fieldset>
                                        <!-- Chọn gói tập -->
                                        <fieldset>
                                            <section>
                                                <ul class="nav nav-tabs" id="myTabs" role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link active" id="flexible-tab" data-toggle="tab"
                                                            href="#flexible" role="tab" aria-controls="flexible"
                                                            aria-selected="true">Gói linh hoạt</a>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link" id="fixed-tab" data-toggle="tab"
                                                            href="#fixed" role="tab" aria-controls="fixed"
                                                            aria-selected="false">Gói cố định</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content mt-4">
                                                    <div class="tab-pane fade show active" id="flexible" role="tabpanel"
                                                        aria-labelledby="flexible-tab">
                                                        <div class="row">
                                                            <div class="text-start">
                                                                <table class="table table-bordered"
                                                                    id="dataTableCheckedFlexible" width="100%"
                                                                    cellspacing="0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Thứ tự</th>
                                                                            <th>Tên gói tập</th>
                                                                            <th>Số credits/giờ</th>
                                                                            <th data-toggle="tooltip"
                                                                                data-placement="top"
                                                                                title="Đây là mô tả của thời gian trước khi kích hoạt">
                                                                                Thời hạn trước khi kích hoạt</th>
                                                                            <th data-toggle="tooltip"
                                                                                data-placement="top"
                                                                                title="Đây là mô tả của thời gian sau khi kích hoạt">
                                                                                Thời hạn sau khi kích hoạt</th>
                                                                            <th class="plan-description">Mô tả</th>
                                                                            <th><input type="checkbox" id="checkAll">
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Gói linh hoạt tiết kiệm</td>
                                                                            <td>5</td>
                                                                            <td>30 ngày</td>
                                                                            <td>60 ngày</td>
                                                                            <td>Gói Cố Định Đầy Đủ Chức Năng của phòng
                                                                                tập gym
                                                                                California Gym and Fitness mang đến cho
                                                                                bạn trải
                                                                                nghiệm luyện tập hoàn hảo theo tiêu
                                                                                chuẩn 5 sao, với
                                                                                sự chăm sóc tận tâm và một loạt các tiện
                                                                                nghi cao
                                                                                cấp</td>
                                                                            <td><input type="checkbox"
                                                                                    class="rowCheckbox"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Gói linh hoạt tối ưu</td>
                                                                            <td>5</td>
                                                                            <td>30 ngày</td>
                                                                            <td>60 ngày</td>
                                                                            <td>Gói Cố Định Đầy Đủ Chức Năng của phòng
                                                                                tập gym
                                                                                California Gym and Fitness mang đến cho
                                                                                bạn trải
                                                                                nghiệm luyện tập hoàn hảo theo tiêu
                                                                                chuẩn 5 sao, với
                                                                                sự chăm sóc tận tâm và một loạt các tiện
                                                                                nghi cao
                                                                                cấp</td>
                                                                            <td><input type="checkbox"
                                                                                    class="rowCheckbox"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Gói linh hoạt tiêu chuẩn</td>
                                                                            <td>5</td>
                                                                            <td>30 ngày</td>
                                                                            <td>60 ngày</td>
                                                                            <td>Gói Cố Định Đầy Đủ Chức Năng của phòng
                                                                                tập gym
                                                                                California Gym and Fitness mang đến cho
                                                                                bạn trải
                                                                                nghiệm luyện tập hoàn hảo theo tiêu
                                                                                chuẩn 5 sao, với
                                                                                sự chăm sóc tận tâm và một loạt các tiện
                                                                                nghi cao
                                                                                cấp</td>
                                                                            <td><input type="checkbox"
                                                                                    class="rowCheckbox"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <style>
                                                                .dataTables_length {
                                                                    float: left;
                                                                }

                                                                .dataTables_filter {
                                                                    margin-right: 75px;
                                                                    float: right;
                                                                }
                                                            </style>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane fade" id="fixed" role="tabpanel"
                                                        aria-labelledby="fixed-tab">
                                                        <div class="row">
                                                            <div class="text-start">
                                                                <table class="table table-bordered"
                                                                    id="dataTableCheckedFixed" width="100%"
                                                                    cellspacing="0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Thứ tự</th>
                                                                            <th>Tên gói tập</th>
                                                                            <th>Số credits</th>
                                                                            <th>Thời lượng tập</th>
                                                                            <th data-toggle="tooltip"
                                                                                data-placement="top"
                                                                                title="Đây là mô tả của thời gian trước khi kích hoạt">
                                                                                Thời hạn trước khi kích hoạt</th>
                                                                            <th data-toggle="tooltip"
                                                                                data-placement="top"
                                                                                title="Đây là mô tả của thời gian sau khi kích hoạt">
                                                                                Thời hạn sau khi kích hoạt</th>
                                                                            <th class="fixed-description">Mô tả</th>
                                                                            <th><input type="checkbox" id="checkAll">
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Gói 1</td>
                                                                            <td>5</td>
                                                                            <td>30 ngày</td>
                                                                            <td>10 ngày</td>
                                                                            <td>30 ngày</td>
                                                                            <td>Gói Cố Định Đầy Đủ Chức Năng của phòng
                                                                                tập gym
                                                                                California Gym and Fitness mang đến cho
                                                                                bạn trải
                                                                                nghiệm luyện tập hoàn hảo theo tiêu
                                                                                chuẩn 5 sao, với
                                                                                sự chăm sóc tận tâm và một loạt các tiện
                                                                                nghi cao
                                                                                cấp</td>
                                                                            <td><input type="checkbox"
                                                                                    class="rowCheckbox"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Gói 1</td>
                                                                            <td>5</td>
                                                                            <td>30 ngày</td>
                                                                            <td>10 ngày</td>
                                                                            <td>30 ngày</td>
                                                                            <td>Gói Cố Định Đầy Đủ Chức Năng của phòng
                                                                                tập gym
                                                                                California Gym and Fitness mang đến cho
                                                                                bạn trải
                                                                                nghiệm luyện tập hoàn hảo theo tiêu
                                                                                chuẩn 5 sao, với
                                                                                sự chăm sóc tận tâm và một loạt các tiện
                                                                                nghi cao
                                                                                cấp</td>
                                                                            <td><input type="checkbox"
                                                                                    class="rowCheckbox"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Gói 1</td>
                                                                            <td>5</td>
                                                                            <td>30 ngày</td>
                                                                            <td>10 ngày</td>
                                                                            <td>30 ngày</td>
                                                                            <td>Gói Cố Định Đầy Đủ Chức Năng của phòng
                                                                                tập gym
                                                                                California Gym and Fitness mang đến cho
                                                                                bạn trải
                                                                                nghiệm luyện tập hoàn hảo theo tiêu
                                                                                chuẩn 5 sao, với
                                                                                sự chăm sóc tận tâm và một loạt các tiện
                                                                                nghi cao
                                                                                cấp</td>
                                                                            <td><input type="checkbox"
                                                                                    class="rowCheckbox"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </section>
                                            <input type="button" name="previous" class="previous action-button-previous"
                                                value="Previous" />
                                            <input type="button" name="next" class="next action-button" value="Next" />
                                        </fieldset>
                                        <!-- Quản lý hình ảnh -->
                                        <fieldset>
                                            <h2 class="fs-title">Quản lý hình ảnh</h2>
                                            <div class="row text-start">
                                                <div class="col-md-4">
                                                    <label for="logo" class="form-label fw-bold fs-4">Logo :</label>
                                                    <div class="image-container">
                                                        <img th:src="@{/images/system/no_image.png}" alt="Image">
                                                        <div class="image-actions">
                                                            <button class="img-edit-button" type="button"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="Chỉnh sửa hình ảnh"><i
                                                                    class="fas fa-edit"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="thumbnail" class="form-label fw-bold fs-4">Thumbnail
                                                        :</label>
                                                    <div class="image-container">
                                                        <img th:src="@{/images/system/no_image.png}" alt="Image">
                                                        <div class="image-actions">
                                                            <button class="img-edit-button" type="button"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="Chỉnh sửa hình ảnh"><i
                                                                    class="fas fa-edit"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="banner" class="form-label fw-bold fs-4">Ảnh bìa
                                                        :</label>
                                                    <div class="image-container">
                                                        <img th:src="@{/images/system/no_image.png}" alt="Image">
                                                        <div class="image-actions">
                                                            <button class="img-edit-button" type="button"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="Chỉnh sửa hình ảnh"><i
                                                                    class="fas fa-edit"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="album-separator"></div>
                                            <div class="row text-start">
                                                <div class="col">
                                                    <div class="d-flex justify-content-between pt-3">
                                                        <label for="album" class="form-label fw-bold fs-4">Album
                                                            ảnh:</label>
                                                        <input type="file" id="imageInput" style="display: none;"
                                                            accept="image/*">
                                                        <a class="fw-bold fs-5 text-black" id="addImageButton">Thêm
                                                            ảnh</a>
                                                    </div>
                                                    <div class="row-add">
                                                        <div class="col-md-4">
                                                            <div class="image-container">
                                                                <img th:src="@{/images/system/list-empty.jpg}" alt="Image">
                                                                <div class="image-actions">
                                                                    <button class="img-edit-button" type="button"
                                                                        data-toggle="tooltip" data-placement="top"
                                                                        title="Chỉnh sửa hình ảnh"><i
                                                                            class="fas fa-edit"></i></button>
                                                                    <button class="img-delete-button" type="button"
                                                                        data-toggle="tooltip" data-placement="top"
                                                                        title="Xóa hình ảnh"><i
                                                                            class="fas fa-trash"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="button" name="previous" class="previous action-button-previous"
                                                value="Previous" />
                                            <input type="button" name="next" class="next action-button" value="Next" />
                                        </fieldset>
                                        <!-- Chọn dịch vụ -->
                                        <fieldset>
                                            <div class="text-start">
                                                <table class="table table-bordered" id="dataTableAmenities" width="100%"
                                                    cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>Thứ tự</th>
                                                            <th>Tên dịch vụ</th>
                                                            <th>Ảnh dịch vụ</th>
                                                            <th class="plan-description">Mô tả</th>
                                                            <th><input type="checkbox" id="checkAll">
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Hệ thống tủ khóa</td>
                                                            <td><img src="https://citigym.com.vn/storage/uploads/he-thong-khoa-tu-2.jpg"
                                                                    alt=""></td>
                                                            <td>Hệ thống khóa từ thông minh bảo mật tối đa Esmart Lock
                                                                đầu tiên tại Việt Nam. Hội viên có thể yên tâm gửi đồ và
                                                                khóa tủ bằng vòng tay locker tự động</td>
                                                            <td><input type="checkbox" class="rowCheckbox"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Phòng tập đa năng</td>
                                                            <td><img src="https://citigym.com.vn/storage/uploads/khu-vuc-functional-2.jpg"
                                                                    alt=""></td>
                                                            <td>Khu vực Functional đa dạng các loại máy tập Technogym,
                                                                tích hợp các kênh truyền hình giải trí, kết nối Wifi và
                                                                Bluetooth, sở hữu Cloud lưu trữ tiến trình tập luyện.
                                                            </td>
                                                            <td><input type="checkbox" class="rowCheckbox"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>TIện nghi phòng tập</td>
                                                            <td><img src="https://citigym.com.vn/storage/uploads/quay-giai-khat-2.jpg"
                                                                    alt=""></td>
                                                            <td>Được trang bị đầy đủ tiện nghi 5 sao (quầy giải khát,
                                                                phòng xông hơi, khu vực trang điểm, phòng tắm), là nơi
                                                                mang đến giây phút thư giãn cho bạn.</td>
                                                            <td><input type="checkbox" class="rowCheckbox"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <input type="button" name="previous" class="previous action-button-previous"
                                                value="Previous" />
                                            <input type="button" name="next" class="next action-button" value="Next" />
                                        </fieldset>
                                        <!-- Chọn tiện ích -->
                                        <fieldset>
                                            <div class="text-start">
                                                <table class="table table-bordered" id="dataTableFeatures" width="100%"
                                                    cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>Thứ tự</th>
                                                            <th>Tên tiện ích</th>
                                                            <th>Icon</th>
                                                            <th><input type="checkbox" id="checkAll">
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Bãi đỗ xe</td>
                                                            <td><i class="bi bi-p-circle"></i></td>
                                                            <td><input type="checkbox" class="rowCheckbox"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Quầy nước</td>
                                                            <td><i class="fa-solid fa-martini-glass-citrus"></i></td>
                                                            <td><input type="checkbox" class="rowCheckbox"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Khăn miễn phí</td>
                                                            <td><i class="fas fa-scroll"></i></td>
                                                            <td><input type="checkbox" class="rowCheckbox"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Phòng y tế</td>
                                                            <td><i class="fa-solid fa-suitcase-medical"></i></td>
                                                            <td><input type="checkbox" class="rowCheckbox"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <input type="button" name="previous" class="previous action-button-previous"
                                                value="Previous" />
                                            <input type="button" name="next" class="next action-button" value="Next" />
                                        </fieldset>
                                        <!-- Xác định kinh vĩ độ -->
                                        <fieldset>
                                            <h2 class="fs-title">Thông tin cơ bản</h2>
                                            <div class="row text-start">
                                                <div class="col-md-6 pb-4">
                                                    <img class="guide-img" src="https://bom.so/r1ld1E" alt="guide">
                                                </div>
                                                <div class="col-md-6 pb-4">
                                                    <img class="guide-img" src="https://bom.so/r1ld1E" alt="guide">
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="latitude" class="form-label fw-bold">Vĩ độ :</label>
                                                        <input type="text" class="form-control" id="latitude"
                                                            name="latitude" placeholder="Nhập vĩ độ">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="longitude" class="form-label fw-bold">Kinh độ
                                                            :</label>
                                                        <input type="text" class="form-control" id="longitude"
                                                            name="longitude" placeholder="Nhập kinh độ">
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="button" name="previous" class="previous action-button-previous"
                                                value="Previous" />
                                            <input type="submit" name="submit" class="submit action-button"
                                                value="Submit" />
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <th:block th:replace="gym-owner/common/footer"></th:block>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <th:block th:replace="gym-owner/common/script"></th:block>
</body>

</html>