<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="gym-owner/common/head"></th:block>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="gym-owner/common/sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="gym-owner/common/navbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card">
                    <form id="formSubmit" action="/gym-owner/department/location" method="post" th:object="${updateGymOwnerDepartmentLocation}">
                        <div class="card-header">
                            <h2 class="fw-bold text-primary">Cập nhật vị trí</h2>
                        </div>
                        <div class="card-body">
                            <div class="container form-container">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <label for="latitude" class="form-label fw-bold">Vĩ độ:</label>
                                        <input th:value="${updateGymOwnerDepartmentLocation.getLatitude()}" type="number" class="form-control" id="latitude" name="latitude"
                                               placeholder="Nhập vĩ độ" th:field="*{latitude}"/>
                                        <span th:if="${#fields.hasErrors('latitude')}" class="error" th:errors="*{latitude}"></span>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label for="longitude" class="form-label fw-bold">Kinh độ:</label>
                                        <input th:value="${updateGymOwnerDepartmentLocation.getLongitude()}" type="number" class="form-control" id="longitude" name="longitude"
                                               placeholder="Nhập kinh độ" th:field="*{longitude}"/>
                                        <span th:if="${#fields.hasErrors('longitude')}" class="error" th:errors="*{longitude}"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-6">
                                        <p class="fw-bold">&#9888; Để cung cấp thông tin vị trí chính xác nhất cho phòng tập của bạn, hãy thực hiện các bước sau:</p>
                                        <div class="alert alert-info text-black">
                                            <div>&#10149; Mở ứng dụng bản đồ trực tuyến như <a href="https://www.google.com/maps" target="_blank">Google Maps</a>.</div>
                                            <div>&#10149; Tìm kiếm và chọn vị trí chính xác của phòng tập của bạn.</div>
                                            <div>&#10149; Ấn chuột phải và vị trí phòng tập của bạn vừa tìm sẽ thấy một chuỗi (ví dụ: 10.770336486220907, 106.66632963884305).</div>
                                            <div>&#10149; Chuỗi số đầu tiên là vĩ độ, chuỗi số sau là kinh độ (ví dụ: 10.770336486220907 = vĩ độ, 106.66632963884305 = kinh độ).</div>
                                            <div>&#10149; Sao chép và dán giá trị vĩ độ (Latitude) và kinh độ (Longitude) từ thanh địa chỉ vào các ô tương ứng ở trên.</div>
                                        </div>
                                        <p class="fw-bold">&#10004; Bằng cách này, bạn sẽ đảm bảo rằng thông tin vị trí được nhập chính xác, giúp khách hàng dễ dàng tìm đến phòng tập của bạn.</p>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-xl-6">
                                        <img class="map-image" th:src="@{/images/system/guide.jpg}" alt="">
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center mt-4">
                                    <button type="submit" class="btn btn-primary" id="updateInfo">Lưu thay đổi</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="gym-owner/common/footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="gym-owner/common/logout-modal"></th:block>

<th:block th:replace="gym-owner/common/script"></th:block>

<script>

    $("#updateInfo").click(function (e) {
        e.preventDefault();
        // Thực hiện validation trước khi xử lý form
        if ($("#formSubmit").valid()) {
            Swal.fire({
                title: 'Bạn có muốn cập nhật thông tin',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Có',
                cancelButtonText: 'Không'
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#formSubmit").submit();
                    Swal.fire({
                        title: 'Thành công!',
                        text: 'Thông tin đã được cập nhật thành công.',
                        icon: 'success',
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else {
                    Swal.fire({
                        title: 'Thất bại!',
                        text: 'Thông tin chưa được cập nhật.',
                        icon: 'error',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });
        }
    });

</script>

</body>

</html>