<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="gym-owner/common/head"></th:block>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="gym-owner/common/sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="gym-owner/common/navbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h2 class="fw-bold text-primary">Cập nhật thông tin</h2>
                    </div>
                    <div class="card-body">
                        <form action="/gym-owner/department/info" method="post"
                              th:object="${updateGymOwnerDepartmentInfo}">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <input type="hidden" th:field="*{departmentId}"
                                                   th:value="${updateGymOwnerDepartmentInfo.departmentId}">
                                            <label for="name-brand" class="form-label fw-bold">Tên cơ sở
                                                :</label>
                                            <input th:field="*{departmentName}" type="text" class="form-control"
                                                   id="name-brand"
                                                   name="name-brand"
                                                   th:value="${updateGymOwnerDepartmentInfo.getDepartmentName()}"
                                                   readonly>
                                            <span th:if="${#fields.hasErrors('departmentName')}"
                                                  th:errors="*{departmentName}">Error</span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="phone" class="form-label fw-bold">Số điện thoại
                                                :</label>
                                            <input th:field="*{departmentContactNumber}" type="text"
                                                   class="form-control" id="phone" name="phone"
                                                   placeholder="Nhập số điện thoại"
                                                   th:value="${updateGymOwnerDepartmentInfo.getDepartmentContactNumber()}">
                                            <span th:if="${#fields.hasErrors('departmentContactNumber')}"
                                                  th:errors="*{departmentContactNumber}">Error</span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="address" class="form-label fw-bold">Địa chỉ
                                                :</label>
                                            <input th:field="*{departmentAddress}" type="text" class="form-control"
                                                   placeholder="Địa chỉ"
                                                   th:value="${updateGymOwnerDepartmentInfo.getDepartmentAddress()}">
                                            <span th:if="${#fields.hasErrors('departmentAddress')}"
                                                  th:errors="*{departmentAddress}">Error</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="capacity" class="form-label fw-bold">Sức chứa (Người):</label>
                                            <input th:field="*{capacity}" type="number" class="form-control"
                                                   id="capacity"
                                                   name="capacity"
                                                   th:value="${updateGymOwnerDepartmentInfo.getCapacity()}">
                                            <span th:if="${#fields.hasErrors('capacity')}"
                                                  th:errors="*{capacity}">Error</span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="area" class="form-label fw-bold">Diện tích (m2) :</label>
                                            <input th:field="*{area}" type="text" class="form-control" id="area"
                                                   name="area"
                                                   th:value="${updateGymOwnerDepartmentInfo.getArea()}">
                                            <span th:if="${#fields.hasErrors('area')}" th:errors="*{area}">Error</span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="provinceDropdown" class="form-label fw-bold">Chọn tỉnh/thành
                                                phố:</label>
                                            <select th:field="*{city}" class="form-select" id="provinceDropdown"
                                                    name="province"
                                                    th:value="${updateGymOwnerDepartmentInfo.getCity()}">
                                                <option value="" disabled>Chọn tỉnh/thành phố</option>
                                                <option value="Hà Nội">Hà Nội</option>
                                                <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                                                <option value="An Giang">An Giang</option>
                                                <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                                                <option value="Bắc Giang">Bắc Giang</option>
                                                <option value="Bắc Kạn">Bắc Kạn</option>
                                                <option value="Bạc Liêu">Bạc Liêu</option>
                                                <option value="Bắc Ninh">Bắc Ninh</option>
                                                <option value="Bến Tre">Bến Tre</option>
                                                <option value="Bình Định">Bình Định</option>
                                                <option value="Bình Phước">Bình Phước</option>
                                                <option value="Bình Thuận">Bình Thuận</option>
                                                <option value="Cà Mau">Cà Mau</option>
                                                <option value="Cao Bằng">Cao Bằng</option>
                                                <option value="Đà Nẵng">Đà Nẵng</option>
                                                <option value="Đắk Nông">Đắk Nông</option>
                                                <option value="Đắk Lắk">Đắk Lắk</option>
                                                <option value="Đồng Tháp">Đồng Tháp</option>
                                                <option value="Gia Lai">Gia Lai</option>
                                                <option value="Hà Giang">Hà Giang</option>
                                                <option value="Hải Dương">Hải Dương</option>
                                                <option value="Hải Phòng">Hải Phòng</option>
                                                <option value="Hậu Giang">Hậu Giang</option>
                                                <option value="Hòa Bình">Hòa Bình</option>
                                                <option value="Khánh Hòa">Khánh Hòa</option>
                                                <option value="Kiên Giang">Kiên Giang</option>
                                                <option value="Kon Tum">Kon Tum</option>
                                                <option value="Lai Châu">Lai Châu</option>
                                                <option value="Lâm Đồng">Lâm Đồng</option>
                                                <option value="Lạng Sơn">Lạng Sơn</option>
                                                <option value="Lào Cai">Lào Cai</option>
                                                <option value="Long An">Long An</option>
                                                <option value="Nam Định">Nam Định</option>
                                                <option value="Nghệ An">Nghệ An</option>
                                                <option value="Ninh Bình">Ninh Bình</option>
                                                <option value="Ninh Thuận">Ninh Thuận</option>
                                                <option value="Phú Thọ">Phú Thọ</option>
                                                <option value="Phú Yên">Phú Yên</option>
                                                <option value="Quảng Bình">Quảng Bình</option>
                                                <option value="Quảng Ngãi">Quảng Ngãi</option>
                                                <option value="Quảng Ninh">Quảng Ninh</option>
                                                <option value="Quảng Trị">Quảng Trị</option>
                                                <option value="Sóc Trăng">Sóc Trăng</option>
                                                <option value="Sơn La">Sơn La</option>
                                                <option value="Tây Ninh">Tây Ninh</option>
                                                <option value="Thái Bình">Thái Bình</option>
                                                <option value="Thái Nguyên">Thái Nguyên</option>
                                                <option value="Thanh Hóa">Thanh Hóa</option>
                                                <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                                                <option value="Tiền Giang">Tiền Giang</option>
                                                <option value="Trà Vinh">Trà Vinh</option>
                                                <option value="Tuyên Quang">Tuyên Quang</option>
                                                <option value="Vĩnh Long">Vĩnh Long</option>
                                                <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                                                <option value="Yên Bái">Yên Bái</option>
                                            </select>
                                            <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Error</span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label class="fw-bold" for="openHours">Giờ hoạt động:</label><br>
                                        <div class="mb-3 d-flex align-items-center align-content-center">
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#selectOpenHoursModal">
                                                Chọn giờ
                                            </button>
                                            <div class="pl-3" id="selectedOpenHours">
                                                <label style="margin: 0" id="resultText"></label>
                                            </div>
                                            <span th:if="${#fields.hasErrors('validSchedule')}" th:errors="*{validSchedule}">Error</span>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="selectOpenHoursModal" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Chọn giờ hoạt
                                                            động</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>Ngày</th>
                                                                <th>Bắt đầu</th>
                                                                <th>Kết thúc</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="timeInputsBody">
                                                            <th:block th:each="s : ${departmentSchedules}">
                                                                <tr>
                                                                    <td th:text="${s.getDepartmentScheduleDay()}">Thứ
                                                                        2
                                                                    </td>
                                                                    <td><input
                                                                            th:value="${@timeConversionUtil.convertTimeStringToTimeValue(s.getDepartmentScheduleOpenTime())}"
                                                                            type="time"
                                                                            class="form-control start-time-input"></td>
                                                                    <td><input
                                                                            th:value="${@timeConversionUtil.convertTimeStringToTimeValue(s.getDepartmentScheduleCloseTime())}"
                                                                            type="time"
                                                                            class="form-control end-time-input"></td>
                                                                </tr>
                                                            </th:block>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Đóng
                                                        </button>
                                                        <button type="button" class="btn btn-primary"
                                                                id="saveChangesButton">Lưu
                                                            thay đổi
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="description" class="form-label fw-bold">Mô tả :</label>
                                    <textarea th:field="*{departmentDescription}" style="width: 100%; padding: 10px;"
                                              rows="4" cols="50" name="comment"
                                              th:text="${updateGymOwnerDepartmentInfo.getDepartmentDescription()}">
                                    </textarea>
                                    <span th:if="${#fields.hasErrors('departmentDescription')}"
                                          th:errors="*{departmentDescription}">Error</span>
                                </div>
                            </div>
                            <div class="pt-3 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="gym-owner/common/footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<th:block th:replace="gym-owner/common/script"></th:block>
<script>
    function convertTimeStringToTimeValue(timeString) {
        // Tạo đối tượng Date từ chuỗi thời gian
        const timeValue = new Date("January 1, 2023 " + timeString);

        // Lấy giờ và phút từ đối tượng Date
        const hours = timeValue.getHours();
        const minutes = timeValue.getMinutes();

        // Format giờ và phút thành chuỗi "HH:mm"
        const formattedTime = String(hours).padStart(2, '0') + ':' + String(minutes).padStart(2, '0');

        // Trả về chuỗi "HH:mm"
        return formattedTime;
    }

    function convertDay(day) {
        switch (day) {
            case 'thứ 2':
                return 'Monday';
            case 'thứ 3':
                return 'Tuesday';
            case 'thứ 4':
                return 'Wednesday';
            case 'thứ 5':
                return 'Thursday';
            case 'thứ 6':
                return 'Friday';
            case 'thứ 7':
                return 'Saturday';
            case 'chủ nhật':
                return 'Sunday';
            default:
                return day;
        }
    }

    function updateExistingTimeInputs() {
        console.log('Updating time inputs...');  // Log a message when the function is called
        var tableBody = document.getElementById('timeInputsBody');
        var rows = tableBody.getElementsByTagName('tr');

        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            var cells = row.getElementsByTagName('td');

            if (cells.length === 3) {
                var dayCell = cells[0];
                var openTimeInput = cells[1].getElementsByTagName('input')[0];
                var closeTimeInput = cells[2].getElementsByTagName('input')[0];

                var dayText = dayCell.textContent.trim().toLowerCase();
                var convertedDay = convertDay(dayText);

                openTimeInput.id = convertedDay.toLowerCase() + 'OpenTime';
                openTimeInput.name = convertedDay.toLowerCase() + 'OpenTime';
                closeTimeInput.id = convertedDay.toLowerCase() + 'CloseTime';
                closeTimeInput.name = convertedDay.toLowerCase() + 'CloseTime';
            }
        }
    }

    // $("#saveChangesButton").click(function () {
    //     // Call the updateExistingTimeInputs function when the button is clicked
    //     updateExistingTimeInputs();
    // });
    updateExistingTimeInputs();

</script>
</body>

</html>
