<div th:fragment="list-gym-fr">
    <div class="row row-gym">
        <div class="col-md-6 col-lg-6 col-xl-4 mb-4" th:each="entry : ${departmentDistanceMap}">
            <div class="card">
                <div class="distance" style="border-radius: 20px 20px 0 0;background-color: rgb(214, 214, 214);width: 100%;text-align: center;font-size: 18px;color: rgb(0, 0, 0);padding: 10px;font-weight: 600;">
                    <span><img src="https://cdn-icons-png.flaticon.com/128/5774/5774388.png" style="width: 22px;"></span>
                    <span>Cách bạn <th:block th:text="${#numbers.formatDecimal(entry.value,1,2,'COMMA')}"></th:block> km</span>
                </div>
                <img class="card-img-top" alt="Ảnh phòng tập" th:src="${entry.key.departmentWallpaperUrl}">
                <div class="card-body">
                    <h3 class="card-title" th:text="${entry.key.departmentName}"></h3>
                    <p class="card-text"><i class="bi bi-geo-alt"></i>
                        <th:block th:text="${entry.key.departmentAddress}"></th:block>
                    </p>
                    <p class="phone-number" style="margin-top: -50px"><i class="bi bi-telephone"></i>
                        <th:block th:text="${entry.key.departmentPhone}"></th:block>
                    </p>
                    <div class="d-flex justify-content-between">
                        <div class="extras">
                            <div class="distance fw-bold">
<!--                                <i class="bi bi-geo"></i> Khoảng cách: <th:block th:text="${#numbers.formatDecimal(entry.value,1,2,'COMMA')}"></th:block> km-->
                            </div>
                        </div>
                    </div>
                    <div class="review-section">
                        Đánh giá:
                        <div class="rating" th:attr="data-star=${entry.key.rating}"></div>
                    </div>
<!--                    <div class="justify-content-between">-->
                        <div class="row gym-price justify-content-center">
                            <div class="col">
                                <h6>Giá Gói linh hoạt:</h6>
                                <h5 class="text-money">10 <span class="credit" style="font-size: 14px;">Credit/Giờ</span></h5>
                            </div>
                            <div class="col">
                                <h6>Giá Gói cố định:</h6>
                                <h5 class="text-money">100-500 <span class="credit" style="font-size: 14px;">Credit</span></h5>
                            </div>
                        </div>
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>