<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Trở thành chủ thương hiệu</title>
  <meta content="Gym Brand Registration" name="description">
  <meta content="Linh" name="keywords">

  <th:block th:include="common/vendor-head"></th:block>

  <!-- Template Main CSS File -->
  <link th:href="@{/user-homepage-assets/assets/css/style.css}" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="common/navbar :: navbar"></header>

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs bg-black">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <ol>
        <li><a href="/static">Fitpass</a></li>
        <li>Trở thành đối tác</li>
      </ol>
    </div>
  </div>
</section><!-- End Breadcrumbs -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about pt-5 pb-5">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img th:src="@{/user-homepage-assets/assets/img/brand/about-brand.jpg}" class="img-fluid rounded" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
             data-aos-delay="100">
          <h3>Trở thành đối tác?</h3>
          <p class="fw-bold">Đăng ký trực tuyến (trong vòng chưa đầy 10 phút).</p>
          <p>Với giao diện dễ dàng và thao tác nhanh chóng bạn có tham gia vào hệ thống của chúng tôi.</p>
          <p class="fw-bold">Tạo các gói tập và dịch vụ miễn phí.</p>
          <p>Cho phép bạn có thể tự do thêm các gói tập và dịch vụ của riêng bạn.</p>
          <p class="fw-bold">Tạo thêm thu nhập cho cơ sở của bạn.</p>
          <p>Với độ phủ sóng trải dài toàn Việt Nam hệ thống của chúng tôi cho phép bạn tiếp cận được mọi
            nguồn khách hàng.</p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <section id="top-brand" class="top-brand pt-5">
    <h3 class="text-center mt-4 fw-bold">Tham gia một mạng lưới các chuỗi phòng Gym hàng đầu</h3>
    <p class="container text-center">Các chuỗi phòng Gym với đủ mọi đối tác với ClassPass. Cho dù bạn là một thương hiệu lớn hay mới bắt đầu, bạn sẽ có một môi trường công bằng như nhau.</p>
    <div class="row p-3">
      <div class="col text-center">
        <img th:src="@{/user-homepage-assets/assets/img/brand/icon/all-icon.jpg}" alt="ClassPass Partner Logo" class="container center-image">
      </div>
    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="common/footer :: footer"></footer>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<th:block th:insert="common/vendor-script"></th:block>

</body>
</html>