<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quên mật khẩu</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <th:block th:insert="~{common/vendor-head}"></th:block>

    <link th:href="@{/user-homepage-assets/assets/css/MyStyle.css}" rel="stylesheet">

</head>

<body class="forgot-pw-body">
<header id="header">
    <div class="container d-flex align-items-center justify-content-lg-between">
        <h1 class="logo me-auto me-lg-0"><a th:href="@{/homepage}">Fitpass<span>.</span></a></h1>
        <h4 class="forgot-pw-title">Đặt lại mật khẩu</h4>
    </div>
</header>
<div class="container forgot-pw-content">
    <!-- Enter gmail tab -->
    <div class="row" id="enter-gmail">
        <div class="col-md-6 col-lg-4 col-xs-8 mx-auto">
            <div class="box">
                <div class="head">
                        <span class="back-icon">
                            <a th:href="@{/login}">
                                <img style="width: 25px;" th:src="@{/user-homepage-assets/assets/img/back.png}">
                            </a>
                        </span>
                    <span class="head-title">Đặt lại mật khẩu</span>
                </div>
                <div class="row justify-content-center">
                    <input id="email" type="text" placeholder="Nhập email của bạn">
                </div>
                <div class="row justify-content-center">
                    <button id="move-to-enter-code" class="next-btn" type="submit">TIẾP THEO</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Enter code tab -->
    <div class="d-none row justify-content-lg-between" id="confirm-tab">
        <div class="col-md-6 col-lg-6 col-xs-12 mx-auto">
            <div class="box">
                <div class="head">
                        <span class="back-icon" id="back-to-tab-1">
                            <img style="width: 25px;" th:src="@{/user-homepage-assets/assets/img/back.png}">
                        </span>
                    <span class="head-title">Đặt lại mật khẩu</span>
                </div>
                <div class="row gmail-icon justify-content-center mt-3">
                    <img th:src="@{/user-homepage-assets/assets/img/send-mail.png}">
                </div>
                <div class="row noti-text justify-content-center mt-4">
                    <div>Mật khẩu mới của bạn đã được gửi đến gmail</div>
                    <div class="mt-1 fw-bold" id="emailSend">nguyenvana@gmail.com</div>
                    <div class="mt-1">Vui lòng kiểm tra</div>
                </div>
                <div class="row justify-content-center mt-4">
                    <a style="text-align: center;" th:href="@{/login}">
                        <button id="move-to-reset-pw" class="next-btn">OK</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Vendor JS Files -->
<th:block th:include="common/vendor-script"></th:block>


<!-- Template Main JS File -->
<script>
    let enter_gmail_tab = document.getElementById("enter-gmail");
    let confirm_tab = document.getElementById("confirm-tab");

    let move_to_tab_2 = document.getElementById("move-to-enter-code");
    let back_to_tab_1 = document.getElementById("back-to-tab-1");

    confirm_tab.style.display = "none";

    move_to_tab_2.addEventListener("click", function () {
        Swal.fire({
            title: 'Loading...',
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading()
            }
        });

        $.ajax({
            url: "/forgot-password/reset",
            type: "GET",
            data: {
                email: $("#email").val()
            },
            beforeSend: function () {
                // Swal2 loading đã được hiển thị, không cần làm gì thêm ở đây
            },
            success: function (data) {
                // Đóng Swal2 loading khi AJAX thành công
                Swal.close();

                console.log(data);
                enter_gmail_tab.style.display = "none";
                confirm_tab.style.display = "block";
                $("#emailSend").text($("#email").val());
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Đóng Swal2 loading khi có lỗi AJAX
                Swal.close();

                if (jqXHR.status == 400) {
                    swal.fire("Email không tồn tại", "", "error");
                }
                console.log(errorThrown);
            }
        });
    });
    back_to_tab_1.addEventListener("click", function () {
        confirm_tab.style.display = "none";
        enter_gmail_tab.style.display = "block";
    });

</script>
</body>

</html>