<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Trở thành chủ thương hiệu</title>
    <meta content="Gym Brand Registration" name="description">
    <meta content="Linh" name="keywords">

    <th:block th:include="common/vendor-head"></th:block>

    <!-- Template Main CSS File -->
    <link th:href="@{/user-homepage-assets/assets/css/style.css}" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="common/navbar :: navbar"></header>

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs bg-black">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <ol>
                <li><a href="/static">Fitpass</a></li>
                <li>Trở thành đối tác</li>
            </ol>
        </div>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Hero Section ======= -->
<section class="d-flex align-items-center justify-content-center" id="hero">
    <div class="row mt-3 mb-5" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-5 card-bg d-flex align-items-center justify-content-center">
            <div class="card-2">
                <div class="card-body">
                    <h3 class="fw-bold">Đăng kí phòng tập của bạn vào hệ thống của chúng tôi miễn phí</h3>
                    <p class="">Tham gia cùng hơn 41,500 phòng tập, phòng gym, các địa điểm chăm sóc sức khỏe và làm
                        đẹp để phát triển doanh nghiệp của mình với FitPass - bắt đầu một cách miễn phí ngay hôm
                        nay.</p>
                    <p class="fw-bold"><i class="bi bi-clock"></i> Đăng ký nhanh trong vòng 10 phút</p>
                    <p class="fw-bold"><i class="bi bi-calendar-event"></i> Tạo các gói tập và dịch vụ miễn phí</p>
                    <p class="fw-bold"><i class="bi bi-person-add"></i> Tận dụng người dùng có phạm vi toàn quốc của
                        chúng
                        tôi, bao gồm cả người đăng ký cá nhân và doanh nghiệp</p>
                    <p class="fw-bold"><i class="bi bi-currency-dollar"></i> Tạo thêm thu nhập cho cơ sở của bạn</p>
                    <p class="fst-italic">Đã là đối tác của FitPass, nhưng cần sự trợ giúp? Liên hệ với chúng tôi <a
                            href="#">tại đây</a></p>
                </div>
            </div>
        </div>
        <div class="col-xl-7">
            <div class="container2 text-white" data-aos="zoom-in">
                <h3 class="fw-bold mb-5">Sẵn sàng để bắt đầu kiếm thêm thu nhập?</h3>
                <h4 class="mb-5">Đăng kí phòng tập của bạn trên FitPass, và kiếm thêm thu nhập.</h4>
                <form action="/become-a-partner/submitForm" id="formSubmit" method="post" th:object="${becomePartnerForm}">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label class="form-label" for="venueName">Tên thương hiệu :</label>
                            <input class="form-control" id="venueName" th:field="*{brandName}" type="text" name="brandName">
                            <span class="error" th:errors="*{brandName}" th:if="${#fields.hasErrors('brandName')}">photoUrl Error</span>
                        </div>
                        <div class="col-md-6 mb-4">
                            <label class="form-label" for="location">Địa chỉ :</label>
                            <input class="form-control" id="location" th:field="*{address}" type="text" name="address">
                            <span class="error" th:errors="*{address}" th:if="${#fields.hasErrors('address')}">photoUrl Error</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label class="form-label" for="fullName">Họ và Tên :</label>
                            <input class="form-control" id="fullName" th:field="*{brandOwnerName}" type="text" name="brandOwnerName">
                            <span class="error" th:errors="*{brandOwnerName}" th:if="${#fields.hasErrors('brandOwnerName')}">photoUrl Error</span>
                        </div>
                        <div class="col-md-6 mb-4">
                            <label class="form-label" for="phoneNumber">Số điện thoại :</label>
                            <input class="form-control" id="phoneNumber" th:field="*{contactNumber}" type="tel" name="contactNumber">
                            <span class="error" th:errors="*{contactNumber}" th:if="${#fields.hasErrors('contactNumber')}">photoUrl Error</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label class="form-label" for="websiteURL">Địa chỉ trang web ( nếu có )*</label>
                            <input class="form-control" id="websiteURL" th:field="*{webUrl}" type="text">
                            <span class="error" th:errors="*{webUrl}" th:if="${#fields.hasErrors('webUrl')}">photoUrl Error</span>
                        </div>
                        <div class="col-md-6 mb-4">
                            <label class="form-label" for="email">Email liên hệ :</label>
                            <input class="form-control" id="email" th:field="*{contactEmail}" type="email" name="contactEmail">
                            <span class="error" th:errors="*{contactEmail}" th:if="${#fields.hasErrors('contactEmail')}">photoUrl Error</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-1">
                        <div class="g-recaptcha" data-type="image" data-sitekey="6LcFay8pAAAAAC8kNqKdxhr0s0DuLtdUhYO_Gq4U"></div>
                    </div>
                    <div th:if="${#fields.hasGlobalErrors()}"> <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p> </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="btn btn-primary" id="updateInfo" type="submit" >Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section class="about pt-5 pb-5" id="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img alt="" class="img-fluid rounded" th:src="@{/user-homepage-assets/assets/img/brand/about-brand.jpg}">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                     data-aos-delay="100">
                    <h3>Trở thành đối tác?</h3>
                    <p class="fw-bold">Đăng ký trực tuyến (trong vòng chưa đầy 10 phút).</p>
                    <p>Với giao diện dễ dàng và thao tác nhanh chóng bạn có tham gia vào hệ thống của chúng tôi.</p>
                    <p class="fw-bold">Tạo các gói tập và dịch vụ miễn phí.</p>
                    <p>Cho phép bạn có thể tự do thêm các gói tập và dịch vụ của riêng bạn.</p>
                    <p class="fw-bold">Tạo thêm thu nhập cho cơ sở của bạn.</p>
                    <p>Với độ phủ sóng trải dài toàn Việt Nam hệ thống của chúng tôi cho phép bạn tiếp cận được mọi
                        nguồn khách hàng.</p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <section class="top-brand pt-5" id="top-brand">
        <h3 class="text-center mt-4 fw-bold">Tham gia một mạng lưới các chuỗi phòng Gym hàng đầu</h3>
        <p class="container text-center">Các chuỗi phòng Gym với đủ mọi đối tác với ClassPass. Cho dù bạn là một thương hiệu lớn hay mới bắt đầu, bạn sẽ có một môi trường công bằng như nhau.</p>
        <div class="row p-3">
            <div class="col text-center">
                <img alt="ClassPass Partner Logo" class="container center-image" th:src="@{/user-homepage-assets/assets/img/brand/icon/all-icon.jpg}">
            </div>
        </div>
    </section>

    <section class="about" id="service">
        <h3 class="text-center mt-4 fw-bold">Bạn có các dịch vụ nổi bật? Hãy cho chúng tôi biết</h3>
        <p class="container text-center">Với FitPass, bạn có thể tạo ra tất cả các trải nghiệm khác nhau mà không
            tốn thêm chi phí nào. Người dùng sẽ có thể tìm và sử dụng các dịch vụ của bạn bằng cách tìm kiếm trực
            tiếp studio của bạn, hoặc bằng cách tìm kiếm trên trang riêng của cơ sở của bạn đã cung cấp cho chúng
            tôi.</p>
        <div class="row p-3">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <div class="card-3 mb-4">
                    <img alt="Dịch vụ 1" class="card-img-top" th:src="@{/user-homepage-assets/assets/img/brand/service/boxing.jpg}">
                    <div class="card-body">
                        <label>Boxing</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <div class="card-3 mb-4">
                    <img alt="Dịch vụ 2" class="card-img-top" th:src="@{/user-homepage-assets/assets/img/brand/service/yoga.jpg}">
                    <div class="card-body">
                        <label>Yoga</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <div class="card-3 mb-4">
                    <img alt="Dịch vụ 3" class="card-img-top" th:src="@{/user-homepage-assets/assets/img/brand/service/outdoor.jpg}">
                    <div class="card-body">
                        <label>Tập ngoài trời</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <div class="card-3 mb-4">
                    <img alt="Dịch vụ 4" class="card-img-top" th:src="@{/user-homepage-assets/assets/img/brand/service/running.jpg}">
                    <div class="card-body">
                        <label>Chạy bộ</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <div class="card-3 mb-4">
                    <img alt="Dịch vụ 5" class="card-img-top" th:src="@{/user-homepage-assets/assets/img/brand/service/spa.jpg}">
                    <div class="card-body">
                        <label>Spa</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                <div class="card-3 mb-4">
                    <img alt="Dịch vụ 6" class="card-img-top" th:src="@{/user-homepage-assets/assets/img/brand/service/thien.jpg}">
                    <div class="card-body">
                        <label>Thiền</label>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="common/footer :: footer"></footer>

<div id="preloader"></div>
<a class="back-to-top d-flex align-items-center justify-content-center" href="#"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <th:block th:insert="common/vendor-script"></th:block>
</body>
</html>

