<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Tiết Cơ Sở</title>
    <meta name="description" content="Gym Department Page">
    <meta name="keywords" content="My">

    <th:block th:include="common/vendor-head"></th:block>

    <link th:href="@{https://www.w3schools.com/w3css/4/w3.css}" rel="stylesheet" >
    <link th:href="@{/user-homepage-assets/assets/css/MyStyle.css}" rel="stylesheet">
</head>

<body class="body-gym-details">

<!-- ======= Header ======= -->
<header th:replace="common/navbar :: navbar"></header>

<div class="gym-first-info container">
    <div class="gym-dept-img">
        <input type="hidden" id="departmentId" th:value="${department.getDepartmentId()}">
        <img th:src="${department.getDepartmentWallpaperUrl()}">
    </div>
    <div class="gym-picture">
        <img style="" th:src="${department.departmentLogoUrl}">
        <div class="gym-name-cover">
            <h3 th:text="${department.departmentName}"></h3>
        </div>
    </div>
</div>
<div class="gym-container container">
    <div class="about-our-gym row justify-content-center mt-4">
        <div class="about-our-gym-1 col-md-6">
            <h3 class="info-title">Về phòng gym của chúng tôi</h3>
            <div style="background-color: rgb(255, 187, 0); height: 3px; width: 150px;"></div>
            <div class="gym-intro"  th:text="${department.departmentDescription}"></div>
            <hr style="margin-top: 20px; color: black">
            <div class="gym-address">
                <i class="bi bi-geo-alt-fill"></i>
                <div style="margin-left: 10px;"  th:text="${department.departmentAddress}"></div>
            </div>
            <div class="gym-address">
                <i class="bi bi-telephone-outbound-fill"></i>
                <div style="margin-left: 10px;" th:text="${department.departmentContactNumber}"></div>
            </div>
            <div class="gym-address">
                <img style="width: 20px" th:src="@{/user-homepage-assets/assets/img/dept-area.png}">
                <div style="margin-left: 10px;">Diện tích: <span th:text="${department.area}"></span> m²</div>
            </div>
            <div class="gym-address">
                <img style="width: 20px" th:src="@{/user-homepage-assets/assets/img/dept-capacity.png}">
                <div style="margin-left: 10px;">Sức chứa: <span th:text="${department.capacity}"></span> người</div>
            </div>
            <div class="gym-address">
                <i class="bi bi-alarm-fill"></i>
                <div id="myBtn" style="margin-left: 10px;">Giờ hoạt động</div>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content row-sm-6">
                        <div class="schedule-modal-header">
                            <div style="display: flex;">
                                <h3>Giờ hoạt động</h3>
                            </div>
                            <span class="close">&times;</span>
                        </div>
                        <div class="week">
                            <div th:each="schedule : ${departmentSchedules}" class="day-line">
                                <div class="day" th:text="${schedule.departmentScheduleDay}"></div>
                                <div class="time">
                                    <span th:text="${schedule.departmentScheduleOpenTime}"></span>
                                    <span>-</span>
                                    <span th:text="${schedule.departmentScheduleCloseTime}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank col-md-6 mt-4" style="border-radius: 10px;">
            <iframe
                    width="100%"
                    height="100%"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    th:src="@{'https://www.google.com/maps/embed/v1/place?key=AIzaSyDn-1MGDGwJBHRvtO_asu53bAF1IzdJ9Bs&q='+${department.getLatitude()}+','+${department.getLongitude()}}">
            </iframe>
        </div>
    </div>

<!--    Tiện ích-->
    <h3 class="info-title" style="color: black; margin-top: 80px; font-weight: 600">Tiện ích hàng đầu</h3>
    <div style="background-color: rgb(255, 187, 0); height: 3px; width: 110px;"></div>
    <!-- Gym service -->
    <div class="container-fluid">
        <div class="gym-service">
            <div class="service-type mb-3" th:each="feature: ${departmentFeatures}">
                <div data-bs-toggle="tooltip" th:attr="title=${feature.feature.getFeatureName()}"
                     class="gym-service-logo" th:utext="${feature.feature.getFeatureIcon()}">
                </div>
            </div>
        </div>
    </div>
<!--    Dịch vụ-->
    <h3 class="info-title" style="color: black; margin-top: 30px; font-weight: 600">Dịch vụ</h3>
    <div style="background-color: rgb(255, 187, 0); height: 3px; width: 60px;"></div>
    <div class="list-service-wrapper container mt-2">
        <button th:if="${departmentAmenities.size() > 4}" class="left" onclick="leftScroll()">
            <img style="width: 30px;" th:src="@{/user-homepage-assets/assets/img/left-scroll.png}">
        </button>
        <div class="scroll-services row mt-4">
            <div class="col-lg-4 col-md-5 col-xl-3 col-xxl-3"  th:each="amenitie: ${departmentAmenities}">
                <div class="child">
                <div class="brand-service-img" th:style="'background-image: url(\'' + ${amenitie.brandAmenitieId.getPhotoUrl()} + '\'); background-size: cover; object-fit: cover;'"></div>
                <div class="service-name" th:text="${amenitie.brandAmenitieId.getAmenitieName()}"></div>
                <div class="service-descript" th:text="${amenitie.brandAmenitieId.getDescription()}"></div>
                </div>
            </div>
        </div>
        <button th:if="${departmentAmenities.size() > 4}" class="right" onclick="rightScroll()">
            <img style="width: 30px;" th:src="@{/user-homepage-assets/assets/img/right-scroll.png}">
        </button>
    </div>

    <h3 class="info-title" style="color: black; margin-top: 40px; font-weight: 600">Danh sách gói tập</h3>
    <div style="background-color: rgb(255, 187, 0); height: 3px; width: 150px;"></div>
    <div class="list-plan-wrapper container">
        <button th:if="${gymPlans.size() > 3}" class="left l1" onclick="leftScroll()">
            <img style="width: 30px;" th:src="@{/user-homepage-assets/assets/img/left-plan.png}"></img>
        </button>
        <div class="scroll-plans row">
            <div class="col-xl-4 col-lg-6 col-md-8" th:each="gymPlan : ${gymPlans}">
            <div class="child" th:classappend="${gymPlan.gymPlanType.equalsIgnoreCase('Gói theo giờ') ? 'special-plan': child}">
                <div class="plan-description">
                    <div style="" class="gym-plan-name" th:text="${gymPlan.getGymPlanName()}"></div>
                    <div style="" class="gym-plan-price">
                        <div style="display: flex; align-items: center">
                            <span class="plan-price" th:if="${gymPlan.gymPlanType.equalsIgnoreCase('Gói không theo giờ')}" th:text="${gymPlan.price}"></span>
                            <span class="plan-price" th:if="${gymPlan.gymPlanType.equalsIgnoreCase('Gói theo giờ')}" th:text="${gymPlan.pricePerHours}"></span>
                            <span style="margin-left: 5px">credits</span>
                        </div>
                    </div>
                    <div class="gym-plan-description" th:text="${gymPlan.getGymPlanDescription()}"></div>

                    <div class="gym-duration fw-bold" th:if="${gymPlan.duration > 0}">
                        <span>Thời lượng gói tập :</span>
                        <span class="day-duration" th:text="${gymPlan.duration}"></span>
                        <span class="day-duration">ngày</span>
                    </div>
                    <div class="fw-bold mt-1" th:text="'Thời hạn trước khi kích hoạt : ' + ${gymPlan.planBeforeActiveValidity} +' ngày'"></div>
                    <div style="padding-bottom: 15px"  class="fw-bold mt-1" th:text="'Thời hạn sau khi kích hoạt : ' + ${gymPlan.planAfterActiveValidity} + ' ngày'"></div>
                </div>
                <button type="button"  th:attr="data-gym-plan-id=${gymPlan.getGymPlanId()}, data-department-id=${department.getDepartmentId()}" data-quantity="1" onclick="addToCart()">
                        Thêm vào giỏ hàng
                </button>
            </div>
            </div>

        </div>
        <button th:if="${gymPlans.size() > 3}" class="right r1" onclick="rightScroll()">
            <img style="width: 30px;" th:src="@{/user-homepage-assets/assets/img/right-plan.png}"></img>
        </button>
    </div>

    <h3 class="info-title" style="color: black; margin-top: 50px; font-weight: 600">Album ảnh</h3>
    <div style="background-color: rgb(255, 187, 0); height: 3px; width: 100px;"></div>

    <div style="margin: auto;">
        <div class="list-image">
            <button class="leftImage" onclick="leftScroll()">
                <img style="width: 30px;" th:src="@{/user-homepage-assets/assets/img/left-scroll.png}">
            </button>
            <div class="image-scroll-wrapper squares row">
            <div th:each="album : ${departmentAlbums}">
                <img onclick="onClickImage(this)" class="w3-hover-opacity" th:src="${album.photoUrl}" />
            </div>
            </div>
            <button class="rightImage" onclick="rightScroll()">
                <img style="width: 30px;" th:src="@{/user-homepage-assets/assets/img/right-scroll.png}">
            </button>
        </div>
        <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
            <div style="text-align: center;">
                <span class="w3-button w3-hover-red ">&times;</span>
                <div class="w3-animate-zoom" >
                    <img id="img01" >
                </div>
            </div>
        </div>
    </div>

    <h3 class="info-title" style="color: black; font-weight: 600; margin-top: 50px">Đánh giá từ người tập</h3>
    <div style="background-color: rgb(255, 187, 0); height: 3px; width: 150px;"></div>
    <div class="rating-feedback container mx-auto" id="ratingfeedback">
        <div class="rating-option row">
            <div class="rating-avg col-md-3 col-lg-2">
                <div style="display: flex; position: relative">
                    <div class="rating-point" th:text="${departmentFeedbacks.avgRating}"></div>
                    <div class="rating-max">trên 5</div>
                </div>
                <div class="rating" th:attr="data-star=${departmentFeedbacks.avgRating}"></div>
            </div>
            <div class="button-list col-md-9 col-lg-10">
            <div class="row">
            <button id="btnSortAllRating" type="button" class="btn btn-warning">
                Tất cả (<span th:text="${departmentFeedbacks.total}"></span>)
            </button>
            <button id="btnSort5Rating" type="button" class="btn btn-warning">
                5 sao (<span th:text="${departmentFeedbacks.total5}"></span>)
            </button>
            <button id="btnSort4Rating" type="button" class="btn btn-warning">
                4 sao (<span th:text="${departmentFeedbacks.total4}"></span>)
            </button>
            <button id="btnSort3Rating" type="button" class="btn btn-warning">
                3 sao (<span th:text="${departmentFeedbacks.total3}"></span>)
            </button>
            <button id="btnSort2Rating" type="button" class="btn btn-warning">
                2 sao (<span th:text="${departmentFeedbacks.total2}"></span>)
            </button>
            <button id="btnSort1Rating" type="button" class="btn btn-warning">
                1 sao (<span th:text="${departmentFeedbacks.total1}"></span>)
            </button>
                </div>
            </div>
        </div>
        <div id="feedback-list">

        </div>
        <div class="pagination-wrapper">
            <div class="pagination justify-content-center" id="paginationFeedback">
            </div>
        </div>
    </div>
</div>




<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Gp<span>.</span></h3>
                        <p>
                            A108 Adam Street <br>
                            NY 535022, USA<br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Gp</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->
<!--<div id="preloader"></div>-->
<!--<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i-->
<!--        class="bi bi-arrow-up-short"></i></a>-->

<th:block th:include="common/vendor-script"></th:block>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    function onClickImage(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
    }
    document.addEventListener("DOMContentLoaded", function () {
        const scrollImages = document.querySelector(".scroll-plans");
        const scrollLength = scrollImages.scrollWidth - scrollImages.clientWidth;
        const leftButton = document.querySelector(".left.l1");
        const rightButton = document.querySelector(".right.r1");

        function checkScroll() {
            const currentScroll = scrollImages.scrollLeft;
            if (currentScroll === 0) {
                leftButton.setAttribute("disabled", "true");
                rightButton.removeAttribute("disabled");
            } else if (currentScroll === scrollLength) {
                rightButton.setAttribute("disabled", "true");
                leftButton.removeAttribute("disabled");
            } else {
                leftButton.removeAttribute("disabled");
                rightButton.removeAttribute("disabled");
            }
        }

        scrollImages.addEventListener("scroll", checkScroll);
        window.addEventListener("resize", checkScroll);
        checkScroll();

        function leftScroll() {
            scrollImages.scrollBy({
                left: -500,
                behavior: "smooth"
            });
        }

        function rightScroll() {
            scrollImages.scrollBy({
                left: 500,
                behavior: "smooth"
            });
        }

        leftButton.addEventListener("click", leftScroll);
        rightButton.addEventListener("click", rightScroll);
    });


    //JS dich vu
    document.addEventListener("DOMContentLoaded", function () {
        const scrollImages = document.querySelector(".scroll-services");
        const scrollLength = scrollImages.scrollWidth - scrollImages.clientWidth;
        const leftButton = document.querySelector(".left");
        const rightButton = document.querySelector(".right");

        function checkScroll() {
            const currentScroll = scrollImages.scrollLeft;
            if (currentScroll === 0) {
                leftButton.setAttribute("disabled", "true");
                rightButton.removeAttribute("disabled");
            } else if (currentScroll === scrollLength) {
                rightButton.setAttribute("disabled", "true");
                leftButton.removeAttribute("disabled");
            } else {
                leftButton.removeAttribute("disabled");
                rightButton.removeAttribute("disabled");
            }
        }

        scrollImages.addEventListener("scroll", checkScroll);
        window.addEventListener("resize", checkScroll);
        checkScroll();

        function leftScroll() {
            scrollImages.scrollBy({
                left: -450,
                behavior: "smooth"
            });
        }

        function rightScroll() {
            scrollImages.scrollBy({
                left: 500,
                behavior: "smooth"
            });
        }

        leftButton.addEventListener("click", leftScroll);
        rightButton.addEventListener("click", rightScroll);
    });

    document.addEventListener("DOMContentLoaded", function () {
        const scrollImages = document.querySelector(".image-scroll-wrapper");
        const scrollLength = scrollImages.scrollWidth - scrollImages.clientWidth;
        const leftButton = document.querySelector(".leftImage");
        const rightButton = document.querySelector(".rightImage");

        function checkScroll() {
            const currentScroll = scrollImages.scrollLeft;
            if (currentScroll === 0) {
                leftButton.setAttribute("disabled", "true");
                rightButton.removeAttribute("disabled");
            } else if (currentScroll === scrollLength) {
                rightButton.setAttribute("disabled", "true");
                leftButton.removeAttribute("disabled");
            } else {
                leftButton.removeAttribute("disabled");
                rightButton.removeAttribute("disabled");
            }
        }

        scrollImages.addEventListener("scroll", checkScroll);
        window.addEventListener("resize", checkScroll);
        checkScroll();

        function leftScroll() {
            scrollImages.scrollBy({
                left: -500,
                behavior: "smooth"
            });
        }

        function rightScroll() {
            scrollImages.scrollBy({
                left: 500,
                behavior: "smooth"
            });
        }

        leftButton.addEventListener("click", leftScroll);
        rightButton.addEventListener("click", rightScroll);
    });

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function addToCart() {
        var button = event.target;
        // Lấy giá trị từ data-attribute
        var gymPlanId = button.getAttribute('data-gym-plan-id');
        var quantity = button.getAttribute('data-quantity');
        var departmentId = button.getAttribute('data-department-id');

        fetch("/cart/add", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                gymPlanId: gymPlanId,
                quantity: quantity,
                departmentId: departmentId
            }),
        })
            .then((response) => {
                if (!response.ok) {
                    return response.text().then((errorMessage) => {
                        console.error(errorMessage);
                        var toastMixin = Swal.mixin({
                            toast: true,
                            icon: 'error',
                            title: 'General Title',
                            animation: false,
                            position: 'top-right',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                                toast.style.top = '70px';
                            }
                        });
                        toastMixin.fire({
                            animation: true,
                            title: errorMessage
                        });
                    });
                } else {

                        var toastMixin = Swal.mixin({
                            toast: true,
                            icon: 'success',
                            title: 'General Title',
                            animation: false,
                            position: 'top-right',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                                toast.style.top = '70px';
                            }
                        });
                        toastMixin.fire({
                            animation: true,
                            title: 'Thêm vào giỏ hàng thành công'
                        });
                        updateQuantityCart();

                }
            })
            .catch((error) => {
                console.error('Lỗi kết nối:', error);
                // Xử lý lỗi kết nối nếu cần
            });
    }

</script>
<script>
    $(document).ready(function () {
        loadDepartmentFeedback(1);
    });
    var sortRating = "";

    $("#btnSortAllRating").click(function () {
        sortRating = "";
        loadDepartmentFeedback(1);
    });

    $("#btnSort5Rating").click(function () {
        sortRating = "5";
        loadDepartmentFeedback(1);
    });

    $("#btnSort4Rating").click(function () {
        sortRating = "4";
        loadDepartmentFeedback(1);
    });

    $("#btnSort3Rating").click(function () {
        sortRating = "3";
        loadDepartmentFeedback(1);
    });

    $("#btnSort2Rating").click(function () {
        sortRating = "2";
        loadDepartmentFeedback(1);
    });

    $("#btnSort1Rating").click(function () {
        sortRating = "1";
        loadDepartmentFeedback(1);
    });

    function loadDepartmentFeedback(page) {
        $.ajax({
            url: '/department/department-feedback',
            type: 'GET',
            data: {
                departmentId: $("#departmentId").val(),
                page: page,
                size: 2,
                sortRating: sortRating
            },
            success: function (data) {
                console.log(data);
                // Hiển thị danh sách người dùng
                var feedbackListHtml = '';
                $.each(data.userFeedbacks, function (index, feedback) {
                    feedbackListHtml += `
                            <div class="user-rating">
                <div class="user-rating-avatar">
                    <img style="width: 60px; margin: auto;" src="https://cdn-icons-png.flaticon.com/128/4333/4333609.png">
                </div>
                <div class="user-rating-description">
                    <div>${feedback.userName}</div>
                    <i style="height: 25px;" data-star="${feedback.rating}"></i>
                    <div>${formatDateTime(feedback.feedbackTime)}</div>
                    <div class="feedback-comment">${feedback.comments}</div>
                </div>
            </div>
`;
                });

                $('#feedback-list').html(feedbackListHtml);

                    // Tạo liên kết phân trang
                    var paginationHtml = '';


                    var prevPage = data.currentPage - 1;
                    paginationHtml += '<a class="prev page-numbers' + (data.currentPage === 1 ? ' disabled' : '') + '" href="#" onclick="paginationFeedback(' + prevPage + ')">Trước</a> ';


                    for (var i = 1; i <= data.totalPage; i++) {
                        var currentPage = data.currentPage;
                        if (i === currentPage) {
                            paginationHtml += '<a class="page-numbers current" href="#" onclick="paginationFeedback(' + i + ')">' + i + '</a> ';
                        } else {
                            paginationHtml += '<a class="page-numbers" href="#" onclick="paginationFeedback(' + i + ')">' + i + '</a> ';
                        }
                    }


                    var nextPage = data.currentPage + 1;
                    paginationHtml += '<a class="next page-numbers' + (data.currentPage === data.totalPage ? ' disabled' : '') + '" href="#" onclick="paginationFeedback(' + nextPage + ')">Sau</a> ';

                    $('#paginationFeedback').empty().html(paginationHtml);
                }

        });
    }

    function paginationFeedback(page) {
        event.preventDefault();
        loadDepartmentFeedback(page);
    }

    function formatDateTime(inputDate) {
        const dateObject = new Date(inputDate);

        const year = dateObject.getFullYear();
        const month = (dateObject.getMonth() + 1).toString().padStart(2, '0');
        const day = dateObject.getDate().toString().padStart(2, '0');
        const hours = dateObject.getHours().toString().padStart(2, '0');
        const minutes = dateObject.getMinutes().toString().padStart(2, '0');
        const seconds = dateObject.getSeconds().toString().padStart(2, '0');

        const formattedTime = `${hours}:${minutes}:${seconds}`;
        const formattedDate = `${day}-${month}-${year}`;

        return `${formattedTime} ${formattedDate}`;
    }
</script>
</body>

</html>
