<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Chi tiết thương hiệu </title>
    <meta name="description" content="Gym Brand Details Page">
    <meta name="keywords" content="My">

    <th:block th:include="common/vendor-head"></th:block>

    <link th:href="@{https://www.w3schools.com/w3css/4/w3.css}" rel="stylesheet" >
    <link th:href="@{/user-homepage-assets/assets/css/MyStyle.css}" rel="stylesheet">
</head>

<body class="body-gym-brand-details">
<!-- ======= Header ======= -->
<header th:replace="common/navbar :: navbar"></header>

<div id="include-navbar" class="container"></div>
<div class="brand-bg-image">
    <img th:src="${brand.getBrandWallpaperUrl()}">
</div>


<!-- Content -->
<div class="container gym-brand-content" style="margin-top: 50px">
    <div class="row justify-content-center md-3 gym-brand-name mt-5">
        <input type="hidden" id="brandId" th:value="${brand.getBrandId()}">
        <h2 class="text-center fw-bold" th:text="${brand.getBrandName()}"></h2>
    </div>
    <div class="row brand-info justify-content-center">
        <div class="col-md-7 col-lg-7 col-sm-6 brand-first-info">
            <div class="brand-descript" th:text="${brand.brandDescription}">
                Hệ thống phòng tập gym và yoga của CITIGYM có mặt khắp các quận TPHCM.Lựa chọn phòng tập gần bạn nhất để có
                thể tập luyện dễ dàng và tiết kiệm thời gian.
            </div>
            <div class="brand-contact">
                <h6 class="fw-bold">LIÊN HỆ</h6>
                <div class="phone mt-3">
                    <span><img style="width: 20px;" src="https://cdn-icons-png.flaticon.com/128/455/455705.png"></span>
                    <span th:text="${brand.brandContactNumber}"></span>
                </div>
                <div class="email mt-2">
                    <span><img style="width: 20px;" src="https://cdn-icons-png.flaticon.com/128/6244/6244710.png"></span>
                    <span th:text="${brand.brandEmail}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-6 club-view">
            <div class="club-view-bg">
                <img th:src="${brand.getBrandWallpaperUrl()}">
                <a href="#club">
                    <button class="btn btn-warning">Xem các cơ sở</button>
                </a>
            </div>
        </div>
    </div>

    <!-- DỊCH VỤ -->
    <h4 class="row fw-bold mt-5">Dịch vụ</h4>
    <div class="row" style="background-color: rgb(255, 187, 0); height: 3px; width: 50px;"></div>
    <div class="list-service-wrapper  mt-4">
        <button class="left" onclick="leftScroll()">
            <img style="width: 30px;" src="https://cdn-icons-png.flaticon.com/128/2723/2723003.png">
        </button>
        <div class="scroll-services row mt-4">
            <div class="col-lg-4 col-md-5 col-xl-3 col-xxl-3"  th:each="amenitie : ${brandAmenitie}">
                <div class="child">
                <div class="brand-service-img" th:style="'background-image: url(\'' + ${amenitie.photoUrl} + '\'); background-size: cover; object-fit: cover;'"></div>
                <div class="service-name" th:text="${amenitie.amenitieName}"></div>
                <div class="service-descript" th:text="${amenitie.description}"></div>
                </div>
            </div>
        </div>
        <button class="right" onclick="rightScroll()">
            <img style="width: 30px;" src="https://cdn-icons-png.flaticon.com/128/2722/2722998.png">
        </button>
    </div>

    <!--CƠ SỞ-->
    <h4 class="row fw-bold mt-5 brand-dept-title" id="club">CÁC CƠ SỞ</h4>
    <div class="row" style="background-color: rgb(255, 187, 0); height: 3px; width: 70px;"></div>
    <div class="list-gym-department container">
        <div th:each="dept : ${departments}">
            <a class="department" th:href="@{/department/department-detail/{department_id}(department_id=${dept.getDepartmentId()})}">
            <div class="dept-img">
                <img th:src="${dept.getDepartmentThumbnailUrl()}">
            </div>
            <div class="dept-info">
                <h4 class="fw-bold" th:text="${dept.getDepartmentName()}">City Gym</h4>
                <div class="dept-address" th:text="${dept.getDepartmentAddress()}">2Bis Nguyễn Thị Minh Khai, Phường Đa Kao, Ho Chi Minh City, Vietnam</div>
                <div class="dept-rating">
                    <span th:text="${dept.getRating()}"></span>
                    <span>
                        <div class="rating" th:attr="data-star=${dept.getRating()}"></div>
                    </span>
                    <i class="num-of-rating ">
                        <span th:text="${dept.getFeedbackCount()}"></span>
                        đánh giá
                    </i>
                </div>
            </div>
            <div class="dept-description">
                <div class="service-type" th:each="feature: ${departmentFeatures}" th:if="${feature.getGymDepartmentId() == dept.getDepartmentId()}">
                    <div data-bs-toggle="tooltip" th:attr="title=${feature.feature.getFeatureName()}"
                         class="gym-service-logo" th:utext="${feature.feature.getFeatureIcon()}">
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>


    <!--ĐÁNH GIÁ-->
    <h4 class="row fw-bold mt-5">ĐÁNH GIÁ TỪ NGƯỜI TẬP</h4>
    <div class="row" style="background-color: rgb(255, 187, 0); height: 3px; width: 140px;"></div>
    <div class="rating-feedback mx-auto">
        <div class="rating-option row">
            <div class="rating-avg col-md-3 col-lg-2">
                <div style="display: flex; position: relative">
                    <div class="rating-point" th:text="${brand.getRating()}"></div>
                    <div class="rating-max">trên 5</div>
                </div>
                <div class="rating" th:attr="data-star=${brand.getRating()}"></div>
            </div>
            <div class="button-list col-md-9 col-lg-10">
            <div class="row">
            <button id="btnSortAllRating" type="button" class="btn btn-warning">
                Tất cả (<span th:text="${feedbackStat.getTotalFeedback()}">24</span>)
            </button>
            <button id="btnSort5Rating" type="button" class="btn btn-warning">
                5 sao (<span th:text="${feedbackStat.getFiveStar()}">5</span>)
            </button>
            <button id="btnSort4Rating" type="button" class="btn btn-warning">
                4 sao (<span th:text="${feedbackStat.getFourStar()}">5</span>)
            </button>
            <button id="btnSort3Rating" type="button" class="btn btn-warning">
                3 sao (<span th:text="${feedbackStat.getThreeStar()}">4</span>)
            </button>
            <button id="btnSort2Rating" type="button" class="btn btn-warning">
                2 sao (<span th:text="${feedbackStat.getTwoStar()}">10</span>)
            </button>
            <button id="btnSort1Rating" type="button" class="btn btn-warning">
                1 sao (<span th:text="${feedbackStat.getOneStar()}">1</span>)
            </button>
            </div>
            </div>
        </div>
        <div id="feedback-list">

        </div>
        <div class="pagination-wrapper container">
            <div class="pagination col justify-content-center" id="paginationFeedback">
                <a class="page-numbers" href="javascript:;">Trước</a>
                <span aria-current="page" class="page-numbers current">1</span>
                <a class="page-numbers" href="javascript:;">2</a>
                <a class="page-numbers" href="javascript:;">3</a>
                <a class="page-numbers" href="javascript:;">4</a>
                <a class="page-numbers" href="javascript:;">5</a>
                <a class="page-numbers" href="javascript:;">6</a>
                <a class="page-numbers" href="javascript:;">7</a>
                <a class="page-numbers" href="javascript:;">Sau</a>
            </div>
        </div>
    </div>
</div>


<div style="height: 50px;"></div>
<div th:replace="common/footer :: footer"></div>

<th:block th:insert="common/vendor-script"></th:block>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    document.addEventListener("DOMContentLoaded", function () {
        const scrollImages = document.querySelector(".scroll-services");
        const scrollLength = scrollImages.scrollWidth - scrollImages.clientWidth;
        const leftButton = document.querySelector(".left");
        const rightButton = document.querySelector(".right");

        function checkScroll() {
            const currentScroll = scrollImages.scrollLeft;
            if (currentScroll === 0) {
                leftButton.setAttribute("disabled", "true");
                rightButton.removeAttribute("disabled");
            } else if (currentScroll === scrollLength) {
                rightButton.setAttribute("disabled", "true");
                leftButton.removeAttribute("disabled");
            } else {
                leftButton.removeAttribute("disabled");
                rightButton.removeAttribute("disabled");
            }
        }

        scrollImages.addEventListener("scroll", checkScroll);
        window.addEventListener("resize", checkScroll);
        checkScroll();

        function leftScroll() {
            scrollImages.scrollBy({
                left: -450,
                behavior: "smooth"
            });
        }

        function rightScroll() {
            scrollImages.scrollBy({
                left: 500,
                behavior: "smooth"
            });
        }

        leftButton.addEventListener("click", leftScroll);
        rightButton.addEventListener("click", rightScroll);
    });

</script>
    <script>
        $(document).ready(function () {
            loadBrandFeedback(1);
        });
        var sortRating = "";

        $("#btnSortAllRating").click(function () {
            sortRating = "";
            loadBrandFeedback(1);
        });

        $("#btnSort5Rating").click(function () {
            sortRating = "5";
            loadBrandFeedback(1);
        });

        $("#btnSort4Rating").click(function () {
            sortRating = "4";
            loadBrandFeedback(1);
        });

        $("#btnSort3Rating").click(function () {
            sortRating = "3";
            loadBrandFeedback(1);
        });

        $("#btnSort2Rating").click(function () {
            sortRating = "2";
            loadBrandFeedback(1);
        });

        $("#btnSort1Rating").click(function () {
            sortRating = "1";
            loadBrandFeedback(1);
        });

        function loadBrandFeedback(page) {
            $.ajax({
                url: '/brand/feedback',
                type: 'GET',
                data: {
                    brandId: $("#brandId").val(),
                    page: page,
                    size: 2,
                    sortRating: sortRating
                },
                success: function (data) {
                    console.log(data);
                    // Hiển thị danh sách người dùng
                    var feedbackListHtml = '';
                    $.each(data.feedbackList, function (index, feedback) {
                        feedbackListHtml += `
                            <div class="user-rating">
                <div class="user-rating-avatar">
                    <img style="width: 60px; margin: auto;" src="${feedback.imageUrl}">
                </div>
                <div class="user-rating-description">
                    <div>${feedback.firstName + ' ' + feedback.lastName}</div>
                    <i style="height: 25px;" data-star="${feedback.rating}"></i>
                    <div>${formatDateTime(feedback.feedbackTime)}</div>
                    <div>${feedback.comment}</div>
                </div>
            </div>
`;
                    });

                    $('#feedback-list').html(feedbackListHtml);

                    // Tạo liên kết phân trang
                    var paginationHtml = '';


                    var prevPage = data.currentPage - 1;
                    paginationHtml += '<a class="prev page-numbers' + (data.currentPage === 1 ? ' disabled' : '') + '" href="#" onclick="paginationFeedback(' + prevPage + ')">Trước</a> ';

                    for (var i = 1; i <= data.totalPage; i++) {
                        var currentPage = data.currentPage;
                        if (i === currentPage) {
                            paginationHtml += '<a class="page-numbers current" href="#" onclick="paginationFeedback(' + i + ')">' + i + '</a> ';
                        } else {
                            paginationHtml += '<a class="page-numbers" href="#" onclick="paginationFeedback(' + i + ')">' + i + '</a> ';
                        }
                    }


                    var nextPage = data.currentPage + 1;
                    paginationHtml += '<a class="next page-numbers' + (data.currentPage === data.totalPage ? ' disabled' : '') + '" href="#" onclick="paginationFeedback(' + nextPage + ')">Sau</a> ';

                    $('#paginationFeedback').empty().html(paginationHtml);
                }

            });
        }

        function paginationFeedback(page) {
            event.preventDefault();
            loadBrandFeedback(page);
        }

        function formatDateTime(inputDate) {
            const dateObject = new Date(inputDate);

            const year = dateObject.getFullYear();
            const month = (dateObject.getMonth() + 1).toString().padStart(2, '0');
            const day = dateObject.getDate().toString().padStart(2, '0');
            const hours = dateObject.getHours().toString().padStart(2, '0');
            const minutes = dateObject.getMinutes().toString().padStart(2, '0');
            const seconds = dateObject.getSeconds().toString().padStart(2, '0');

            const formattedTime = `${hours}:${minutes}:${seconds}`;
            const formattedDate = `${day}-${month}-${year}`;

            return `${formattedTime} ${formattedDate}`;
        }
    </script>
</body>
</html>
