<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym department details</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" th:href="@{/user-homepage-assets/assets/img/icon.png}">
    <link rel="apple-touch-icon" th:href="@{/user-homepage-assets/assets/img/apple-touch-icon.png}">
    <script src="https://kit.fontawesome.com/a59b9b09ab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{https://www.w3schools.com/w3css/4/w3.css}" rel="stylesheet" >
    <link th:href="@{/user-homepage-assets/assets/css/MyStyle.css}" rel="stylesheet">
</head>

<body class="body-gym-brand-details">
<!-- ======= Header ======= -->
<header th:replace="common/navbar :: navbar"></header>

<div id="include-navbar" class="container"></div>
<div class="brand-bg-image">
    <img th:src="${brand.brandWallpaperUrl}">
</div>


<!-- Content -->
<div class="container gym-brand-content" style="margin-top: 50px">
    <div class="row justify-content-center md-3 gym-brand-name mt-5">
        <h2 class="text-center fw-bold" th:text="${brand.getBrandName()}"></h2>
    </div>
    <div class="row brand-info justify-content-center">
        <div class="col-md-7 col-lg-7 col-sm-6 brand-first-info">
            <div class="brand-descript" th:text="${brand.brandDescription}">
                Hệ thống phòng tập gym và yoga của CITIGYM có mặt khắp các quận TPHCM.Lựa chọn phòng tập gần bạn nhất để có
                thể tập luyện dễ dàng và tiết kiệm thời gian.
            </div>
            <div class="brand-contact">
                <h6 class="fw-bold">LIÊN HỆ</h6>
                <div class="phone mt-3">
                    <span><img style="width: 20px;" src="https://cdn-icons-png.flaticon.com/128/455/455705.png"></span>
                    <span th:text="${brand.brandContactNumber}"></span>
                </div>
                <div class="email mt-2">
                    <span><img style="width: 20px;" src="https://cdn-icons-png.flaticon.com/128/6244/6244710.png"></span>
                    <span th:text="${brand.brandEmail}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-6 club-view">
            <div class="club-view-bg">
                <a href="#club">
                    <button class="btn btn-warning">Xem các Club</button>
                </a>
            </div>
        </div>
    </div>

   <!-- DỊCH VỤ -->
<h4 class="row fw-bold mt-5">Dịch vụ</h4>
<!--<div class="list-service-wrapper row">-->
    <div class="scroll-services row">
        <div class="child col-lg-4 col-md-4 col-xl-3 col-xs-5" th:each="amenitie : ${brandAmenitie}">
            <div class="brand-service-img" th:style="'background-image: url(\'' + ${amenitie.photoUrl} + '\'); background-size: cover;'"></div>
            <div class="service-name" th:text="${amenitie.amenitieName}"></div>
            <div class="service-descript" th:text="${amenitie.description}"></div>
        </div>
    </div>
<!--</div>-->

    <!--CƠ SỞ-->
    <h4 class="row fw-bold mt-5 brand-dept-title" id="club">CÁC CƠ SỞ</h4>
    <div class="list-gym-department container">
        <div class="department" th:each="dept : ${departments}">
            <div class="dept-img"
                 th:style="'background-image: url(\'' + ${dept.getDepartmentWallpaperUrl()} + '\'); background-size: cover;'">
            </div>
            <div class="dept-info">
                <h4 class="fw-bold" th:text="${dept.getDepartmentName()}">City Gym</h4>
                <div class="dept-address" th:text="${dept.getDepartmentAddress()}">2Bis Nguyễn Thị Minh Khai, Phường Đa Kao, Ho Chi Minh City, Vietnam</div>
                <div class="dept-rating">
                    <span th:text="${dept.getRating()}"></span>
                    <span>
                        <div class="rating" th:attr="data-star=${dept.getRating()}"></div>
                    </span>
                </div>
                <i class="num-of-rating">700 lượt đánh giá</i>
            </div>
            <div class="dept-description">
                <div class="service-type" th:each="feature: ${departmentFeatures}" th:if="${feature.getGymDepartmentId() == dept.getDepartmentId()}">
                    <div class="gym-service-logo" th:utext="${feature.feature.getFeatureIcon()}"></div>
                    <div class="service-name" th:text="${feature.feature.getFeatureName()}">Khu để xe</div>
                </div>
            </div>
        </div>
    </div>


    <!--ĐÁNH GIÁ-->
    <h4 class="row fw-bold mt-5">ĐÁNH GIÁ TỪ NGƯỜI TẬP</h4>
    <div class="rating-feedback container mx-auto">
        <div class="rating-option row row-cols-6">
            <div class="rating-point col-lg-0.5 col-md-1">
                <span th:text="${brand.getRating()}">4/5</span>
                <span>
            <div class="rating" th:attr="data-star=${brand.getRating()}"></div>
          </span>
            </div>
            <button style="margin-left: 40px;" type="button" class="btn btn-warning col-lg-1 col-md-2">
                Tất cả (<span>24</span>)
            </button>
            <button type="button" class="btn btn-warning col-lg-1 col-md-2">
                5 sao (<span>5</span>)
            </button>
            <button type="button" class="btn btn-warning col-lg-1 col-md-2">
                4 sao (<span>5</span>)
            </button>
            <button type="button" class="btn btn-warning col-lg-1 col-md-2">
                3 sao (<span>4</span>)
            </button>
            <button type="button" class="btn btn-warning col-lg-1 col-md-2">
                2 sao (<span>10</span>)
            </button>
            <button type="button" class="btn btn-warning col-lg-1 col-md-2">
                1 sao (<span>1</span>)
            </button>
        </div>
        <div class="user-rating">
            <div class="user-rating-avatar">
                <img style="width: 60px; margin: auto;" src="https://cdn-icons-png.flaticon.com/128/4333/4333609.png">
            </div>
            <div class="user-rating-description">
                <div>User458</div>
                <i style="height: 20px;" data-star="3"></i>
                <div>2023-07-15 12:05</div>
                <div>Anh đến với Yoga bay là thử sức và thích môn mới. Ở lớp Yoga bay, anh được giáo viên hướng dẫn tỉ mỉ và
                    nhiệt tình từng chút một, các học viên trong lớp vui vẻ, hòa đồng nên mỗi khi đến lớp anh đều thấy rất háo
                    hức</div>
            </div>
        </div>
        <div class="user-rating">
            <div class="user-rating-avatar">
                <img style="width: 60px; margin: auto;" src="https://cdn-icons-png.flaticon.com/128/4333/4333609.png">
            </div>
            <div class="user-rating-description">
                <div>User458</div>
                <i style="height: 25px;" data-star="3"></i>
                <div>2023-07-15 12:05</div>
                <div>Anh đến với Yoga bay là thử sức và thích môn mới. Ở lớp Yoga bay, anh được giáo viên hướng dẫn tỉ mỉ và
                    nhiệt tình từng chút một, các học viên trong lớp vui vẻ, hòa đồng nên mỗi khi đến lớp anh đều thấy rất háo
                    hức</div>
            </div>
        </div>
        <div class="user-rating">
            <div class="user-rating-avatar">
                <img style="width: 60px; margin: auto;" src="https://cdn-icons-png.flaticon.com/128/4333/4333609.png">
            </div>
            <div class="user-rating-description">
                <div>User458</div>
                <i style="height: 20px;" data-star="3"></i>
                <div>2023-07-15 12:05</div>
                <div>Anh đến với Yoga bay là thử sức và thích môn mới. Ở lớp Yoga bay, anh được giáo viên hướng dẫn tỉ mỉ và
                    nhiệt tình từng chút một, các học viên trong lớp vui vẻ, hòa đồng nên mỗi khi đến lớp anh đều thấy rất háo
                    hức</div>
            </div>
        </div>
        <div class="user-rating">
            <div class="user-rating-avatar">
                <img style="width: 60px; margin: auto;" src="https://cdn-icons-png.flaticon.com/128/4333/4333609.png">
            </div>
            <div class="user-rating-description">
                <div>User458</div>
                <i style="height: 20px;" data-star="3"></i>
                <div>2023-07-15 12:05</div>
                <div class="comment">Anh đến với Yoga bay là thử sức và thích môn mới. Ở lớp Yoga bay, anh được giáo viên
                    hướng dẫn tỉ mỉ và
                    nhiệt tình từng chút một, các học viên trong lớp vui vẻ, hòa đồng nên mỗi khi đến lớp anh đều thấy rất háo
                    hức
                </div>
            </div>
        </div>
        <div class="pagination-wrapper container">
            <div class="pagination col justify-content-center">
                <a class="page-numbers" href="javascript:;">prev</a>
                <span aria-current="page" class="page-numbers current">1</span>
                <a class="page-numbers" href="javascript:;">2</a>
                <a class="page-numbers" href="javascript:;">3</a>
                <a class="page-numbers" href="javascript:;">4</a>
                <a class="page-numbers" href="javascript:;">5</a>
                <a class="page-numbers" href="javascript:;">6</a>
                <a class="page-numbers" href="javascript:;">7</a>
                <a class="page-numbers" href="javascript:;">next</a>
            </div>
        </div>
    </div>
</div>


<div style="height: 50px;"></div>
<!-- Vendor JS Files -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/aos/aos.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/user-homepage-assets/assets/js/main.js}"></script>
<script>
    const slider = document.querySelector('.scroll-services');
    let isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {
        isDown = true;
        slider.classList.add('active');
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
    });
    slider.addEventListener('mouseleave', () => {
        isDown = false;
        slider.classList.remove('active');
    });
    slider.addEventListener('mouseup', () => {
        isDown = false;
        slider.classList.remove('active');
    });
    slider.addEventListener('mousemove', (e) => {
        if (!isDown) return;
        e.preventDefault();
        const x = e.pageX - slider.offsetLeft;
        const walk = (x - startX) * 3; //scroll-fast
        slider.scrollLeft = scrollLeft - walk;
        console.log(walk);
    });

    let slideIndex = [1, 1];
    let slideId = ["mySlides1", "mySlides2"]
    showSlides(1, 0);
    showSlides(1, 1);

    function plusSlides(n, no) {
        showSlides(slideIndex[no] += n, no);
    }

    function showSlides(n, no) {
        let i;
        let x = document.getElementsByClassName(slideId[no]);
        if (n > x.length) { slideIndex[no] = 1 }
        if (n < 1) { slideIndex[no] = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex[no] - 1].style.display = "block";
    }
</script>
</body>
</html>