<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Các Thương Hiệu & Cơ Sở</title>
    <meta name="description" content="Homepage">
    <meta name="keywords" content="My">

    <th:block th:insert="common/vendor-head"></th:block>

    <link th:href="@{https://www.w3schools.com/w3css/4/w3.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/css/MyStyle.css}" rel="stylesheet">
</head>
<body class="body-list-brand">
<!-- ======= Header ======= -->
<header th:replace="common/navbar :: navbar"></header>

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExample" data-bs-slide-to="2"></li>
    </ol>

    <!-- Slides -->
    <div class="carousel-inner">
        <div class="carousel-item active bg-black">
            <a href="#">
                <img th:src="@{/user-homepage-assets/assets/img/banner/banner_2.gif}" class="d-block w-100"
                     alt="Banner 1">
            </a>
        </div>
        <div class="carousel-item bg-black">
            <a href="#">
                <img th:src="@{/user-homepage-assets/assets/img/banner/banner_2.gif}" class="d-block w-100"
                     alt="Banner 2">
            </a>
        </div>
        <div class="carousel-item bg-black">
            <a href="#">
                <img th:src="@{/user-homepage-assets/assets/img/banner/banner_2.gif}" class="d-block w-100"
                     alt="Banner 3">
            </a>
        </div>
    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Trước</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Sau</span>
    </a>
</div>

<!-- Content -->
<div class="list-brand-content container">
    <div class="row home-option">
        <div id="brand-list" onclick="openBrand()" class="col-md-6 mx-auto active-list">
            <span class="tab-img"><img th:src="@{/user-homepage-assets/assets/img/brand-logo.png}" alt="icon"></span>
            <span class="tab-title fw-bold">Thương hiệu</span>
        </div>
        <div id="gym-list" onclick="openGym()" class="col-md-6 mx-auto">
            <span class="tab-img"><img th:src="@{/user-homepage-assets/assets/img/dept-logo.png}" alt="icon"></span>
            <span class="tab-title fw-bold">Cơ sở gần bạn</span>
        </div>
    </div>
    <div id="list-brand" class="list-of-brand">
        <h3 class="fw-bold list-brand-title">Danh sách các Gym Brand của chúng tôi</h3>
        <div class="container mb-5">
            <form>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                        <label class="pt-2 pb-2 fw-bold" for="price">Lượt bán:</label>
                        <select class="gym-dropdown" id="sort-price">
                            <option value="lowToHigh">Thấp đến cao</option>
                            <option value="highToLow">Cao đến thấp</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                        <label class="pt-2 pb-2 fw-bold" for="rating">Đánh giá:</label>
                        <select class="gym-dropdown" id="sort-rating">
                            <option value="0" selected>Tất cả đánh giá</option>
                            <option value="5">5 sao</option>
                            <option value="4">Trên 4 sao</option>
                            <option value="3">Trên 3 sao</option>
                            <option value="2">Trên 2 sao</option>
                            <option value="1">Trên 1 sao</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="row justify-content-center" id="brand-list-container"></div>
        <!-- pagination -->
        <div class="pagination mt-5" id="paginationBrand"></div>
    </div>

    <!-- List departments -->
    <div id="list-gym" class="list-of-gym">
        <h3 class="fw-bold list-brand-title">Danh sách các cơ sở Gym gần bạn</h3>
        <div class="container ">
            <form id="filter-form">
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center" id="location-select">
                        <label class="pt-2 pb-2 fw-bold" for="location">Vị trí:</label>
                        <select class="gym-dropdown" id="location">
                            <option value="all">Tất cả</option>
                            <option value="Hà Nội">Hà Nội</option>
                            <option value="Hồ Chí Minh">TP. Hồ Chí Minh</option>
                            <option value="An Giang">An Giang</option>
                            <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                            <option value="Bắc Giang">Bắc Giang</option>
                            <option value="Bắc Kạn">Bắc Kạn</option>
                            <option value="Bạc Liêu">Bạc Liêu</option>
                            <option value="Bắc Ninh">Bắc Ninh</option>
                            <option value="Bến Tre">Bến Tre</option>
                            <option value="Bình Định">Bình Định</option>
                            <option value="Bình Phước">Bình Phước</option>
                            <option value="Bình Thuận">Bình Thuận</option>
                            <option value="Cà Mau">Cà Mau</option>
                            <option value="Cao Bằng">Cao Bằng</option>
                            <option value="Đà Nẵng">Đà Nẵng</option>
                            <option value="Đắk Nông">Đắk Nông</option>
                            <option value="Đắk Lắk">Đắk Lắk</option>
                            <option value="Đồng Tháp">Đồng Tháp</option>
                            <option value="Gia Lai">Gia Lai</option>
                            <option value="Hà Giang">Hà Giang</option>
                            <option value="Hải Dương">Hải Dương</option>
                            <option value="Hải Phòng">Hải Phòng</option>
                            <option value="Hậu Giang">Hậu Giang</option>
                            <option value="Hòa Bình">Hòa Bình</option>
                            <option value="Khánh Hòa">Khánh Hòa</option>
                            <option value="Kiên Giang">Kiên Giang</option>
                            <option value="Kon Tum">Kon Tum</option>
                            <option value="Lai Châu">Lai Châu</option>
                            <option value="Lâm Đồng">Lâm Đồng</option>
                            <option value="Lạng Sơn">Lạng Sơn</option>
                            <option value="Lào Cai">Lào Cai</option>
                            <option value="Long An">Long An</option>
                            <option value="Nam Định">Nam Định</option>
                            <option value="Nghệ An">Nghệ An</option>
                            <option value="Ninh Bình">Ninh Bình</option>
                            <option value="Ninh Thuận">Ninh Thuận</option>
                            <option value="Phú Thọ">Phú Thọ</option>
                            <option value="Phú Yên">Phú Yên</option>
                            <option value="Quảng Bình">Quảng Bình</option>
                            <option value="Quảng Ngãi">Quảng Ngãi</option>
                            <option value="Quảng Ninh">Quảng Ninh</option>
                            <option value="Quảng Trị">Quảng Trị</option>
                            <option value="Sóc Trăng">Sóc Trăng</option>
                            <option value="Sơn La">Sơn La</option>
                            <option value="Tây Ninh">Tây Ninh</option>
                            <option value="Thái Bình">Thái Bình</option>
                            <option value="Thái Nguyên">Thái Nguyên</option>
                            <option value="Thanh Hóa">Thanh Hóa</option>
                            <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                            <option value="Tiền Giang">Tiền Giang</option>
                            <option value="Trà Vinh">Trà Vinh</option>
                            <option value="Tuyên Quang">Tuyên Quang</option>
                            <option value="Vĩnh Long">Vĩnh Long</option>
                            <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                            <option value="Yên Bái">Yên Bái</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                        <label class="pt-2 pb-2 fw-bold" for="price">Giá gói:</label>
                        <select class="gym-dropdown" id="price">
                            <option value="lowToHigh">Thấp đến cao</option>
                            <option value="highToLow">Cao đến thấp</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                        <label class="pt-2 pb-2 fw-bold" for="rating">Đánh giá:</label>
                        <select class="gym-dropdown" id="rating">
                            <option value="0" selected>Tất cả đánh giá</option>
                            <option value="5">5 sao</option>
                            <option value="4">Trên 4 sao</option>
                            <option value="3">Trên 3 sao</option>
                            <option value="2">Trên 2 sao</option>
                            <option value="1">Trên 1 sao</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center" id="distance-select"
                         style="display: none;">
                        <label class="pt-2 pb-2 fw-bold" for="distance">Cách bạn:</label>
                        <select class="gym-dropdown" id="distance">
                            <option value="2">Dưới 2 km</option>
                            <option value="5">Dưới 5 km</option>
                            <option value="10" selected>Dưới 10 km</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="row row-gym justify-content-center mt-5" id="department-list-container"></div>
        <!-- pagination -->
        <div class="pagination mt-5" id="pagnitionDepartment"></div>
    </div>
</div>
<!-- ======= Footer ======= -->
<div th:replace="common/footer :: footer"></div>
<th:block th:insert="common/vendor-script"></th:block>
<script>
    var latitude;
    var longtitue;

    $(document).ready(function () {
        loadBrand(1);
    });

    //Tab display code
    document.getElementById("list-gym").style.display = "none";
    function openGym() {
        document.getElementById("list-brand").style.display = "none";
        document.getElementById("list-gym").style.display = "block";
        document.getElementById("gym-list").classList.add("active-list");
        document.getElementById("brand-list").classList.remove("active-list");
        latitude = 0;
        longtitue = 0;
        loadDepartmentDataWithNoGeolocation(latitude, longtitue, $("#distance").val(), $("#location").val(), $("#price").val(), $("#rating").val(), 1, 6);
        getNearbyGyms(1);
    }

    function openBrand() {
        document.getElementById("list-gym").style.display = "none";
        document.getElementById("list-brand").style.display = "block";
        document.getElementById("brand-list").classList.add("active-list");
        document.getElementById("gym-list").classList.remove("active-list");
        loadBrand(1);
    }

    // Sự kiện thay đổi giá trị trong dropdown "Rating"
    $('#sort-rating').change(function () {
        loadBrand(1)
    });

    // Sự kiện thay đổi giá trị trong dropdown "Price"
    $('#sort-price').change(function () {
        loadBrand(1)
    });

    function loadBrand(page) {
        var sortPrice = $('#sort-price').val();
        var sortRating = $('#sort-rating').val();
        $.ajax({
            url: '/homepage/brand',
            type: 'GET',
            data: {
                page: page,
                size: 6,
                sortPrice: sortPrice,
                sortRating: sortRating,
            },
            success: function (data) {
                console.log(data);
                // Hiển thị danh sách người dùng
                if (data.listBrand.length === 0) {

                    $('#brand-list-container').html('' +
                        '<div class="not-found d-flex flex-column align-items-center justify-content-center">' +
                        '<div class="fw-bold fs-4">Không tìm thấy thương hiệu nào!</div>' +
                        '<span class="icon"></span>  ' +
                        '</div>');
                    $('#paginationBrand').empty().css('background-color', 'rgb(238, 238, 238)');
                } else {
                    var brandListHtml = '';
                    $.each(data.listBrand, function (index, brand) {
                        brandListHtml += `
<div class="col-md-12 col-lg-6 col-xl-6 mx-auto mb-4">
<a href="/brand/brand-detail/${brand.brandId}">
            <div class="brand">
                <img class="brand-image"
                     src="${brand.brandLogoUrl}" alt="Ảnh bìa">
                <div class="brand-info">
                    <h5 class="fw-bold">${brand.brandName}</h5>
                    <div style="height: 25px; margin-top: -3px;" data-star="${brand.rating}"></div>
                    <div class="description">${brand.brandDescription}</div>
                    <div style="display: flex; margin-top: 20px">
                        <div class="basic-info">
                            <span><img src="https://cdn-icons-png.flaticon.com/128/11569/11569967.png" alt="logo"></span>
                            <span>${data.brandDepartmentsMap[brand.brandId].length} Cơ Sở</span>
                        </div>
                        <div class="basic-info" style="margin-left: 15px;">
                            <span><img src="https://cdn-icons-png.flaticon.com/128/2804/2804294.png" alt="logo"></span>
                            <span>${brand.numberOfOrderDetailSale} gói tập đã bán</span>
                        </div>
                    </div>
                </div>
            </div>
            </a>
            </div>`;
                        $('#brand-list-container').html(brandListHtml);
                        // Tạo liên kết phân trang
                        var paginationHtml = '';
                        for (var i = 1; i <= data.totalPage; i++) {
                            var currentPage = data.currentPage;
                            if (i === currentPage) {
                                paginationHtml += '<a href="#" class="active" onclick="paginationBrand(' + i + ')">' + i + '</a> ';
                            } else {
                                paginationHtml += '<a href="#"  onclick="paginationBrand(' + i + ')">' + i + '</a> ';
                            }
                        }
                        $('#paginationBrand').empty().css('background-color','white').html(paginationHtml);
                    });
                }
            }
        });
    }

    function paginationBrand(page) {
        console.log("Page Number is",page)
        event.preventDefault();
        loadBrand(page);
    }

    $("#price").change(function () {
        getNearbyGyms(1);
    })

    $("#rating").change(function () {
        getNearbyGyms(1);
    })

    $("#distance").change(function () {
        getNearbyGyms(1)
    })

    $("#location").change(function () {
        getNearbyGyms(1);
    })

    function getNearbyGyms(page) {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    document.getElementById("distance-select").style.display = "block";
                    document.getElementById("location-select").style.display = "none";
                    console.log("Allow location")
                    sendLocationToServer(position, page);
                },
                function (error) {
                    console.log("Not allow location")
                    handleGeolocationError(error, page);
                }
            );
        }
    }

    function sendLocationToServer(position, page) {
        latitude = position.coords.latitude;
        longtitue = position.coords.longitude;
        loadDepartmentData(latitude, longtitue, $("#distance").val(), $("#location").val(), $("#price").val(), $("#rating").val(), page, 6);
    }

    function handleGeolocationError(error, page) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
            case error.POSITION_UNAVAILABLE:
            case error.TIMEOUT:
                latitude = 0;
                longtitue = 0;
                // Người dùng từ chối cung cấp vị trí
                loadDepartmentDataWithNoGeolocation(latitude, longtitue, $("#distance").val(), $("#location").val(), $("#price").val(), $("#rating").val(), page, 6);
                break;
            case error.UNKNOWN_ERROR:
                // Lỗi không xác định
                break;
        }
    }

    function loadDepartmentData(userLatitude, userLongitude, belowDistance, city, sortPrice, sortRating, page, size) {
        $.ajax({
            type: "POST",
            url: "/homepage",
            data: {
                userLatitude: userLatitude,
                userLongitude: userLongitude,
                belowDistance: belowDistance,
                city: city,
                sortPrice: sortPrice,
                sortRating: sortRating,
                page: page,
                size: size
            },
            success: function (response) {
                handleDepartmentDataResponse(response);
            },
            error: function (error) {
                console.error("Error sending location data:", error);
            }
        });
    }

    function loadDepartmentDataWithNoGeolocation(userLatitude, userLongitude, belowDistance, city, sortPrice, sortRating, page, size) {
        $.ajax({
            type: "POST",
            url: "/homepage",
            data: {
                userLatitude: userLatitude,
                userLongitude: userLongitude,
                belowDistance: belowDistance,
                city: city,
                sortPrice: sortPrice,
                sortRating: sortRating,
                page: page,
                size: size
            },
            success: function (response) {
                handleDepartmentDataResponseWithNoGeolocation(response);
            },
            error: function (error) {
                console.error("Error sending location data:", error);
            }
        });
    }

    function handleDepartmentDataResponse(response) {
        let departmentSize = response.departmentList.length

        var departmentListContainer = $('#department-list-container');
        departmentListContainer.empty();

        if (departmentSize === 0) {
            departmentListContainer.html('' +
                '<div class="not-found d-flex flex-column align-items-center justify-content-center">' +
                '<div class="fw-bold fs-4">Không tìm thấy phòng gym nào!</div>' +
                '<span class="icon"></span>  ' +
                '</div>');
            $('#pagnitionDepartment').empty().css('background-color', 'rgb(238, 238, 238)');
        } else {
            var departmentListHtml = '';

            $.each(response.departmentList, function (index, department) {
                departmentListHtml += `
                <div class="col-md-6 col-lg-6 col-xl-4 mb-4">
                    <a href="/department/department-detail/${department.departmentId}">
                    <div class="card">
                            <div class="distance-flag">
                                <i class="bi bi-geo-alt-fill"></i>
                                <span>Cách bạn ${roundToTwoDecimalPlaces(+department.distance)} km</span>
                            </div>
                            <div class="list-img">
                                <img class="card-img-top" alt="Ảnh phòng tập" src="${department.departmentThumbnailUrl}">
                            </div>
                            <div class="card-body">
                                   <h4 class="card-title fw-bold">${department.departmentName}</h4>
                                    <div class="card-text">
                                       <i class="bi bi-geo-alt"></i> ${department.departmentAddress}
                                    </div>
                                    <div class="phone-number">
                                           <i class="bi bi-telephone"></i> ${department.departmentContactNumber}
                                    </div>
                <div class="review-section mb-3">
                    Đánh giá:
                    <div class="rating" data-star="${department.rating}"></div>
                    <i class="num-of-rating ">${department.feedbackCount} đánh giá</i>
                </div>
                <div class="gym-price justify-content-center">
                        <span class="mb-3 d-inline" >Giá gói:</span>
                        <h5 class="text-money d-inline">
                            ${department.minPrice}-${department.maxPrice} <span class="credit" style="font-size: 14px;">Credit</span>
                        </h5>
                </div>
               </div>
       </div>
       </a>
   </div>`;
                departmentListContainer.html(departmentListHtml);
                // Tạo liên kết phân trang
                var paginationHtml = '';
                for (var i = 1; i <= response.totalPage; i++) {
                    var currentPage = response.currentPage; // Trang hiện tại (0-based)
                    if (i === currentPage) {
                        paginationHtml += '<a href="#" class="active" onclick="pagnitionDepartment(' + i + ')">' + i + '</a> ';
                    } else {
                        paginationHtml += '<a href="#"  onclick="pagnitionDepartment(' + i + ')">' + i + '</a> ';
                    }
                }
                $('#pagnitionDepartment').empty().css('background-color','white').html(paginationHtml);
            });
        }
    }

    function handleDepartmentDataResponseWithNoGeolocation(response) {
        let departmentSize = response.departmentList.length

        var departmentListContainer = $('#department-list-container');
        departmentListContainer.empty();

        if (departmentSize === 0) {
            departmentListContainer.html('' +
                '<div class="not-found d-flex flex-column align-items-center justify-content-center">' +
                '<div class="fw-bold fs-4">Không tìm thấy phòng gym nào!</div>' +
                '<span class="icon"></span>  ' +
                '</div>');
            $('#pagnitionDepartment').empty().css('background-color', 'rgb(238, 238, 238)');
        } else {
            var departmentListHtml = '';

            $.each(response.departmentList, function (index, department) {
                departmentListHtml += `
                <div class="col-md-6 col-lg-6 col-xl-4 mb-4">
                    <a href="/department/department-detail/${department.departmentId}">
                    <div class="card">
                            <div class="list-img">
                                <img class="card-img-top" alt="Ảnh phòng tập" src="${department.departmentThumbnailUrl}">
                            </div>
                            <div class="card-body">
                                   <h4 class="card-title fw-bold">${department.departmentName}</h4>
                                    <div class="card-text">
                                       <i class="bi bi-geo-alt"></i> ${department.departmentAddress}
                                    </div>
                                    <div class="phone-number">
                                           <i class="bi bi-telephone"></i> ${department.departmentContactNumber}
                                    </div>
                <div class="review-section mb-3">
                    Đánh giá:
                    <div class="rating" data-star="${department.rating}"></div>
                    <i class="num-of-rating ">${department.feedbackCount} đánh giá</i>
                </div>
                <div class="gym-price justify-content-center">
                        <span class="mb-3 d-inline" >Giá gói:</span>
                        <h5 class="text-money d-inline">
                            ${department.minPrice}-${department.maxPrice} <span class="credit" style="font-size: 14px;">Credit</span>
                        </h5>
                </div>
               </div>
       </div>
       </a>
   </div>`;
                departmentListContainer.html(departmentListHtml);
                // Tạo liên kết phân trang
                var paginationHtml = '';
                for (var i = 1; i <= response.totalPage; i++) {
                    var currentPage = response.currentPage;
                    if (i === currentPage) {
                        paginationHtml += '<a href="#" class="active" onclick="pagnitionDepartment(' + i + ')">' + i + '</a> ';
                    } else {
                        paginationHtml += '<a href="#"  onclick="pagnitionDepartment(' + i + ')">' + i + '</a> ';
                    }
                }
                $('#pagnitionDepartment').empty().css('background-color','white').html(paginationHtml);
            });
        }
    }

    function pagnitionDepartment(page) {
        event.preventDefault();
        getNearbyGyms(page);
    }

    function roundToTwoDecimalPlaces(number) {
        return Math.round((number + Number.EPSILON) * 100) / 100;
    }
</script>
</body>
</html>
