<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitPass Homepage</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" th:href="@{/user-homepage-assets/user-homepage-assets/assets/img/icon.png}">
    <link rel="apple-touch-icon"
          th:href="@{/user-homepage-assets/user-homepage-assets/assets/img/apple-touch-icon.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/css/MyStyle.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="list-of-gym-body">
  <header id="header" class="fixed-top">
    <div  class="container d-flex align-items-center justify-content-lg-between">
      <h1 style="margin-left: -60px;" class="logo me-auto me-lg-0"><a href="index.html">Fitpass<span>.</span></a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul >
          <li><a class="nav-link scrollto active" href="#hero">Trang chủ</a></li>
          <li><a class="nav-link scrollto" href="#about">Đặt lịch tập</a></li>
          <li><a class="nav-link scrollto" href="#services">Liên hệ</a></li>
          <li>
            <form class="d-flex" style="margin-left: 50px;">
              <input style="height: 30px;  margin-top: 5px; width: 300px;" class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
              <img type="submit" style="margin-top: 6px; width: 25px; height: 25px;" src="https://cdn-icons-png.flaticon.com/128/4250/4250968.png">
            </form>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <div style="display: flex; margin-right: 50px;">
        <img type="submit" style="margin-top: 3px; width: 35px; height: 35px;" src="https://cdn-icons-png.flaticon.com/128/9405/9405895.png">
        <div style="margin: auto; margin-left: 10PX; color: rgb(255, 170, 0); font-weight: 500;">500 Credits</div>
      </div>
      <div class="dropdown" style="position: absolute; right:10px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <a href="#"><img style="width: 30px;" src="https://cdn-icons-png.flaticon.com/128/3870/3870822.png"></a>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Tài khoản người dùng</a></li>
          <li><a class="dropdown-item" href="#">Lịch sử</a></li>
          <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
        </ul>
      </div>
      
    </div> 
  </header>
  
    <!-- ======= Banner/slider ======= -->
      <div>
        <div class="slideshow-container">
          <div class="mySlides fade">
            <img
              src="https://nowfit.vn/wp-content/uploads/2023/10/1-03-scaled.jpg">
          </div>
  
          <div class="mySlides fade">
            <img src="https://gymone.vn/wp-content/uploads/2023/04/304-15-banner-1920x1100-1.jpg">
          </div>
  
          <div class="mySlides fade">
            <img src="https://strongfit.vn/upload/partner/4699285652475-553456189623861-8407339603745830464-n.jpg">
          </div>
            
        </div>
        <div class="dot-slider" style="text-align:center; margin-top: 20px;">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    <h2 style="text-align: center; margin-top: 50px; font-weight: 800; color: white;">Danh sách các phòng gym</h2>
    <div style="background-color: rgb(255, 187, 0); height: 4px; width: 280px; margin: auto;"></div>

    <!-- ======= List Gym Section ======= -->
    <div style="display: flex; padding-top: 30px; min-height: 1000px; padding: 60px; justify-content: center; width: 100%;">
      <div class="filter" style="width: 20%;  margin-top: 10px; ">
        <div class="range-price" style="border-radius: 10px 10px 0 0;">
          <header>
            <h4>Lọc theo giá</h4>
            <p>Áp dụng bộ lọc dựa trên giá</p>
          </header>
          <div style="margin-left: -5px;" class="price-input">
            <div class="field">
              <!-- <span style="font-size: 14px;">Min</span> -->
              <input style="color: white;" type="number" class="input-min" value="2500" disabled>
            </div>
            <div class="separator">-</div>
            <div style="margin-left: -10px;" class="field">
              <!-- <span style="font-size: 14px;">Max</span> -->
              <input style="color: white;" type="number" class="input-max" value="7500" disabled>
            </div>
          </div>
          <div class="slider">
            <div class="progress"></div>
          </div>
          <div class="range-input">
            <input  type="range" class="range-min" min="0" max="10000" value="2500" step="100">
            <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
          </div>
        </div>
        <div class="range-price" style="height:fit-content">
          <header>
            <h4>Lọc theo khoảng cách</h4>
            <p>Áp dụng bộ lọc dựa trên khoảng cách</p>
          </header>
          <div class="form-check rating-filter">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              0-2 km
            </label>
          </div>
          <div class="form-check rating-filter">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              2-5 km
            </label>
          </div>
          <div class="form-check rating-filter">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label " for="flexCheckChecked">
              Trên 5km
            </label>
          </div>
        </div>
        <div class="range-price" style="height: fit-content;">
          <header>
            <h4>Lọc theo đánh giá</h4>
            <p>Áp dụng bộ lọc dựa trên đánh giá</p>
          </header>
          <div class="form-check rating-filter">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </label>
          </div>
          <div class="form-check rating-filter">
            <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </label>
          </div>
          <div class="form-check rating-filter">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label " for="flexCheckChecked">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star "></span>
              <span class="fa fa-star "></span>
            </label>
          </div>
          <div class="form-check rating-filter ">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </label>
          </div>
          <div class="form-check rating-filter">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </label>
          </div>
        </div>

        <div class="range-price" style="height: fit-content; border-radius: 0 0 10px 10px ; ">
          <header>
            <h4>Sắp xếp</h4>
          </header>
          <div class="form-check" style="margin-top: 20px;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Sắp xếp theo số người tham gia
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Sắp xếp theo đánh giá
            </label>
          </div>
        </div>
      </div>

      <!-- Lis of gym -->
      <div class="listContainer" th:insert="fragments/gym-card-fragment.html :: gym-card-fragment"></div>
      </div>
    </div>

  <div class="pagination-wrapper" style="margin-top: -50px;">
            <div class="pagination">
              <a class="prev page-numbers" href="javascript:;">prev</a>
              <span aria-current="page" class="page-numbers current">1</span>
              <a class="page-numbers" href="javascript:;">2</a>
              <a class="page-numbers" href="javascript:;">3</a>
              <a class="page-numbers" href="javascript:;">4</a>
              <a class="page-numbers" href="javascript:;">5</a>
              <a class="page-numbers" href="javascript:;">6</a>
              <a class="page-numbers" href="javascript:;">7</a>
              <a class="page-numbers" href="javascript:;">8</a>
              <a class="page-numbers" href="javascript:;">9</a>
              <a class="page-numbers" href="javascript:;">10</a>
              <a class="next page-numbers" href="javascript:;">next</a>
            </div>
          </div>
  <!-- </main> -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" style="margin-top: 80px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Gp<span>.</span></h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>
          <div class="container">
            <div class="copyright">
              &copy; Copyright <strong><span>Gp</span></strong>. All Rights Reserved
            </div>
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
          </div>
        </div>
    </div>
  </footer>
  <!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i>
</a>
<script>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(sendLocationToServer);
    }

    function sendLocationToServer(position) {
        //real value from the web
        // const latitude = position.coords.latitude;
        // const longitude = position.coords.longitude;
        // console.log(latitude, longitude);

        //fixed value (position at hoa lac)
        const userLatitude = 21.00418734116798;
        const userLongitude = 105.52004332513577;
        console.log("Before AJAX request");
        $.ajax({
            type: "POST",
            url: "/user/homepage",
            data: {latitude: userLatitude, longitude: userLongitude},
            success: function (response) {
                console.log("Inside success callback");
                console.log(response.length);
                if (response.length === 0) {
                    $('.listContainer').empty();
                    $('.listContainer').html('<p>No gyms found nearby.</p>');
                } else {
                    $('.listContainer').empty();
                    $('.listContainer').html(response)
                    // updateCardContainer(response);
                }
            },
            error: function (error) {
                console.log("Inside error callback");
                console.error("Error sending location data:", error);
            }
        });
        console.log("After AJAX request");
    }

    //

</script>
<!-- Vendor JS Files -->
<script th:src="@{/user-homepage-assets/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/aos/aos.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/php-email-form/validate.js}"></script>
<!-- Template Main JS File -->
<script th:src="@{/user-homepage-assets/assets/js/main.js}"></script>
</body>
</html>