<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <th:block th:include="common/vendor-head"></th:block>
    <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
    <link th:href="@{/user-homepage-assets/assets/css/MyStyle.css}" rel="stylesheet">
</head>

<body class="login-register-body">

    <div class="register-login-content">
        <div class="col-md-6 banner-wrapper">
            <div class="banner">
                <a th:href="@{/landing-page}"  class="ghost_btn move_register">Trang giới thiệu</a>
            </div>
        </div>

        <div id="login-tab" class="col-md-6 login-tab">
            <h1 class="fw-bold">ĐĂNG NHẬP</h1>
            <div class="line"></div>
            <form class="mb-4" th:action="@{/login}" method='POST'>
            <div class="input-fields">
                <div class="input-field">
                    <div class="input-title">Tên đăng nhập</div>
                    <input type="text" name="account" placeholder="Nhập tên đăng nhập của bạn" value="">
                </div>
                <div class="input-field">
                    <div class="input-title">Mật khẩu</div>
                    <input type="password" name="password" placeholder="Nhập mật khẩu của bạn" value="">
                </div>
                <div class="mt-4" style="display: flex;">
                    <div class="remember-me">
                        <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox"
                               value="yes">
                        <label for="wp-comment-cookies-consent">Remember me
                        </label>
                    </div>
                    <a class="forgot-pw" th:href="@{/forgot-password}">Quên mật khẩu?</a>
                </div>
            </div>
            <button class="login">Đăng nhập</button>
            </form>
            <div th:if="${param.logout}" id="toast-info" class="alert alert-success">Đăng xuất thành công</div>
            <div th:if="${param.error}" id="toast-error" class="alert alert-danger" role="alert">
                Tên đăng nhập hoặc mật khẩu không chính xác, vui lòng thử lại
            </div>
            <div th:if="${successRegister}" id="toast-info-register" class="alert alert-success"> Đăng ký thành công </div>
            <p class="mt-4 mx-auto text-dark login-register-link">Chưa có tài khoản?<a th:href="@{/register}" class="link-style" style="margin-left: 10px">Đăng ký ngay</a></p>
        </div>
    </div>

<script th:if="${param.logout}">
    const toastInfo = document.getElementById("toast-info");
    toastInfo.classList.add("show", "alert", "alert-success");
    setTimeout(function () {
        toastInfo.classList.remove("show");
    }, 2800);
</script>

<script th:if="${param.error}">
    const toastError = document.getElementById("toast-error");
    toastError.classList.add("show");
    setTimeout(function () {
        toastError.classList.remove("show");
    }, 2800);
</script>
<script th:if="${successRegister}">
    const toastError = document.getElementById("toast-info-register");
    toastError.classList.add("show");
    setTimeout(function () {
        toastError.classList.remove("show");
    }, 2800);
</script>
<script>
</script>
</body>

</html>