<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ Hàng</title>
    <meta name="description" content="Cart Page">
    <meta name="keywords" content="My">

    <th:block th:include="common/vendor-head"></th:block>

    <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
    <link th:href="@{/user-homepage-assets/assets/css/MyStyle.css}" rel="stylesheet">
</head>

<body class="body-my-card">
<!-- ======= Header ======= -->
<header th:replace="common/navbar :: navbar"></header>

<!-- Content -->
<div id="my-card" class="my-card-container container">
    <h2 class="row shopping-cart-title">Giỏ hàng của bạn</h2>
    <div class="line row"></div>
    <th:block th:if="${cartItems.size() == 0}">
        <div class="row cart-empty">
            <img th:src="@{/user-homepage-assets/assets/img/empty-cart.png}">
            <div class="mt-2 mb-4 mx-auto">Giỏ hàng của bạn đang còn trống</div>
            <a th:href="@{/homepage}">
                <button class="buy-now-btn mb-4">Mua ngay</button>
            </a>
        </div>
    </th:block>
    <th:block th:if="${cartItems.size() > 0}">
    <div class="container">
        <div class="row my-card-title">
            <div class="col-1">
                <div class="form-check">
                    <input class="auto" onchange="checkAll(this)"  id="check-all" type="checkbox" value="" />
                    <label class="" for="flexCheckChecked"> </label>
                </div>
            </div>
            <div class="ms-2 col-5">
                <div class="my-plan-title">Gói tập</div>
            </div>
            <div class="col-2">
                <div class="price-title">Đơn giá (credits)</div>
            </div>
            <div class="col-2">
                <div class="num-of-plan-title">Số lượng</div>
            </div>
            <div class="col-1">
                <div class="action-title">Thao tác</div>
            </div>
        </div>
    </div>
    <!-- Để foreach ở đây -->
    <div class="plan-in-cart-wrapper container">
    <div class=""  th:each="department : ${departmentList}">
        <div class="plan-in-my-card row ">
            <div class="all-plan-of-gym">
                <div class="col-md-1 col-lg-1 col-sm-3 col-xs-1">
                    <div class="form-check">
                        <input onchange='checkAllGym(this)' name="gym" class="dept-checkbox" type="checkbox" value="" id="flexCheckChecked" />
                        <label class="" for="flexCheckChecked"> </label>
                    </div>
                </div>
                <div class="ms-2 col-md-11 col-lg-11 col-sm-9 col-xs-11">
                    <div class="gym-name-mc" th:text="${department.getDepartmentName()}">Phòng gym hòa lạc</div>
                </div>
            </div>
            <th:block th:each="cartItem: ${cartItems}">
                <th:block th:if="${cartItem.getGymPlan().getGymDepartmentId() == department.getDepartmentId()}">
                    <!-- Từng gym plan -->
                    <div class="" style="height: 15px; background-color: white;"></div>
                    <div class="gym-department-plan">
                        <div class="col-sm-1 col-xs-3">
                            <div class="form-check">
                            <input onclick='updateCartTotal(this)' name="plan" class="plan-checkbox" type="checkbox" value=""
                                   th:attr="data-product-id=${cartItem.getGymPlan().getGymPlanId()},
                                   data-dept-id=${cartItem.getGymPlan().getGymDepartmentId()},
                                   data-plan-price=${cartItem.getGymPlan().getPrice()}"/>
                            <label class="" for="flexCheckChecked"> </label>
                            </div>
                        </div>
                        <div class="ms-2 col-sm-5 col-xs-5">
                        <div class="plan-card-mc">
                            <img th:src="${cartItem.getGymPlan().getGymDepartmentLogoUrl()}" alt="Logo phòng tập"/>
                            <div class="plan-info-mc">
                                <h4 class="" th:text="${cartItem.getGymPlan().getGymPlanName()}"></h4>
                                <div th:text=" 'Thời lượng ' +  ${cartItem.getGymPlan().getDuration()} + ' ngày'">Thời lượng 365 ngày</div>
                            </div>
                            <div class="active-time-mc" th:text=" 'Kích hoạt trong vòng ' +  ${cartItem.getGymPlan().getPlanAfterActiveValidity()} + ' ngày'">
                                Kích hoạt trong vòng 10 ngày
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-6" style="">
                            <div class="row">
                        <div class="col-sm-4 col-xs-4 col-md-4 mb-2">
                            <div data-bs-toggle="tooltip" class="plan-price-mc" th:text="${cartItem.getGymPlan().getPrice()}" th:attr="title='Giá gói tập'">
                            200
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-4 col-md-4 mb-2">
                            <div class="num-of-plan-mc">
                                <div class="product-quantity" data-bs-toggle="tooltip" th:attr="title='Số lượng'" th:text="${cartItem.getQuantity()}">1</div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-4 col-md-4 mb-2">
                            <button data-bs-toggle="tooltip" th:attr="title='Xóa'" type="button" class="btn btn-warning delete-btn" th:onclick="'removeFromCart(' + ${cartItem.getGymPlan().getGymPlanId()} + ','+${cartItem.getGymPlan().getGymDepartmentId()}+')'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                                />
                                </svg>
                            </button>
                        </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>
    </div>

    <div class="container-fluid">
    <div class="row" style="height: 15px; background-color: white;"></div>
    <div class="total-container-mc row justify-content-center">
        <h3 class="total-plan-mc col-md-4 col-sm-3 col-3">
            <span id="count-all-plan-mc">0</span>
            <span>sản phẩm</span>
        </h3>
        <div class="total-credits-mc col-md-6 col-sm-5 col-6">
            <span class="total-title">Tổng thanh toán : </span>
            <span id="total-price-mc" class="total">0</span>
        </div>
        <div class="buy-button-mc col-md-2 col-sm-4 col-3">
            <button disabled type="button" onclick="checkout()" class="btn btn-warning" style="font-weight: 700;">Mua hàng</button>
        </div>
    </div>
    </div>
    </th:block>
</div>

<div th:replace="common/footer :: footer"></div>
<th:block th:insert="common/vendor-script"></th:block>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    var count = 0;
    let selectedItems = [];
    let selectedDept = [];
    let selectedPrice = [];
    let total_price = 0;

    // function Plan(planId, deptId) {
    //     this.planId = planId;
    //     this.deptId = deptId;
    // }
    class Plan {
        constructor(planId, deptId) {
                this.planId = planId;
                this.deptId = deptId;
            }
        get PlanId() {
            return this.planId;
        }
        get DeptId() {
            return this.deptId;
        }
    }
    let planSet = new Set();


    // check all
    let checkboxs = document.getElementById("my-card").querySelectorAll("input[type='checkbox']")
    let dept_checkboxes = document.querySelectorAll('.dept-checkbox');
    let cbActual = document.getElementById("my-card").querySelectorAll('input:not([class=auto])');
    let numOfPlan = document.getElementById("my-card").getElementsByClassName("plan-checkbox");
    let cbPlanActual = document.querySelectorAll(".plan-checkbox");

    // check all is checked when all plan checkbox is checked
    cbPlanActual.forEach(cb => {
        cb.addEventListener('change', (event) =>{
            if(!event.target.checked){
                document.getElementById('check-all').checked = false;
            } else{
                if([...cbPlanActual].every(cb=>cb.checked === true))
                    document.getElementById('check-all').checked = true;
            }
        })
    })

    cbActual.forEach(cb => {
        cb.addEventListener('change', (event) =>{
            if(!event.target.checked){
                document.getElementById('check-all').checked = false;
                count -= 1;
            } else{
                count += 1;
                if([...cbActual].every(cb=>cb.checked == true))
                    document.getElementById('check-all').checked = true;
            }
            // document.querySelector('.buy-button-mc button').disabled = selectedItems.length <= 0;
        })
    })
    function checkAll(myCheckAll){
        selectedItems = [];
        selectedDept = [];
        selectedPrice = [];
        total_price = 0;
        planSet = new Set([]);
        // count = 0;
        if(myCheckAll.checked === true){
            count = numOfPlan.length;
            document.querySelector('.buy-button-mc button').disabled = false;
            checkboxs.forEach(function(checkbox){
                checkbox.checked = true;
                let plan = {planId: checkbox.getAttribute("data-product-id"), deptId: checkbox.getAttribute("data-dept-id"), price: checkbox.getAttribute("data-plan-price")};
                if(plan.planId !== null && plan.deptId !== null){
                    planSet.add(plan);
                }
            });
            console.log(planSet);
            for(let p of planSet){
                addToUniqueArray(selectedItems, p.planId);
                addToUniqueArray(selectedDept, p.deptId);
                addToUniqueArray(selectedPrice, p.price);
            }
        } else {
            count = 0;
            document.querySelector('.buy-button-mc button').disabled = true;
            planSet = new Set([]);
            selectedItems = [];
            selectedDept = [];
            selectedPrice = [];
            total_price = 0;
            checkboxs.forEach(function(checkbox){
                checkbox.checked = false;
            });
        }

        document.getElementById("count-all-plan-mc").innerHTML = parseInt(planSet.size);
        console.log(JSON.stringify(selectedPrice));
        for (var i in selectedPrice) {
            total_price += parseFloat(selectedPrice[i]);
        }
        console.log(total_price);
        document.getElementById("total-price-mc").innerHTML = total_price;
        console.log(JSON.stringify(selectedItems));
    }

    // check all in each gym department
    for(var i=0; i<dept_checkboxes.length; i++){
        let cbActual1 = dept_checkboxes[i].parentElement.parentElement.parentElement.parentElement.querySelectorAll('input:not([class=dept-checkbox])');
        console.log(cbActual1);
        cbActual1.forEach(cb1 => {
            cb1.addEventListener('change', (event) =>{
                if(!event.target.checked){
                    let plan = {planId: cb1.getAttribute("data-product-id"),
                        deptId: cb1.getAttribute("data-dept-id"),
                        price: cb1.getAttribute("data-plan-price")};
                    planSet.forEach((item) => {
                        if(item.planId === plan.planId && plan.deptId === item.deptId){
                            planSet.delete(item);
                        }
                    });
                    selectedItems = [];
                    selectedDept = [];
                    selectedPrice = [];
                    for(let p of planSet){
                        addToUniqueArray(selectedItems, p.planId);
                        addToUniqueArray(selectedDept, p.deptId);
                        addToUniqueArray(selectedPrice, p.price);
                    }
                    let test = cb1.parentElement.parentElement.parentElement.parentElement.getElementsByClassName("dept-checkbox");
                    cb1.parentElement.parentElement.parentElement.parentElement.getElementsByClassName("dept-checkbox")[0].checked = false;
                } else{
                    let plan = {planId: cb1.getAttribute("data-product-id"),
                        deptId: cb1.getAttribute("data-dept-id"),
                        price: cb1.getAttribute("data-plan-price")};
                    if(plan.planId !== null && plan.deptId !== null){
                        planSet.add(plan);
                    }
                    selectedItems = [];
                    selectedDept = [];
                    selectedPrice = [];
                    for(let p of planSet){
                        addToUniqueArray(selectedItems, p.planId);
                        addToUniqueArray(selectedDept, p.deptId);
                        addToUniqueArray(selectedPrice, p.price);
                    }
                    if([...cbActual1].every(cb1=>cb1.checked == true)){
                        cb1.parentElement.parentElement.parentElement.parentElement.getElementsByClassName("dept-checkbox")[0].checked = true;
                    }
                }

                total_price = 0;
                for (var i in selectedPrice) {
                    total_price += parseFloat(selectedPrice[i]);
                }
                console.log(total_price);
                document.getElementById("total-price-mc").innerHTML = total_price;
                console.log(planSet);
                console.log(JSON.stringify(selectedItems));
                console.log(JSON.stringify(selectedDept));
                document.querySelector('.buy-button-mc button').disabled = planSet.size <= 0;
                document.getElementById("count-all-plan-mc").innerHTML = parseInt(planSet.size);
            })
        })
    }

    function checkAllGym(myCheckAll){
        let own_checkboxs = myCheckAll.parentElement.parentElement.parentElement.parentElement.querySelectorAll("input[type='checkbox']");
        total_price = 0;
        if(myCheckAll.checked === true){
            document.querySelector('.buy-button-mc button').disabled = false;
            own_checkboxs.forEach(function(checkbox) {
                checkbox.checked = true;
                let plan = {planId: checkbox.getAttribute("data-product-id"),
                    deptId: checkbox.getAttribute("data-dept-id"),
                    price: checkbox.getAttribute("data-plan-price")};
                if(plan.planId !== null && plan.deptId !== null){
                    for(let p of planSet){
                        if(plan.planId === p.planId && plan.deptId === p.deptId)
                            return;
                    }
                    planSet.add(plan);
                    selectedItems = [];
                    selectedDept = [];
                    selectedPrice = [];
                    for(let p of planSet){
                        addToUniqueArray(selectedItems, p.planId);
                        addToUniqueArray(selectedDept, p.deptId);
                        addToUniqueArray(selectedPrice, p.price);
                    }
                }
                console.log(planSet);
            });
        } else {
            own_checkboxs.forEach(function(checkbox){
                checkbox.checked = false;
                let plan = {planId: checkbox.getAttribute("data-product-id"),
                    deptId: checkbox.getAttribute("data-dept-id"),
                    price: checkbox.getAttribute("data-plan-price")};
                planSet.forEach((item) => {
                    if(item.planId === plan.planId && plan.deptId === item.deptId){
                        planSet.delete(item);
                    }
                });
                selectedItems = [];
                selectedDept = [];
                selectedPrice = [];
                for(let p of planSet){
                    addToUniqueArray(selectedItems, p.planId);
                    addToUniqueArray(selectedDept, p.deptId);
                    addToUniqueArray(selectedPrice, p.price);
                }
            });
        }
        for (var i in selectedPrice) {
            total_price += parseFloat(selectedPrice[i]);
        }
        console.log(total_price);
        console.log(JSON.stringify(selectedItems));
        console.log(JSON.stringify(selectedDept));
        console.log(JSON.stringify(selectedPrice));
        console.log(planSet);
        document.getElementById("total-price-mc").innerHTML = total_price;
        document.getElementById("count-all-plan-mc").innerHTML = parseInt(planSet.size);
        document.querySelector('.buy-button-mc button').disabled = planSet.size <= 0;

    }


    // function updateCartTotal(checkBox){
    //     let total = document.getElementById("total-price-mc").innerHTML;
    //     total_int = parseInt(total);
    //     get2 = checkBox.parentElement.parentElement.getElementsByClassName("plan-price-mc");
    //     price_int = parseInt(get2[0].innerHTML);
    //     let quantity = checkBox.parentElement.parentElement.querySelector(".product-quantity");
    //     if(checkBox.checked){
    //         total_int = total_int + price_int * quantity.innerHTML;
    //         document.getElementById("total-price-mc").innerHTML = total_int;
    //         console.log(total_int);
    //         addToUniqueArray(selectedItems, checkBox.getAttribute("data-product-id"));
    //         addToUniqueArray(selectedDept, checkBox.getAttribute("data-dept-id"));
    //     }
    //     else{
    //         total_int = total_int - price_int * quantity.innerHTML;
    //         document.getElementById("total-price-mc").innerHTML = total_int;
    //         console.log(total_int);
    //         let valuesToRemove = [];
    //         let deptIdRemove = [];
    //             addToUniqueArray(valuesToRemove, checkBox.getAttribute("data-product-id"));
    //             selectedItems = selectedItems.filter(item =>  !valuesToRemove.includes(item));
    //             addToUniqueArray(deptIdRemove, checkBox.getAttribute("data-dept-id"));
    //             selectedDept = selectedDept.filter(item =>  !deptIdRemove.includes(item));
    //     }
    //
    //
    //     if(selectedItems.length > 0) {
    //         document.querySelector('.buy-button-mc button').disabled = false;
    //     } else {
    //         document.querySelector('.buy-button-mc button').disabled = true;
    //     }
    // }

    function checkout() {
        const url = `/checkout/view?idList=${selectedItems.join(',')}&deptIdList=${selectedDept.join(',')}`;
        window.location.href = url;
    }

    function addToUniqueArray(arr, element) {
        if (element !== null) {
            arr.push(element);
        }
    }


    function removeFromCart(gymPlanId, departmentId) {
        Swal.fire({
            title: 'Bạn có chắc chắn muốn xóa sản phẩm khỏi giỏ hàng không?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Xóa',
            cancelButtonText: 'Hủy',
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/cart/remove?gymPlanId=' + gymPlanId + '&departmentId='+ departmentId;
            }
        });
    }

    var increaseButtons = document.querySelectorAll(".increase-button");
    var decreaseButtons = document.querySelectorAll(".decrease-button");

    increaseButtons.forEach(function(button) {
        button.addEventListener("click", function() {
            var productId = button.getAttribute("data-product-id");
            increaseQuantity(productId);
        });
    });

    decreaseButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            var productId = button.getAttribute("data-product-id");
            decreaseQuantity(productId);
        });
    });

    function increaseQuantity(productId) {
        // Sử dụng productId để xác định sản phẩm cần tăng
        var newQuantity = parseInt(document.querySelector(".product-quantity[data-product-id='" + productId + "']").textContent) + 1;
        updateQuantity(productId, newQuantity);
    }

    function decreaseQuantity(productId) {
        // Sử dụng productId để xác định sản phẩm cần giảm
        var currentQuantity = parseInt(document.querySelector(".product-quantity[data-product-id='" + productId + "']").textContent);
        if (currentQuantity > 1) {
            var newQuantity = currentQuantity - 1;
            updateQuantity(productId, newQuantity);
        }
    }

    function updateQuantity(productId, newQuantity) {
        console.log(JSON.stringify({
            gymPlanId: +productId,
            quantity: newQuantity,
        }))
        fetch("/cart/update", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                gymPlanId: +productId,
                quantity: newQuantity,
            }),
        })
            .then((response) => console.log(response))
            .then((data) => {
                // Xử lý phản hồi từ máy chủ (nếu cần)
                // Cập nhật số lượng sản phẩm trong giao diện người dùng
                document.querySelector(".product-quantity[data-product-id='" + productId + "']").textContent = newQuantity;
            })
            .catch((error) => {
                console.error("Error:", error);
            });
    }
</script>
</body>
</html>
