<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow d-flex align-items-center justify-content-lg-between">
    <!-- Sidebar Toggle (Topbar) -->
    <h1 class="logo me-auto me-lg-0"><a href="#">Fitpass<span>.</span></a></h1>
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               placeholder="Search for..." aria-label="Search"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <!-- Nav Item - Notifications -->
        <li class="nav-item dropdown no-arrow mx-1">
            <!-- Notification Bell -->
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter" id="notificationCounter">0</span>
            </a>

            <!-- Dropdown - Notifications -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in">
                <div style="color: black" class="bg-light border border-bottom border-light dropdown-header pt-3 pb-3">
                    <span class="h6" style="font-weight: lighter">Thông báo</span>
                    <span style="font-weight: lighter" id="unread-noti" class="ms-4 rounded-pill border border-white p-2">Chưa đọc</span>
                    <span style="font-weight: lighter" id="read-noti" class="ms-4 rounded-pill border border-white p-2">Đã đọc</span>
                </div>

                <div class="notification-íist" id="unread-noti-tab">
                    <a class="dropdown-item d-flex align-items-center">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div style="margin-left: 10px">
                            <div class="small text-gray-500">December 12, 2019</div>
                            <span class="font-weight-bold">A new monthly report is ready to download! (chưa đọc)</span>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center">
                        <div class="mr-3">
                            <div class="icon-circle bg-success">
                                <i class="fas fa-donate text-white"></i>
                            </div>
                        </div>
                        <div style="margin-left: 10px">
                            <div class="small text-gray-500">December 7, 2019</div>
                            $290.29 has been deposited into your account!
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div style="margin-left: 10px">
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your account.
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div style="margin-left: 10px">
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your account.
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div style="margin-left: 10px">
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your account.
                        </div>
                    </a>
                </div>

                <div id="read-noti-tab">
                <a class="dropdown-item d-flex align-items-center">
                    <div class="mr-3">
                        <div class="icon-circle bg-primary">
                            <i class="fas fa-file-alt text-white"></i>
                        </div>
                    </div>
                    <div style="margin-left: 10px">
                        <div class="small text-gray-500">December 12, 2019</div>
                        <span class="font-weight-bold">A new monthly report is ready to download! (đã đọc)</span>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center">
                    <div class="mr-3">
                        <div class="icon-circle bg-success">
                            <i class="fas fa-donate text-white"></i>
                        </div>
                    </div>
                    <div style="margin-left: 10px">
                        <div class="small text-gray-500">December 7, 2019</div>
                        $290.29 has been deposited into your account!
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center">
                    <div class="mr-3">
                        <div class="icon-circle bg-warning">
                            <i class="fas fa-exclamation-triangle text-white"></i>
                        </div>
                    </div>
                    <div style="margin-left: 10px">
                        <div class="small text-gray-500">December 2, 2019</div>
                        Spending Alert: We've noticed unusually high spending for your account.
                    </div>
                </a>
                    <a class="dropdown-item d-flex align-items-center">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div style="margin-left: 10px">
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your account.
                        </div>
                    </a>
                </div>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-black text-capitalize small"
                      th:text="${session.userInfo.getUserAccount()}"></span>
                <img class="img-profile rounded-circle" th:src="@{/employee-assets/img/undraw_profile.svg}">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" th:href="@{/employee/changePassword}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Đổi mật khẩu
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Đăng xuất
                </a>
            </div>
        </li>
    </ul>
</nav>
<script>
    document.getElementById("unread-noti").style.backgroundColor = "#d5e9ff";
    document.getElementById("unread-noti").style.color = "blue";
    document.getElementById("read-noti-tab").style.display = "none";
    document.getElementById("read-noti").style.backgroundColor = '#e7e7e7';


    document.getElementById("read-noti").addEventListener('click', function(){
        document.getElementById("read-noti").style.backgroundColor = "#d5e9ff";
        document.getElementById("read-noti").style.color = "blue";
        document.getElementById("unread-noti").style.backgroundColor = '#e7e7e7';
        document.getElementById("unread-noti").style.color = "";
        document.getElementById("read-noti-tab").style.display = "block";
        document.getElementById("unread-noti-tab").style.display = "none";
    });
    document.getElementById("unread-noti").addEventListener('click', function(){
        document.getElementById("unread-noti").style.backgroundColor = "#d5e9ff";
        document.getElementById("unread-noti").style.color = "blue";
        document.getElementById("read-noti").style.backgroundColor = '#e7e7e7';
        document.getElementById("read-noti").style.color = "";
        document.getElementById("read-noti-tab").style.display = "none";
        document.getElementById("unread-noti-tab").style.display = "block";

    });

</script>
<style>
    .notification-íist{
        max-height: 358px;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
    }
    .notification-íist::-webkit-scrollbar-track {
        background-color: #ffffff;
    }

    .notification-íist::-webkit-scrollbar {
        width: 8px;
        height: 4px;
        background-color: #d5e9ff;
    }
    .notification-íist::-webkit-scrollbar-thumb {
        background-color: #c6c6c6;
        border: 2px solid #c6c6c6;
    }
</style>