<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" th:href="@{/user-homepage-assets/assets/img/icon.png}">
    <link rel="apple-touch-icon" th:href="@{/user-homepage-assets/assets/img/apple-touch-icon.png}">
    <script src="https://kit.fontawesome.com/a59b9b09ab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
    <link th:href="@{https://www.w3schools.com/w3css/4/w3.css}" rel="stylesheet">
    <link th:href="@{/user-homepage-assets/assets/css/MyStyle.css}" rel="stylesheet">
</head>
<body class="body-list-brand">
<!-- ======= Header ======= -->
<header th:replace="common/navbar :: navbar"></header>

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" style="margin-top: 77px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExample" data-bs-slide-to="2"></li>
    </ol>

    <!-- Slides -->
    <div class="carousel-inner">
        <div class="carousel-item active bg-black">
            <img th:src="@{/user-homepage-assets/assets/img/banner/banner_2.gif}" class="d-block w-100"
                 alt="Banner 1">
        </div>
        <div class="carousel-item bg-black">
            <img th:src="@{/user-homepage-assets/assets/img/banner/banner_2.gif}" class="d-block w-100"
                 alt="Banner 2">
        </div>
        <div class="carousel-item bg-black">
            <img th:src="@{/user-homepage-assets/assets/img/banner/banner_2.gif}" class="d-block w-100"
                 alt="Banner 3">
        </div>
    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<!-- Content -->
<div class="list-brand-content container">
    <div class="row home-option">
        <div id="brand-list" onclick="openBrand()" class="col-md-6 mx-auto active-list">
            <span class="tab-img"><img src="https://cdn-icons-png.flaticon.com/128/5632/5632749.png"></span>
            <span class="tab-title fw-bold">Thương hiệu</span>
        </div>
        <div id="gym-list" onclick="openGym()" class="col-md-6 mx-auto">
            <span class="tab-img"><img src="https://cdn-icons-png.flaticon.com/128/6129/6129133.png"></span>
            <span class="tab-title fw-bold">Cơ sở gần bạn</span>
        </div>
    </div>
    <div id="list-brand" class="list-of-brand">
        <h3 class="fw-bold list-brand-title">Danh sách các Gym Brand của chúng tôi</h3>
        <div class="container mb-5">
            <form>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                        <label class="pt-2 pb-2 fw-bold" for="price">Lượt bán:</label>
                        <select class="gym-dropdown" id="sort-price">
                            <option value="lowToHigh">Thấp đến cao</option>
                            <option value="highToLow">Cao đến thấp</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                        <label class="pt-2 pb-2 fw-bold" for="rating">Rating:</label>
                        <select class="gym-dropdown" id="sort-rating">
                            <option value="5">5 sao</option>
                            <option value="4">Trên 4 sao</option>
                            <option value="3">Trên 3 sao</option>
                            <option value="2">Trên 2 sao</option>
                            <option value="1">Trên 1 sao</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="row justify-content-center" id="brand-list-container"></div>
        <!-- pagination -->
        <div class="pagination mt-5" id="paginationBrand"></div>
    </div>

    <!-- List departments -->
    <div id="list-gym" class="list-of-gym">
        <h3 class="fw-bold list-brand-title">Danh sách các cơ sở Gym gần bạn</h3>
        <div class="container ">
            <form id="filter-form">
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                        <label class="pt-2 pb-2 fw-bold" for="location">Vị trí:</label>
                        <select class="gym-dropdown" id="location">
                            <option value="all">Tất cả</option>
                            <option value="Hà Nội">Hà Nội</option>
                            <option value="Hồ Chí Minh">TP. Hồ Chí Mnh</option>
                            <option value="An Giang">An Giang</option>
                            <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                            <option value="Bắc Giang">Bắc Giang</option>
                            <option value="Bắc Kạn">Bắc Kạn</option>
                            <option value="Bạc Liêu">Bạc Liêu</option>
                            <option value="Bắc Ninh">Bắc Ninh</option>
                            <option value="Bến Tre">Bến Tre</option>

<!--                            <option value="BĐ">Bình Định</option>-->
<!--                            <option value="BP">Bình Phước</option>-->
<!--                            <option value="BTH">Bình Thuận</option>-->
<!--                            <option value="CM">Cà Mau</option>-->
<!--                            <option value="CB">Cao Bằng</option>-->
<!--                            <option value="DN">Đà Nẵng</option>-->
<!--                            <option value="ĐN">Đắk Nông</option>-->
<!--                            <option value="ĐL">Đắk Lắk</option>-->
<!--                            <option value="ĐT">Đồng Tháp</option>-->
<!--                            <option value="GL">Gia Lai</option>-->
<!--                            <option value="HG">Hà Giang</option>-->
<!--                            <option value="HD">Hải Dương</option>-->
<!--                            <option value="HP">Hải Phòng</option>-->
<!--                            <option value="HU">Hậu Giang</option>-->
<!--                            <option value="HY">Hòa Bình</option>-->
<!--                            <option value="KH">Khánh Hòa</option>-->
<!--                            <option value="KG">Kiên Giang</option>-->
<!--                            <option value="KT">Kon Tum</option>-->
<!--                            <option value="LC">Lai Châu</option>-->
<!--                            <option value="LD">Lâm Đồng</option>-->
<!--                            <option value="LS">Lạng Sơn</option>-->
<!--                            <option value="LA">Lào Cai</option>-->
<!--                            <option value="LC">Long An</option>-->
<!--                            <option value="ND">Nam Định</option>-->
<!--                            <option value="NB">Nghệ An</option>-->
<!--                            <option value="NT">Ninh Bình</option>-->
<!--                            <option value="NA">Ninh Thuận</option>-->
<!--                            <option value="PT">Phú Thọ</option>-->
<!--                            <option value="PYN">Phú Yên</option>-->
<!--                            <option value="QB">Quảng Bình</option>-->
<!--                            <option value="QG">Quảng Ngãi</option>-->
<!--                            <option value="QN">Quảng Ninh</option>-->
<!--                            <option value="QT">Quảng Trị</option>-->
<!--                            <option value="ST">Sóc Trăng</option>-->
<!--                            <option value="SL">Sơn La</option>-->
<!--                            <option value="TN">Tây Ninh</option>-->
<!--                            <option value="TB">Thái Bình</option>-->
<!--                            <option value="TNH">Thái Nguyên</option>-->
<!--                            <option value="TH">Thanh Hóa</option>-->
<!--                            <option value="TG">Thừa Thiên Huế</option>-->
<!--                            <option value="TI">Tiền Giang</option>-->
<!--                            <option value="TR">Trà Vinh</option>-->
<!--                            <option value="TQ">Tuyên Quang</option>-->
<!--                            <option value="VL">Vĩnh Long</option>-->
<!--                            <option value="VT">Vĩnh Phúc</option>-->
<!--                            <option value="YN">Yên Bái</option>-->
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                        <label class="pt-2 pb-2 fw-bold" for="price">Giá gói:</label>
                        <select class="gym-dropdown" id="price">
                            <option value="lowToHigh">Thấp đến cao</option>
                            <option value="highToLow">Cao đến thấp</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                        <label class="pt-2 pb-2 fw-bold" for="rating">Rating:</label>
                        <select class="gym-dropdown" id="rating">
                            <option value="0" selected>Select Rating</option>
                            <option value="5">5 sao</option>
                            <option value="4">Trên 4 sao</option>
                            <option value="3">Trên 3 sao</option>
                            <option value="2">Trên 2 sao</option>
                            <option value="1">Trên 1 sao</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center" id="distance-select" style="display: none;">
                        <label class="pt-2 pb-2 fw-bold" for="distance">Cách bạn:</label>
                        <select class="gym-dropdown" id="distance">
                            <option value="2">Dưới 2 km</option>
                            <option value="5">Dưới 5 km</option>
                            <option value="10" selected>Dưới 10 km</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="row row-gym justify-content-center mt-5" id="department-list-container"></div>
        <!-- pagination -->
        <div class="pagination mt-5" id="pagnitionDepartment"></div>
    </div>
</div>
</div>
</div>
<!-- ======= Header ======= -->
<div th:replace="common/footer :: footer"></div>

<!-- Vendor JS Files -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/aos/aos.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/user-homepage-assets/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/user-homepage-assets/assets/js/main.js}"></script>
<script>
    var latitude = 0;
    var longtitue = 0;
    var selectedRating = "";
    var selectedPrice = "";

    $(document).ready(function () {
        loadBrand(1); // Tải trang đầu tiên
    });

    //Tab display code
    document.getElementById("list-gym").style.display = "none";

    function openGym() {
        document.getElementById("list-brand").style.display = "none";
        document.getElementById("list-gym").style.display = "block";
        document.getElementById("gym-list").classList.add("active-list");
        document.getElementById("brand-list").classList.remove("active-list");
        loadDepartmentDataWithNoGeolocation(latitude, longtitue, $("#distance").val(), $("#location").val(), $("#price").val(), $("#rating").val(), 1, 6);
        getNearbyGyms(1);
    }

    function openBrand() {
        document.getElementById("list-gym").style.display = "none";
        document.getElementById("list-brand").style.display = "block";
        document.getElementById("brand-list").classList.add("active-list");
        document.getElementById("gym-list").classList.remove("active-list");
        loadBrand(1);
    }
    
    // Sự kiện thay đổi giá trị trong dropdown "Rating"
    $('#sort-rating').change(function () {
        selectedRating = $(this).val();
        loadBrand(1)
    });

    // Sự kiện thay đổi giá trị trong dropdown "Price"
    $('#sort-price').change(function () {
        selectedPrice = $(this).val();
        loadBrand(1)
    });

    function loadBrand(page) {
        $.ajax({
            url: '/user/homepage/brand',
            type: 'GET',
            data: {
                page: page,
                size: 6,
                sortPrice: selectedPrice,
                sortRating: selectedRating
            },
            success: function (data) {
                // Hiển thị danh sách người dùng
                var brandListHtml = '';
                $.each(data.listBrand, function (index, brand) {
                    brandListHtml += `
<div class="col-md-12 col-lg-6 col-xl-6 mx-auto mb-4">
<a href="/brand/brand-detail/${brand.brandId}">
            <div class="brand">
                <img class="brand-image"
                     src="${brand.brandThumbnailUrl}" alt="Ảnh bìa">
                <div class="brand-info">
                    <h5 class="fw-bold">${brand.brandName}</h5>
                    <div style="height: 25px; margin-top: -3px;" data-star="${brand.rating}"></div>
                    <div class="description">${brand.brandDescription}</div>
                    <div style="display: flex; margin-top: 20px">
                        <div class="basic-info">
                            <span><img src="https://cdn-icons-png.flaticon.com/128/11569/11569967.png"></span>
                            <span>${data.brandDepartmentsMap[brand.brandId].length} Cơ Sở</span>
                        </div>
                        <div class="basic-info" style="margin-left: 15px;">
                            <span><img src="https://cdn-icons-png.flaticon.com/128/2804/2804294.png"></span>
                            <span>${brand.numberOfOrderDetailSale} gói tập đã bán</span>
                        </div>
                    </div>
                </div>
            </div>
            </a>
            </div>`;
                });

                $('#brand-list-container').html(brandListHtml);
                // Tạo liên kết phân trang
                var paginationHtml = '';
                for (var i = 1; i <= data.totalPage; i++) {
                    var currentPage = data.currentPage;
                    if (i === currentPage) {
                        paginationHtml += '<a href="#" class="active" onclick="paginationBrand(' + i + ')">' + i + '</a> ';
                    } else {
                        paginationHtml += '<a href="#"  onclick="paginationBrand(' + i + ')">' + i + '</a> ';
                    }
                }
                $('#paginationBrand').empty().html(paginationHtml);
            }
        });
    }

    function paginationBrand(page) {
        event.preventDefault();
        loadBrand(page);
    }

    $("#price").change(function () {
        getNearbyGyms(1);
    })

    $("#rating").change(function () {
        getNearbyGyms(1);
    })

    $("#distance").change(function () {
        getNearbyGyms(1)
    })

    $("#location").change(function () {
        getNearbyGyms(1);
    })

    function getNearbyGyms(page) {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    document.getElementById("distance-select").style.display = "block";
                    sendLocationToServer(position, page);
                },
                function (error) {
                    handleGeolocationError(error, page);
                }
            );
        }
    }

    function sendLocationToServer(position, page) {
        // latitude = position.coords.latitude;
        // longtitue = position.coords.longitude;
        //Hoan Kiem Geo
        latitude = 21.0287875844513
        longtitue = 105.85144018976352
        console.log(latitude);
        console.log(longtitue);
        loadDepartmentData(latitude, longtitue, $("#distance").val(), $("#location").val(), $("#price").val(), $("#rating").val(), page, 6);
    }

    function handleGeolocationError(error, page) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                latitude = 0;
                longtitue = 0;
                // Người dùng từ chối cung cấp vị trí
                loadDepartmentDataWithNoGeolocation(latitude, longtitue, $("#distance").val(), $("#location").val(), " ", $("#rating").val(), page, 6);
                break;
            case error.POSITION_UNAVAILABLE:
                // Không thể xác định được vị trí
                break;
            case error.TIMEOUT:
                // Quá thời gian để lấy vị trí
                break;
            case error.UNKNOWN_ERROR:
                // Lỗi không xác định
                break;
        }
    }

    function loadDepartmentData(userLatitude, userLongitude, belowDistance, city, sortPrice, sortRating, page, size) {
        $.ajax({
            type: "POST",
            url: "/user/homepage",
            data: {
                userLatitude: userLatitude,
                userLongitude: userLongitude,
                belowDistance: belowDistance,
                city: city,
                sortPrice: sortPrice,
                sortRating: sortRating,
                page: page,
                size: size
            },
            success: function (response) {
                handleDepartmentDataResponse(response);
            },
            error: function (error) {
                console.error("Error sending location data:", error);
            }
        });
    }

    function loadDepartmentDataWithNoGeolocation(userLatitude, userLongitude, belowDistance, city, sortPrice, sortRating, page, size) {
        $.ajax({
            type: "POST",
            url: "/user/homepage",
            data: {
                userLatitude: userLatitude,
                userLongitude: userLongitude,
                belowDistance: belowDistance,
                city: city,
                sortPrice: sortPrice,
                sortRating: sortRating,
                page: page,
                size: size
            },
            success: function (response) {
                handleDepartmentDataResponseWithNoGeolocation(response);
            },
            error: function (error) {
                console.error("Error sending location data:", error);
            }
        });
    }

    function handleDepartmentDataResponse(response) {
        console.log(response);
        let departmentSize = response.departmentList.length

        var departmentListContainer = $('#department-list-container');
        departmentListContainer.empty();

        if (departmentSize === 0) {
            departmentListContainer.html('<p>No gyms found nearby.</p>');
        } else {
            var departmentListHtml = '';

            $.each(response.departmentList, function (index, department) {
                departmentListHtml += `
                <div class="col-md-6 col-lg-6 col-xl-4 mb-4">
                    <a href="/department/department-detail/${department.departmentId}">
                    <div class="card">
                            <div class="distance-flag">
                                <span><img src="https://cdn-icons-png.flaticon.com/128/5774/5774388.png"></span>
                                <span>Cách bạn ${roundToTwoDecimalPlaces(+department.distance)} km</span>
                            </div>
                            <img class="card-img-top" alt="Ảnh phòng tập" src="${department.departmentThumbnailUrl}">
                            <div class="card-body">
                                   <h3 class="card-title">${department.departmentName}</h3>
                                    <p class="card-text">
                                       <i class="bi bi-geo-alt"></i> ${department.departmentAddress}
                                    </p>
                                    <p class="phone-number">
                                           <i class="bi bi-telephone"></i> ${department.departmentContactNumber}
                                    </p>
                <div class="review-section mb-3">
                    Đánh giá:
                    <div class="rating" data-star="${department.rating}"></div>
                    <i class="num-of-rating ">${department.feedbackCount} đánh giá</i>
                </div>
                <div class="gym-price justify-content-center">
                        <span class="mb-3 d-inline" >Giá gói:</span>
                        <h5 class="text-money d-inline">
                            ${department.minPrice}-${department.maxPrice} <span class="credit" style="font-size: 14px;">Credit</span>
                        </h5>
                </div>
               </div>
       </div>
       </a>
   </div>`;
            });
            departmentListContainer.html(departmentListHtml);

            // Tạo liên kết phân trang
            var paginationHtml = '';
            for (var i = 1; i <= response.totalPage; i++) {
                var currentPage = response.currentPage; // Trang hiện tại (0-based)
                if (i === currentPage) {
                    paginationHtml += '<a href="#" class="active" onclick="pagnitionDepartment(' + i + ')">' + i + '</a> ';
                } else {
                    paginationHtml += '<a href="#"  onclick="pagnitionDepartment(' + i + ')">' + i + '</a> ';
                }
            }
            $('#pagnitionDepartment').empty().html(paginationHtml);
        }
    }

    function handleDepartmentDataResponseWithNoGeolocation(response) {
        console.log(response);
        let departmentSize = response.departmentList.length

        var departmentListContainer = $('#department-list-container');
        departmentListContainer.empty();

        if (departmentSize === 0) {
            departmentListContainer.html('<p>No gyms found</p>');
        } else {
            var departmentListHtml = '';

            $.each(response.departmentList, function (index, department) {
                departmentListHtml += `
                <div class="col-md-6 col-lg-6 col-xl-4 mb-4">
                    <a href="/department/department-detail/${department.departmentId}">
                    <div class="card">
                            <img class="card-img-top" alt="Ảnh phòng tập" src="${department.departmentThumbnailUrl}">
                            <div class="card-body">
                                   <h3 class="card-title">${department.departmentName}</h3>
                                    <p class="card-text">
                                       <i class="bi bi-geo-alt"></i> ${department.departmentAddress}
                                    </p>
                                    <p class="phone-number">
                                           <i class="bi bi-telephone"></i> ${department.departmentContactNumber}
                                    </p>
                <div class="review-section mb-3">
                    Đánh giá:
                    <div class="rating" data-star="${department.rating}"></div>
                    <i class="num-of-rating ">${department.feedbackCount} đánh giá</i>
                </div>
                <div class="gym-price justify-content-center">
                        <span class="mb-3 d-inline" >Giá gói:</span>
                        <h5 class="text-money d-inline">
                            ${department.minPrice}-${department.maxPrice} <span class="credit" style="font-size: 14px;">Credit</span>
                        </h5>
                </div>
               </div>
       </div>
       </a>
   </div>`;
            });
            departmentListContainer.html(departmentListHtml);

            // Tạo liên kết phân trang
            var paginationHtml = '';
            for (var i = 1; i <= response.totalPage; i++) {
                var currentPage = response.currentPage;
                if (i === currentPage) {
                    paginationHtml += '<a href="#" class="active" onclick="pagnitionDepartment(' + i + ')">' + i + '</a> ';
                } else {
                    paginationHtml += '<a href="#"  onclick="pagnitionDepartment(' + i + ')">' + i + '</a> ';
                }
            }
            $('#pagnitionDepartment').empty();
            $('#pagnitionDepartment').html(paginationHtml);
        }
    }

    function pagnitionDepartment(page) {
        event.preventDefault();
        getNearbyGyms(page);
    }

    function roundToTwoDecimalPlaces(number) {
        return Math.round((number + Number.EPSILON) * 100) / 100;
    }
</script>
</body>
</html>
