<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="icon" th:href="@{/user-homepage-assets/assets/img/icon.png}">
        <link rel="apple-touch-icon" th:href="@{/user-homepage-assets/assets/img/apple-touch-icon.png}">
        <script src="https://kit.fontawesome.com/a59b9b09ab.js" crossorigin="anonymous"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet">
        <link th:href="@{/user-homepage-assets/assets/vendor/aos/aos.css}" rel="stylesheet">
        <link th:href="@{/user-homepage-assets/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/user-homepage-assets/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{/user-homepage-assets/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/user-homepage-assets/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
        <link th:href="@{/user-homepage-assets/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
        <link th:href="@{/user-homepage-assets/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
        <link th:href="@{https://www.w3schools.com/w3css/4/w3.css}" rel="stylesheet">
        <link th:href="@{/user-homepage-assets/assets/css/MyStyle.css}" rel="stylesheet">
    </head>
    <body class="body-list-brand">
        <!-- ======= Header ======= -->
        <header th:replace="common/navbar :: navbar"></header>

        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" style="margin-top: 77px;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExample" data-bs-slide-to="2"></li>
            </ol>

            <!-- Slides -->
            <div class="carousel-inner">
                <div class="carousel-item active bg-black">
                    <img th:src="@{/user-homepage-assets/assets/img/banner/banner_2.gif}" class="d-block w-100"
                         alt="Banner 1">
                </div>
                <div class="carousel-item bg-black">
                    <img th:src="@{/user-homepage-assets/assets/img/banner/banner_2.gif}" class="d-block w-100"
                         alt="Banner 2">
                </div>
                <div class="carousel-item bg-black">
                    <img th:src="@{/user-homepage-assets/assets/img/banner/banner_2.gif}" class="d-block w-100"
                         alt="Banner 3">
                </div>
            </div>

            <!-- Controls -->
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>

        <!-- Content -->
        <div class="list-brand-content container">
            <div class="row home-option">
                <div id="brand-list" onclick="openBrand()" class="col-md-6 mx-auto active-list">
                    <span class="tab-img"><img src="https://cdn-icons-png.flaticon.com/128/5632/5632749.png"></span>
                    <span class="tab-title fw-bold">Thương hiệu</span>
                </div>
                <div id="gym-list" onclick="openGym()" class="col-md-6 mx-auto">
                    <span class="tab-img"><img src="https://cdn-icons-png.flaticon.com/128/6129/6129133.png"></span>
                    <span class="tab-title fw-bold">Cơ sở gần bạn</span>
                </div>
            </div>
                    <div id="list-brand" class="list-of-brand">
                        <h3 class="fw-bold list-brand-title">Danh sách các Gym Brand của chúng tôi</h3>
                        <div class="container mb-5">
                            <form>
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                                        <label class="pt-2 pb-2 fw-bold" for="price">Lượt bán:</label>
                                        <select class="gym-dropdown" id="sort-price">
                                            <option value="lowToHigh">Thấp đến cao</option>
                                            <option value="highToLow">Cao đến thấp</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                                        <label class="pt-2 pb-2 fw-bold" for="rating">Rating:</label>
                                        <select class="gym-dropdown" id="sort-rating">
                                            <option value="5">5 sao</option>
                                            <option value="4">Trên 4 sao</option>
                                            <option value="3">Trên 3 sao</option>
                                            <option value="2">Trên 2 sao</option>
                                            <option value="1">Trên 1 sao</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row justify-content-center"
                             th:insert="homepage/fragments/list-brand-fr.html :: list-brand-fr">
                        </div>
                        <!-- pagination -->
                        <div id="pagnitionBrand" class="pagination mt-5">
                        </div>
                    </div>

                <!-- List departments -->
                    <div id="list-gym" class="list-of-gym">
                        <h3 class="fw-bold list-brand-title">Danh sách các cơ sở Gym gần bạn</h3>
                        <div class="container ">
                            <form id="filter-form">
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                                        <label class="pt-2 pb-2 fw-bold" for="location">Vị trí:</label>
                                        <select class="gym-dropdown" id="location">
                                            <option value="all">Tất cả</option>
                                            <option value="hn">Hà Nội</option>
                                            <option value="hcm">TP. Hồ Chí Mnh</option>
                                            <option value="dn">Đà Nẵng</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                                        <label class="pt-2 pb-2 fw-bold" for="price">Giá gói:</label>
                                        <select class="gym-dropdown" id="price">
                                            <option value="lowToHigh">Thấp đến cao</option>
                                            <option value="highToLow">Cao đến thấp</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                                        <label class="pt-2 pb-2 fw-bold" for="rating">Rating:</label>
                                        <select class="gym-dropdown" id="rating">
                                            <option value="5">5 sao</option>
                                            <option value="4">Trên 4 sao</option>
                                            <option value="3">Trên 3 sao</option>
                                            <option value="2">Trên 2 sao</option>
                                            <option value="1">Trên 1 sao</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 text-center">
                                        <label class="pt-2 pb-2 fw-bold" for="distance fw-bold">Cách bạn:</label>
                                        <select class="gym-dropdown" id="distance fw-bold">
                                            <option value="1-5">Dưới 2 km</option>
                                            <option value="5-20">Dưới 5 km</option>
                                            <option value="5-20">Dưới 10 km</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row justify-content-center mt-5" id="department-list-container"
                             th:insert="homepage/fragments/list-gym-fr.html :: list-gym-fr">
                        </div>
                        <!-- pagination -->
                        <div class="pagination mt-5">
                        </div>
                    </div>
                </div>
        <!-- ======= Header ======= -->
        <div th:replace="common/footer :: footer"></div>

        <!-- Vendor JS Files -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script th:src="@{/user-homepage-assets/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
        <script th:src="@{/user-homepage-assets/assets/vendor/aos/aos.js}"></script>
        <script th:src="@{/user-homepage-assets/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/user-homepage-assets/assets/vendor/glightbox/js/glightbox.min.js}"></script>
        <script th:src="@{/user-homepage-assets/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
        <script th:src="@{/user-homepage-assets/assets/vendor/swiper/swiper-bundle.min.js}"></script>
        <script th:src="@{/user-homepage-assets/assets/vendor/php-email-form/validate.js}"></script>

        <!-- Template Main JS File -->
        <script th:src="@{/user-homepage-assets/assets/js/main.js}"></script>
        <script>
            //Tab display code
            document.getElementById("list-gym").style.display = "none";
            function openGym() {
                document.getElementById("list-brand").style.display = "none";
                document.getElementById("list-gym").style.display = "block";
                document.getElementById("gym-list").classList.add("active-list");
                document.getElementById("brand-list").classList.remove("active-list");
                getNearbyGyms();
            }
            function openBrand() {
                document.getElementById("list-gym").style.display = "none";
                document.getElementById("list-brand").style.display = "block";
                document.getElementById("brand-list").classList.add("active-list");
                document.getElementById("gym-list").classList.remove("active-list");
            }

            var page_num = document.getElementById("pagnitionBrand").getElementsByTagName("a");
            console.log(page_num);
            // page_num[0].style.backgroundColor = "black";

            function getNearbyGyms() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(sendLocationToServer);
                }

                function sendLocationToServer(position) {
                    //real value from the web
                    // const latitude = position.coords.latitude;
                    // const longitude = position.coords.longitude;
                    // console.log(latitude, longitude);

                    //fixed value (position at hoa lac)
                    const userLatitude = 21.00418734116798;
                    const userLongitude = 105.52004332513577;
                    console.log("Before AJAX request");
                    $.ajax({
                        type: "POST",
                        url: "/user/homepage",
                        data: {
                            userLatitude: userLatitude,
                            userLongitude: userLongitude,
                            city: $("#location").val(),
                            sortPrice: $("#price").val(),
                            sortRating: $("#rating").val()
                        },
                        success: function (response) {
                            console.log(response);
                            console.log("Inside success callback");
                            console.log(response.length);
                            if (response.length === 0) {
                                $('#department-list-container').empty();
                                $('#department-list-container').html('<p>No gyms found nearby.</p>');
                            } else {
                                $('#department-list-container').empty();
                                $('#department-list-container').html(response)
                            }
                        },
                        error: function (error) {
                            console.log("Inside error callback");
                            console.error("Error sending location data:", error);
                        }
                    });
                    console.log("After AJAX request");
                }
            }
        </script>
        <script>
            $(document).ready(function () {
                loadBrand(1); // Tải trang đầu tiên khi trang web được tải lần đầu
            });
            var selectedRating = "";
            var selectedPrice = "";
            // Sự kiện thay đổi giá trị trong dropdown "Rating"
            $('#sort-rating').change(function () {
                selectedRating = $(this).val();
                loadBrand(1)
            });

            // Sự kiện thay đổi giá trị trong dropdown "Price"
            $('#sort-price').change(function () {
                selectedPrice = $(this).val();
                loadBrand(1)
            });

            function pagnitionBrand(page) {
                event.preventDefault();
                loadBrand(page);
            }

            function loadBrand(page) {
                console.log(page)
                $.ajax({
                    url: '/user/homepage/brand',
                    type: 'GET',
                    data: {
                        page: page,
                        size: 6,
                        sortPrice: selectedPrice,
                        sortRating: selectedRating
                    },
                    success: function (data) {
                        // Hiển thị danh sách người dùng
                        var brandListHtml = '';
                        $.each(data.listBrand, function (index, brand) {
                            brandListHtml += `
<div class="col-md-12 col-lg-6 col-xl-6 mx-auto mb-4">
<a href="/brand/brand-detail/${brand.brandId}">
            <div class="brand">
                <img class="brand-image"
                     src="${brand.brandThumbnailUrl}" alt="Ảnh bìa">
                <div class="brand-info">
                    <h5 class="fw-bold">${brand.brandName}</h5>
                    <div style="height: 25px; margin-top: -3px;" data-star="${brand.rating}"></div>
                    <div class="description">${brand.brandDescription}</div>
                    <div style="display: flex; margin-top: 20px">
                        <div class="basic-info">
                            <span><img src="https://cdn-icons-png.flaticon.com/128/11569/11569967.png"></span>
                            <span>${data.brandDepartmentsMap[brand.brandId].length} Cơ Sở</span>
                        </div>
                        <div class="basic-info" style="margin-left: 15px;">
                            <span><img src="https://cdn-icons-png.flaticon.com/128/2804/2804294.png"></span>
                            <span>${brand.numberOfOrderDetailSale} gói tập đã bán</span>
                        </div>
                    </div>
                </div>
            </div>
            </a></div>`;
                        });

                        $('#brandList').html(brandListHtml);

                        // Tạo liên kết phân trang
                        var paginationHtml = '';
                        for (var i = 1; i <= data.totalPage; i++) {
                            var currentPage = data.number + 1; // Trang hiện tại (0-based)
                            if (i === currentPage) {
                                paginationHtml += '<a href="#" class="active" onclick="pagnitionBrand('+i+')">' + i + '</a> ';
                            } else {
                                paginationHtml += '<a href="#"  onclick="pagnitionBrand('+i+')">' + i + '</a> ';
                            }
                        }
                        $('#pagnitionBrand').empty();
                        $('#pagnitionBrand').html(paginationHtml);
                    }
                });
            }
        </script>
    </body>
</html>
