<div th:fragment="list-brand-fr">
    <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-6 mx-auto mb-4">
    <div class="brand">
        <img class="brand-image"
             src="https://cali.vn/storage/app/media/2021/Club/Binh%20Duong/California-4365.jpg">
        <div class="brand-info">
            <h5 class="fw-bold">California fitness & yoga</h5>
            <div style="height: 25px; margin-top: -3px;" data-star="3"></div>
            <div class="description">California Fitness & Yoga Centers là hệ thống
                trung tâm về thể dục và Yoga rộng lớn tại
                Việt Nam, với tổng diện tích phòng tập hơn
                16.000 mét vuông và không khí sôi động mang
                đậm phong cách riêng.
            </div>
            <div style="display: flex;">
                <div class="basic-info">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/11569/11569967.png"></span>
                    <span>15 cơ sở</span>
                </div>
                <div class="basic-info" style="margin-left: 15px;">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/2804/2804294.png"></span>
                    <span>200 gói tập đã bán</span>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="col-md-12 col-lg-6 col-xl-6 mx-auto mb-4">
    <div class="brand">
        <img class="brand-image"
             src="https://cali.vn/storage/app/media/Editors/628df59761bf4phong-tap-gym-o-tp-hcm-11.jpg">
        <div class="brand-info">
            <h5 class="fw-bold">25 FIT</h5>
            <div style="height: 25px; margin-top: -3px;" data-star="3"></div>
            <div class="description">California Fitness & Yoga Centers là hệ thống
                trung tâm về thể dục và Yoga rộng lớn tại
                Việt Nam, với tổng diện tích phòng tập hơn
                16.000 mét vuông và không khí sôi động mang
                đậm phong cách riêng.
            </div>
            <div style="display: flex;">
                <div class="basic-info">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/11569/11569967.png"></span>
                    <span>15 cơ sở</span>
                </div>
                <div class="basic-info" style="margin-left: 15px;">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/2804/2804294.png"></span>
                    <span>200 gói tập đã bán</span>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="col-md-12 col-lg-6 col-xl-6 mx-auto mb-4">
    <div class="brand">
        <img class="brand-image"
             src="https://images.foody.vn/res/g76/752691/prof/s/sheis-c4f530d5-a22f-46fe-9808-d3b46e791c3e-20180621102758590.jpg">
        <div class="brand-info">
            <h5 class="fw-bold">Star Fitness Saigon</h5>
            <div style="height: 25px; margin-top: -3px;" data-star="3"></div>
            <div class="description">California Fitness & Yoga Centers là hệ thống
                trung tâm về thể dục và Yoga rộng lớn tại
                Việt Nam, với tổng diện tích phòng tập hơn
                16.000 mét vuông và không khí sôi động mang
                đậm phong cách riêng.
            </div>
            <div style="display: flex;">
                <div class="basic-info">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/11569/11569967.png"></span>
                    <span>15 cơ sở</span>
                </div>
                <div class="basic-info" style="margin-left: 15px;">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/2804/2804294.png"></span>
                    <span>200 gói tập đã bán</span>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="col-md-12 col-lg-6 col-xl-6 mx-auto mb-4">
    <div class="brand">
        <img class="brand-image"
             src="https://lh5.googleusercontent.com/6hP4p8CFRl-UvzlhKY-0Qu0Xd4XwihZ_pJU3rOCG463yul3qPqWS2p4JQkmSauswLUSKeu3WhsgRYBmnPjGtLG86mErLCR2ressjgozSFwZxy3rYmE5oxV9qp_rg4WrTBj37M-5pr6Am4e17lA">
        <div class="brand-info">
            <h5 class="fw-bold">Getfit gym & yoga</h5>
            <div style="height: 25px; margin-top: -3px;" data-star="3"></div>
            <div class="description">California Fitness & Yoga Centers là hệ thống
                trung tâm về thể dục và Yoga rộng lớn tại
                Việt Nam, với tổng diện tích phòng tập hơn
                16.000 mét vuông và không khí sôi động mang
                đậm phong cách riêng.
            </div>
            <div style="display: flex;">
                <div class="basic-info">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/11569/11569967.png"></span>
                    <span>15 cơ sở</span>
                </div>
                <div class="basic-info" style="margin-left: 15px;">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/2804/2804294.png"></span>
                    <span>200 gói tập đã bán</span>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="col-md-12 col-lg-6 col-xl-6 mx-auto mb-4">
    <div class="brand">
        <img class="brand-image"
             src="https://images.foody.vn/res/g70/692634/prof/s/sheis-c655fd5b-6c57-4bdc-bc63-5343e2e69e16-20171004171236841.jpg">
        <div class="brand-info">
            <h5 class="fw-bold">Golden Wellness fitness & spa </h5>
            <div style="height: 25px; margin-top: -3px;" data-star="3"></div>
            <div class="description">California Fitness & Yoga Centers là hệ thống
                trung tâm về thể dục và Yoga rộng lớn tại
                Việt Nam, với tổng diện tích phòng tập hơn
                16.000 mét vuông và không khí sôi động mang
                đậm phong cách riêng.
            </div>
            <div style="display: flex;">
                <div class="basic-info">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/11569/11569967.png"></span>
                    <span>15 cơ sở</span>
                </div>
                <div class="basic-info" style="margin-left: 15px;">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/2804/2804294.png"></span>
                    <span>200 gói tập đã bán</span>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="col-md-12 col-lg-6 col-xl-6 mx-auto mb-4">
    <div class="brand">
        <img class="brand-image"
             src="https://cdn.noron.vn/2022/05/05/top-30-phong-tap-xin-nhat-quanh-ha-noi-king-fitness-1651746122.jpg">
        <div class="brand-info">
            <h5 class="fw-bold">King fitness</h5>
            <div style="height: 25px; margin-top: -3px;" data-star="3"></div>
            <div class="description">California Fitness & Yoga Centers là hệ thống
                trung tâm về thể dục và Yoga rộng lớn tại
                Việt Nam, với tổng diện tích phòng tập hơn
                16.000 mét vuông và không khí sôi động mang
                đậm phong cách riêng.
            </div>
            <div style="display: flex;">
                <div class="basic-info">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/11569/11569967.png"></span>
                    <span>15 cơ sở</span>
                </div>
                <div class="basic-info" style="margin-left: 15px;">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/2804/2804294.png"></span>
                    <span>200 gói tập đã bán</span>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="col-md-12 col-lg-6 col-xl-6 mx-auto mb-4">
    <div class="brand">
        <img class="brand-image"
             src="https://cdn.noron.vn/2022/05/05/top-30-phong-tap-xin-nhat-quanh-ha-noi-home-fitness-yoga-center-1651746589.jpg">
        <div class="brand-info">
            <h5 class="fw-bold">HOME Fitness & Yoga Center</h5>
            <div style="height: 25px; margin-top: -3px;" data-star="3"></div>
            <div class="description">California Fitness & Yoga Centers là hệ thống
                trung tâm về thể dục và Yoga rộng lớn tại
                Việt Nam, với tổng diện tích phòng tập hơn
                16.000 mét vuông và không khí sôi động mang
                đậm phong cách riêng.
            </div>
            <div style="display: flex;">
                <div class="basic-info">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/11569/11569967.png"></span>
                    <span>15 cơ sở</span>
                </div>
                <div class="basic-info" style="margin-left: 15px;">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/2804/2804294.png"></span>
                    <span>200 gói tập đã bán</span>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="col-md-12 col-lg-6 col-xl-6 mx-auto mb-4">
    <div class="brand">
        <img class="brand-image"
             src="https://cdn.alongwalk.info/wp-content/uploads/2022/09/21053416/image-top-8-trung-tam-day-group-x-giam-can-hieu-qua-tot-nhat-tai-ha-noi-166368805628231.jpg">
        <div class="brand-info">
            <h5 class="fw-bold">Level fitness</h5>
            <div style="height: 25px; margin-top: -3px;" data-star="3"></div>
            <div class="description">California Fitness & Yoga Centers là hệ thống
                trung tâm về thể dục và Yoga rộng lớn tại
                Việt Nam, với tổng diện tích phòng tập hơn
                16.000 mét vuông và không khí sôi động mang
                đậm phong cách riêng.
            </div>
            <div style="display: flex;">
                <div class="basic-info">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/11569/11569967.png"></span>
                    <span>15 cơ sở</span>
                </div>
                <div class="basic-info" style="margin-left: 15px;">
                                            <span><img
                                                    src="https://cdn-icons-png.flaticon.com/128/2804/2804294.png"></span>
                    <span>200 gói tập đã bán</span>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>