<div th:fragment="list-gym-fr">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-4 mb-4">
            <div class="card">
                <img src="https://stefantran.files.wordpress.com/2015/07/9.jpg?w=640" class="card-img-top" alt="Phòng tập 1">
                <div class="card-body">
                    <h3 class="card-title">Califonia Fitness & Yoga</h3>
                    <p class="card-text"><i class="bi bi-geo-alt"></i> Địa chỉ: Time
                        City Megamall, Tòa nhà T18, 458
                        Minh
                        Khai, P. Vĩnh Tuy, Q. Hai Bà Trưng, Hà Nội</p>
                    <p class="phone-number"><i class="bi bi-telephone"></i> (024) 7107
                        9999</p>
                    <div class="d-flex justify-content-between">
                        <div class="extras">
                            <div class="distance fw-bold">
                                <i class="bi bi-geo"></i> Cách bạn: 2,5 km
                            </div>
                        </div>
                    </div>
                    <div class="review-section">
                        Đánh giá:
                        <div class="rating" data-star="4.5"></div>
                    </div>
                    <div class="justify-content-between">
                        <div class="row price justify-content-center">
                            <div class="col">
                                <br>
                                <h6>Giá Gói linh hoạt:</h6>
                                <h5 class="text-money">10 <span class="credit" style="font-size: 16px;">Credit/Giờ</span></h5>
                            </div>
                            <div class="col">
                                <br>
                                <h6>Giá Gói cố định:</h6>
                                <h5 class="text-money">100-500 <span class="credit" style="font-size: 16px;">Credit</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 mb-4">
            <div class="card">
                <img src="https://toplist.vn/images/800px/level-fitness-amp-yoga-center-799858.jpg" class="card-img-top" alt="Phòng tập 1">
                <div class="card-body">
                    <h3 class="card-title">Golden Wellness Fitness & Spa</h3>
                    <p class="card-text"><i class="bi bi-geo-alt"></i> Địa chỉ: Tầng 4,
                        tháp A-B, Tòa Nhà Golden
                        Palace,
                        Đường Mễ Trì, Mễ Trì, Nam Từ Liêm, Hà Nội
                    </p>
                    <p class="phone-number"><i class="bi bi-telephone"></i> (024) 7107
                        9999</p>
                    <div class="d-flex justify-content-between">
                        <div class="extras">
                            <div class="distance fw-bold fw-bold">
                                <i class="bi bi-geo"></i> Cách bạn: 5 km
                            </div>
                        </div>
                    </div>
                    <div class="review-section">
                        Đánh giá:
                        <div class="rating" data-star="4.2"></div>
                    </div>
                    <div class="justify-content-between">
                        <div class="row price justify-content-center">
                            <div class="col">
                                <br>
                                <h6>Giá Gói linh hoạt:</h6>
                                <h5 class="text-money">10 <span class="credit" style="font-size: 16px;">Credit/Giờ</span></h5>
                            </div>
                            <div class="col">
                                <br>
                                <h6>Giá Gói cố định:</h6>
                                <h5 class="text-money">100-500 <span class="credit" style="font-size: 16px;">Credit</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 mb-4">
            <div class="card">
                <img src="https://top10soctrang.vn/wp-content/uploads/2023/02/top-3-phong-tap-gym-tai-soc-trang-uy-tin-hieu-qua-nhat-2.jpg" class="card-img-top" alt="Phòng tập 1">
                <div class="card-body">
                    <h3 class="card-title">Fitness World</h3>
                    <p class="card-text"><i class="bi bi-geo-alt"></i> Địa chỉ: Lô 2,
                        Nguyễn Khánh Toàn, Cầu Giấy, Hà
                        Nội
                    </p>
                    <p class="phone-number"><i class="bi bi-telephone"></i> (024) 7107
                        9999</p>
                    <div class="d-flex justify-content-between">
                        <div class="extras">
                            <div class="distance fw-bold">
                                <i class="bi bi-geo"></i> Cách bạn: 12 km
                            </div>
                        </div>
                    </div>
                    <div class="review-section">
                        Đánh giá:
                        <div class="rating" data-star="3.7"></div>
                    </div>
                    <div class="justify-content-between">
                        <div class="row price justify-content-center">
                            <div class="col">
                                <br>
                                <h6>Giá Gói linh hoạt:</h6>
                                <h5 class="text-money">10 <span class="credit" style="font-size: 16px;">Credit/Giờ</span></h5>
                            </div>
                            <div class="col">
                                <br>
                                <h6>Giá Gói cố định:</h6>
                                <h5 class="text-money">100-500 <span class="credit" style="font-size: 16px;">Credit</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 mb-4">
            <div class="card">
                <img src="https://i.pinimg.com/736x/b9/43/a7/b943a748ef2ef69d593cb45791848c5d.jpg" class="card-img-top" alt="Phòng tập 1">
                <div class="card-body">
                    <h3 class="card-title">Level Fitness</h3>
                    <p class="card-text"><i class="bi bi-geo-alt"></i> Địa chỉ: Tầng
                        12-13-14 Tòa Trường Thịnh, Tràng
                        An
                        Complex – 01 Phùng Chí Kiên, Cầu Giấy, Hà Nội</p>
                    <p class="phone-number"><i class="bi bi-telephone"></i> 081 950 6969
                    </p>
                    <div class="d-flex justify-content-between">
                        <div class="extras">
                            <div class="distance fw-bold">
                                <i class="bi bi-geo"></i> Cách bạn: 25 km
                            </div>
                        </div>
                    </div>
                    <div class="review-section">
                        Đánh giá:
                        <div class="rating" data-star="4.7"></div>
                    </div>
                    <div class="justify-content-between">
                        <div class="row price justify-content-center">
                            <div class="col">
                                <br>
                                <h6>Giá Gói linh hoạt:</h6>
                                <h5 class="text-money">10 <span class="credit" style="font-size: 16px;">Credit/Giờ</span></h5>
                            </div>
                            <div class="col">
                                <br>
                                <h6>Giá Gói cố định:</h6>
                                <h5 class="text-money">100-500 <span class="credit" style="font-size: 16px;">Credit</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 mb-4">
            <div class="card">
                <img src="https://ems-vietnam.vn/wp-content/uploads/2023/07/25.1.jpg.webp" class="card-img-top" alt="Phòng tập 1">
                <div class="card-body">
                    <h3 class="card-title">Elite Fitness</h3>
                    <p class="card-text"><i class="bi bi-geo-alt"></i> Địa chỉ: 241 Xuân
                        Thủy, Phường Dịch Vọng Hậu,
                        Quận
                        Cầu Giấy, Hà Nội</p>
                    <p class="phone-number"><i class="bi bi-telephone"></i> (024) 7107
                        9999</p>
                    <div class="d-flex justify-content-between">
                        <div class="extras">
                            <div class="distance fw-bold">
                                <i class="bi bi-geo"></i> Cách bạn: 27 km
                            </div>
                        </div>
                    </div>
                    <div class="review-section">
                        Đánh giá:
                        <div class="rating" data-star="4.1"></div>
                    </div>
                    <div class="justify-content-between">
                        <div class="row price justify-content-center">
                            <div class="col">
                                <br>
                                <h6>Giá Gói linh hoạt:</h6>
                                <h5 class="text-money">10 <span class="credit" style="font-size: 16px;">Credit/Giờ</span></h5>
                            </div>
                            <div class="col">
                                <br>
                                <h6>Giá Gói cố định:</h6>
                                <h5 class="text-money">100-500 <span class="credit" style="font-size: 16px;">Credit</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 mb-4">
            <div class="card">
                <img src="https://i.pinimg.com/originals/a5/28/e8/a528e81883fd636568a8ae26d768c2fa.png" class="card-img-top" alt="Phòng tập 1">
                <div class="card-body">
                    <h3 class="card-title">Jade Fitness</h3>
                    <p class="card-text"><i class="bi bi-geo-alt"></i> Địa chỉ: 114 Mai
                        Hắc Đế, Lê Đại Hành, Hai Bà
                        Trưng
                    </p>
                    <p class="phone-number"><i class="bi bi-telephone"></i> (024) 7107
                        9999</p>
                    <div class="d-flex justify-content-between">
                        <div class="extras">
                            <div class="distance fw-bold">
                                <i class="bi bi-geo"></i> Cách bạn: 28 km
                            </div>
                        </div>
                    </div>
                    <div class="review-section">
                        Đánh giá:
                        <div class="rating" data-star="3.5"></div>
                    </div>
                    <div class="justify-content-between">
                        <div class="row price justify-content-center">
                            <div class="col">
                                <br>
                                <h6>Giá Gói linh hoạt:</h6>
                                <h5 class="text-money">10 <span class="credit" style="font-size: 16px;">Credit/Giờ</span></h5>
                            </div>
                            <div class="col">
                                <br>
                                <h6>Giá Gói cố định:</h6>
                                <h5 class="text-money">100-500 <span class="credit" style="font-size: 16px;">Credit</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 mb-4">
            <div class="card">
                <img src="https://thethaodonga.com/wp-content/uploads/2021/12/phong-tap-gym-tai-ha-noi-6.jpg" class="card-img-top" alt="Phòng tập 1">
                <div class="card-body">
                    <h3 class="card-title">NShape Fitness</h3>
                    <p class="card-text"><i class="bi bi-geo-alt"></i> Địa chỉ: số
                        14-16, phố Hàm Long, quận Đống Đa,
                        Hà nội
                    </p>
                    <p class="phone-number"><i class="bi bi-telephone"></i> (024) 7107
                        9999</p>
                    <div class="d-flex justify-content-between">
                        <div class="extras">
                            <div class="distance fw-bold">
                                <i class="bi bi-geo"></i> Cách bạn: 31 km
                            </div>
                        </div>
                    </div>
                    <div class="review-section">
                        Đánh giá:
                        <div class="rating" data-star="3.8"></div>
                    </div>
                    <div class="justify-content-between">
                        <div class="row price justify-content-center">
                            <div class="col">
                                <br>
                                <h6>Giá Gói linh hoạt:</h6>
                                <h5 class="text-money">10 <span class="credit" style="font-size: 16px;">Credit/Giờ</span></h5>
                            </div>
                            <div class="col">
                                <br>
                                <h6>Giá Gói cố định:</h6>
                                <h5 class="text-money">100-500 <span class="credit" style="font-size: 16px;">Credit</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 mb-4">
            <div class="card">
                <img src="https://thethaodonga.com/wp-content/uploads/2021/12/phong-tap-gym-tai-ha-noi-5-768x433.jpg" class="card-img-top" alt="Phòng tập 1">
                <div class="card-body">
                    <h3 class="card-title">Getfit Gym and Yoga</h3>
                    <p class="card-text"><i class="bi bi-geo-alt"></i> Địa chỉ: G1-căn
                        0210,0211,0212 - Toà G1,
                        Vinhomes Green Bay, Lương Thế Vinh, P, Nam Từ Liêm, Hà Nội
                    </p>
                    <p class="phone-number"><i class="bi bi-telephone"></i> (024) 7107
                        9999</p>
                    <div class="d-flex justify-content-between">
                        <div class="extras">
                            <div class="distance fw-bold">
                                <i class="bi bi-geo"></i> Cách bạn: 34 km
                            </div>
                        </div>
                    </div>
                    <div class="review-section">
                        Đánh giá:
                        <div class="rating" data-star="4.1"></div>
                    </div>
                    <div class="justify-content-between">
                        <div class="row price justify-content-center">
                            <div class="col">
                                <br>
                                <h6>Giá Gói linh hoạt:</h6>
                                <h5 class="text-money">10 <span class="credit" style="font-size: 16px;">Credit/Giờ</span></h5>
                            </div>
                            <div class="col">
                                <br>
                                <h6>Giá Gói cố định:</h6>
                                <h5 class="text-money">100-500 <span class="credit" style="font-size: 16px;">Credit</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 mb-4">
            <div class="card">
                <img src="https://thethaodonga.com/wp-content/uploads/2021/12/phong-tap-gym-tai-ha-noi-9-768x427.jpg" class="card-img-top" alt="Phòng tập 1">
                <div class="card-body">
                    <h3 class="card-title">Ladysfit Gym</h3>
                    <p class="card-text"><i class="bi bi-geo-alt"></i> Địa chỉ: 56 Trần
                        Phú, Thanh bình, Ninh Bình
                    </p>
                    <p class="phone-number"><i class="bi bi-telephone"></i> (024) 7107
                        9999</p>
                    <div class="d-flex justify-content-between">
                        <div class="extras">
                            <div class="distance fw-bold">
                                <i class="bi bi-geo"></i> Cách bạn: 93 km
                            </div>
                        </div>
                    </div>
                    <div class="review-section">
                        Đánh giá:
                        <div class="rating" data-star="3.9"></div>
                    </div>
                    <div class="justify-content-between">
                        <div class="row price justify-content-center">
                            <div class="col">
                                <br>
                                <h6>Giá Gói linh hoạt:</h6>
                                <h5 class="text-money">10 <span class="credit" style="font-size: 16px;">Credit/Giờ</span></h5>
                            </div>
                            <div class="col">
                                <br>
                                <h6>Giá Gói cố định:</h6>
                                <h5 class="text-money">100-500 <span class="credit" style="font-size: 16px;">Credit</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>