<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:if="${session.userRole == 'ADMIN'}"
       th:href="@{/admin/index/}">
        <div class="sidebar-brand-icon">
            <img th:src="@{/employee-assets/img/icon.png}" alt="Logo Fitpass">
        </div>
        <div class="sidebar-brand-text mx-3">fitpass admin</div>
    </a>

    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:if="${session.userRole == 'ACCOUNTANT'}"
       th:href="@{/admin/withdrawal}">
        <div class="sidebar-brand-icon">
            <img th:src="@{/employee-assets/img/icon.png}" alt="Logo Fitpass">
        </div>
        <div class="sidebar-brand-text mx-3">kế toán</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <th:block th:if="${session.userRole == 'ADMIN'}">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin/index}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Thống kê</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý
        </div>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/feature}">
                <i class="bi bi-tools"></i>
                <span>Tiện ích</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/brand/list}">
                <i class="bi bi-shop"></i>
                <span>Thương hiệu</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/registration/list}">
                <i class="fa-solid fa-file-lines"></i>
                <span>Yêu cầu đăng ký</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="bi bi-person-fill-gear"></i>
                <span>Tài khoản</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Quản lý:</h6>
                    <a class="collapse-item" th:href="@{/admin/account/brand}">Thương hiệu</a>
                    <a class="collapse-item" th:href="@{/admin/account/user}">Người dùng</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Giao dịch
        </div>

        <!-- Nav Item - Đánh giá -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/withdrawal}">
                <i class="fa-solid fa-comments-dollar"></i>
                <span>Thanh toán</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/withdrawal/history}">
                <i class="fa-solid fa-clock"></i>
                <span>Lịch sử giao dịch</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </th:block>

    <th:block th:if="${session.userRole == 'ACCOUNTANT'}">
        <!-- Heading -->
        <div class="sidebar-heading">
            Giao dịch
        </div>

        <!-- Nav Item - Đánh giá -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/withdrawal}">
                <i class="fa-solid fa-comments-dollar"></i>
                <span>Thanh toán</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/withdrawal/history}">
                <i class="fa-solid fa-clock"></i>
                <span>Lịch sử giao dịch</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </th:block>

</ul>