<!DOCTYPE html>
<html lang="en">
<th:block th:replace="admin/common/head"></th:block>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="admin/common/sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="admin/common/navbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h2 class="m-0 font-weight-bold text-primary">Danh sách yêu cầu rút tiền</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table cellspacing="0" class="table table-bordered" id="table-withdrawal-waiting" width="100%">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã giao dịch</th>
                                    <th>Thương hiệu</th>
                                    <th>Thời gian</th>
                                    <th>Số credit</th>
                                    <th>Số tiền quy đổi</th>
                                    <th>Phí hoa hồng (%)</th>
                                    <th>Trạng thái</th>
                                    <th class="table-action-lock">Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="h : ${requestWithdrawHistoryListPending}">
                                    <tr>
                                        <td th:text="${hStat.index + 1}">1</td>
                                        <td th:text="${h.getWithdrawalCode()}">10001321</td>
                                        <td th:text="${h.getBrandName()}">California Fitness & Yoga</td>
                                        <td th:text="${h.getWithdrawalTime()}">12:32:12 PM</td>
                                        <td th:text="${h.getAmountCredit() + ' Credit'}">10000 Creadit</td>
                                        <td class="money-value" th:text="${h.getActualMoney()}">10000000 VNĐ</td>
                                        <td th:text="${h.getMoneyPercent() + ' %'}">10000000 VNĐ</td>
                                        <td class="text-warning fw-bold" th:text="${h.getStatus()}">Đang xử lý</td>
                                        <td>
                                            <div class="btn btn-primary" data-target="#transactionModal" data-toggle="modal" th:attr="onclick='getDetail(' + ${h.getRequestHistoryId()} + ')'">Xử lý giao dịch</div>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pb-5 bg-gradient-withdrawal"></div>
                    <div class="card-header py-3">
                        <h2 class="m-0 font-weight-bold text-primary">Lịch sử rút tiền</h2>
                    </div>
                    <div class="withdraw text-center">
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions btn-transactions" id="filterButtonAll">
                                <i class="bi bi-list-check fs-3"></i>
                                <label>Tổng số giao dịch:
                                    <span th:text="${requestHistoryStats.getTotalRequest()}">3</span></label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions btn-transactions" id="filterButtonSuccess">
                                <i class="bi bi-check-circle fs-3"></i>
                                <label>Giao dịch thành công:
                                    <span th:text="${requestHistoryStats.getTotalApproved()}">3</span></label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions btn-transactions" id="filterButtonPending">
                                <i class="bi bi-clock fs-3"></i>
                                <label>Giao dịch đang xử lý:
                                    <span th:text="${requestHistoryStats.getTotalPending()}">3</span></label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions-money">
                                <i class="bi bi-cash fs-3"></i>
                                <label>Tổng số credit đã rút:
                                    <span class="text-money" th:text="${requestHistoryStats.getTotalCredit() + ' Credit'}">92000 Credit</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-2">
                            <div class="transactions-money">
                                <i class="bi bi-wallet2 fs-3"></i>
                                <label>Tổng số tiền đã nhận:
                                    <span class="text-money" th:text="${requestHistoryStats.getTotalMoney() + ' ' + 'đ'}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Xử lý -->
                    <div aria-hidden="true" aria-labelledby="transactionModalLabel" class="modal fade" id="transactionModal" role="dialog" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form action="/admin/withdrawal/update-status" id="acceptWithdrawal" method="post">
                                    <div class="modal-header">
                                        <div class="text-center" style="width: 95%; margin-left: 20px">
                                            <h5 class="modal-title" id="transactionModalLabel">Xử lý giao dịch</h5>
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-close" data-dismiss="modal" type="button"></button>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label class="form-label" for="brandName">Tên chủ thương hiệu :</label>
                                            <input id="requestHistoryId" name="requestHistoryId" type="hidden">
                                            <input class="form-control" id="brandName" readonly type="text" value="Lê Đình Tuấn">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="credit">Số credit :</label>
                                            <input class="form-control" id="credit" readonly type="text" value="10000">
                                        </div>
                                        <label class="fw-bold" data-placement="top" data-toggle="tooltip" title="Phí hoa hồng cho hệ thống với mỗi yêu cầu rút tiền">
                                            Hoa Hồng (<span id="withdrawal-fee">10</span>%)
                                        </label>
                                        <div class="mb-3">
                                            <label class="form-label" for="amount">Số tiền quy đổi (VND) :</label>
                                            <input class="form-control" id="amount" readonly type="text" value="10000000">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 mb-3">
                                                <label class="form-label" for="bankSelect">Loại ngân hàng :</label>
                                                <input class="form-control" id="bankSelect" readonly type="text" value="BDIV">
                                            </div>
                                            <div class="col-md-7 mb-3">
                                                <label class="form-label" for="receiverAccount">Số tài khoản :</label>
                                                <input class="form-control" id="receiverAccount" readonly type="text" value="0986547312">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="cardHolderName">Tên chủ thẻ :</label>
                                            <input class="form-control" id="cardHolderName" readonly type="text" value="Nguyễn Trà My">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" data-dismiss="modal" id="btn-close" type="button">Đóng</button>
                                        <button class="btn btn-success" id="btn-submit" type="submit">Xác nhận</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table cellspacing="0" class="table table-bordered" id="table-withdrawal-success" width="100%">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã giao dịch</th>
                                    <th>Thương hiệu</th>
                                    <th>Thời gian</th>
                                    <th>Số credit</th>
                                    <th>Số tiền quy đổi</th>
                                    <th>Phí hoa hồng (%)</th>
                                    <th>Trạng thái</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="h : ${requestWithdrawHistoryListAll}">
                                    <tr>
                                        <td th:text="${hStat.index + 1}">1</td>
                                        <td th:text="${h.getWithdrawalCode()}">10001321</td>
                                        <td th:text="${h.getBrandName()}">California Fitness & Yoga</td>
                                        <td th:text="${h.getWithdrawalTime()}">12:32:12 PM</td>
                                        <td th:text="${h.getAmountCredit() + ' Credit'}">10000 Credit</td>
                                        <td class="money-value" th:text="${h.getActualMoney()}">10000000 VNĐ</td>
                                        <td th:text="${h.getMoneyPercent() + ' %'}">10000000 VNĐ</td>
                                        <td class="text-success fw-bold" th:if="${h.getStatus() == 'Thành công'}">Thành công</td>
                                        <td class="text-warning fw-bold" th:if="${h.getStatus() == 'Đang xử lý'}">Đang xử lý</td>
                                        <td class="text-danger fw-bold" th:if="${h.getStatus() == 'Giao dịch bị hủy'}">Giao dịch bị hủy</td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="admin/common/footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="admin/common/logout-modal"></th:block>

<th:block th:replace="admin/common/script"></th:block>

<script>
    const money_elements = document.querySelectorAll('.money-value');
    money_elements.forEach((element) => {
        element.innerHTML = new Intl.NumberFormat('it-IT', {
            style: 'currency',
            currency: 'VND'
        }).format(element.innerHTML)
    });

    $(document).ready(function () {
        var table = $('#table-withdrawal-success').DataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.13.7/i18n/vi.json"
            }
        });

        $('#filterButtonPending').on('click', function () {
            // Lọc theo trạng thái 'Active'
            table.columns(7).search('Đang xử lý').draw();
        });

        $('#filterButtonAll').on('click', function () {
            // Lọc theo trạng thái 'Active'
            table.columns(7).search('').draw();
        });

        $('#filterButtonSuccess').on('click', function () {
            // Lọc theo trạng thái 'Active'
            table.columns(7).search('Thành công').draw();
        });
    });

    function getDetail(requestId) {
        $.ajax({
            url: "/admin/withdrawal/detail/" + requestId,
            type: "GET",
            success: function (response) {
                console.log(response);
                $("#requestHistoryId").val(response.requestHistoryId);
                $("#brandName").val(response.brandName);
                $("#credit").val(response.amountCredit);
                $("#amount").val(response.actualMoney);
                $("#bankSelect").val(response.cardBank);
                $("#receiverAccount").val(response.cardNumber);
                $("#cardHolderName").val(response.cardHolder);

                let amountCredit = response.amountCredit;
                let brandBalance = response.brandBalance;

                if (amountCredit > brandBalance) {
                    $("#btn-submit").prop("disabled", true);
                    Swal.fire({
                        icon: 'error',
                        title: 'Số credit rút lớn hơn số credit hiện có',
                        text: 'Số credit của thương hiệu hiện tại là ' + brandBalance + ' Credit',
                    })
                    $("#btn-close").click(() => location.reload());
                } else {
                    $("#btn-submit").prop("disabled", false);
                }

            },
            error: function (response) {
                console.log(response);
            }
        });

        $.ajax({
            url: "/admin/withdrawal/number-percentage/" + requestId,
            type: "GET",
            success: function (response) {
                console.log(response);
                $("#withdrawal-fee").text(response);
            },
            error: function (response) {
                console.log(response);
            }
        });
    }
</script>

<script>

    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const successParam = urlParams.get('success');

        if (successParam === 'true') {
            Swal.fire({
                icon: 'success',
                title: 'Thành công!',
                text: 'Giao dịch của bạn đã được xử lý thành công!',
                time: 2000
            });

            const urlWithoutSuccess = window.location.href.split('?')[0];
            window.history.replaceState({}, document.title, urlWithoutSuccess);
        }

        $('#acceptWithdrawal').submit(function (event) {
            event.preventDefault();
            Swal.fire({
                icon: 'question',
                title: 'Bạn muốn xác nhận giao dịch?',
                showConfirmButton: true,
                showCancelButton: true,
                confirmButtonText: 'Xác nhận',
                cancelButtonText: 'Hủy',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.submit();
                } else if (result.isDismissed || result.isDenied) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Thất bại!',
                        text: 'Giao dịch của bạn chưa được xử lý!',
                        confirmButtonText: 'Đóng',
                    });
                }
            });
        });
    });

</script>

</body>

</html>
