<!DOCTYPE html>
<html lang="en">
<th:block th:replace="admin/common/head"></th:block>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="admin/common/sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="admin/common/navbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h2 class="m-0 font-weight-bold text-primary">Đơn đang chờ xử lý</h2>
                    </div>

                    <!-- Modal chưa xử lý -->
                    <div aria-hidden="true" aria-labelledby="pendingModalLabel" class="modal fade" id="pendingModal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="text-center" style="width: 95%; margin-left: 20px">
                                        <h5 class="modal-title" id="pendingModalLabel">Đơn đang chờ xử lý</h5>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-close" data-dismiss="modal" type="button"></button>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <input id="becomeAPartnerRequestIdPending" type="hidden" value="1">
                                                    <label class="form-label" for="brandNamePending">Tên thương hiệu:</label>
                                                    <input class="form-control" id="brandNamePending" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="brandOwnerPending">Chủ thương hiệu:</label>
                                                    <input class="form-control" id="brandOwnerPending" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="emailPending">Email:</label>
                                                    <input class="form-control" id="emailPending" readonly type="email">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="requestTimePending">Thời gian gửi yêu cầu:</label>
                                                    <input class="form-control" id="requestTimePending" readonly type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="phoneNumberPending">Số điện thoại:</label>
                                                    <input class="form-control" id="phoneNumberPending" readonly type="tel">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="addressPending">Địa chỉ:</label>
                                                    <input class="form-control" id="addressPending" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="websitePending">Địa chỉ trang web:</label>
                                                    <input class="form-control" id="websitePending" readonly type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" onclick="showCancelConfirmation('pending')" type="button">
                                        <i class="fas fa-times-circle mr-2"></i>
                                        Hủy đơn
                                    </button>
                                    <button class="btn btn-warning ml-2" onclick="showProcessingConfirmation('pending')" type="button">
                                        Xác nhận xử lý
                                        <i class="fas fa-check-circle ml-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal đang xử lý  -->
                    <div aria-hidden="true" aria-labelledby="processingModalLabel" class="modal fade" id="processingModal" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="text-center" style="width: 95%; margin-left: 20px">
                                        <h5 class="modal-title" id="processingModalLabel">Đơn đang xử lý</h5>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-close" data-dismiss="modal" type="button"></button>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="brandNameProcessing">Tên thương hiệu:</label>
                                                    <input id="becomeAPartnerRequestIdProcessing" type="hidden" value="">
                                                    <input class="form-control" id="brandNameProcessing" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="brandOwnerProcessing">Chủ thương hiệu:</label>
                                                    <input class="form-control" id="brandOwnerProcessing" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="emailProcessing">Email:</label>
                                                    <input class="form-control" id="emailProcessing" readonly type="email">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="requestTimeProcessing">Thời gian gửi yêu cầu:</label>
                                                    <input class="form-control" id="requestTimeProcessing" readonly type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="phoneNumberProcessing">Số điện thoại:</label>
                                                    <input class="form-control" id="phoneNumberProcessing" readonly type="tel">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="addressProcessing">Địa chỉ:</label>
                                                    <input class="form-control" id="addressProcessing" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="websiteProcessing">Địa chỉ trang web:</label>
                                                    <input class="form-control" id="websiteProcessing" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="requestTimeStartProcessing">Thời gian bắt đầu xử lý:</label>
                                                    <input class="form-control" id="requestTimeStartProcessing" readonly type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" onclick="showCancelConfirmation('processing')" type="button">
                                        <i class="fas fa-times-circle mr-2"></i>
                                        Hủy đơn
                                    </button>
                                    <button class="btn btn-success ml-2" onclick="showProcessingConfirmation('processing')" type="button">
                                        Xác nhận thành công
                                        <i class="fas fa-check-circle ml-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal thành công  -->
                    <div aria-hidden="true" aria-labelledby="successModalLabel" class="modal fade" id="successModal" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="text-center" style="width: 95%; margin-left: 20px">
                                        <h5 class="modal-title" id="successModalLabel">Đơn xử lý thành công</h5>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-close" data-dismiss="modal" type="button"></button>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="brandNameSuccess">Tên thương hiệu:</label>
                                                    <input id="becomeAPartnerRequestIdSuccess" type="hidden">
                                                    <input class="form-control" id="brandNameSuccess" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="brandOwnerSuccess">Chủ thương hiệu:</label>
                                                    <input class="form-control" id="brandOwnerSuccess" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="emailSuccess">Email:</label>
                                                    <input class="form-control" id="emailSuccess" readonly type="email">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="requestTimeSuccess">Thời gian gửi yêu cầu:</label>
                                                    <input class="form-control" id="requestTimeSuccess" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="requestTimeSuccess">Thời gian xác nhận thành công:</label>
                                                    <input class="form-control" id="requestTimeSuccessSuccess" readonly type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="phoneNumberSuccess">Số điện thoại:</label>
                                                    <input class="form-control" id="phoneNumberSuccess" readonly type="tel">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="addressSuccess">Địa chỉ:</label>
                                                    <input class="form-control" id="addressSuccess" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="websiteSuccess">Địa chỉ trang web:</label>
                                                    <input class="form-control" id="websiteSuccess" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="requestTimeProcessSuccess">Thời gian bắt đầu xử lý:</label>
                                                    <input class="form-control" id="requestTimeProcessSuccess" readonly type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal hủy  -->
                    <div aria-hidden="true" aria-labelledby="cancelModalLabel" class="modal fade" id="cancelModal" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="text-center" style="width: 95%; margin-left: 20px">
                                        <h5 class="modal-title" id="cancelModalLabel">Đơn xử lý đã hủy</h5>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-close" data-dismiss="modal" type="button"></button>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="brandNameCancel">Tên thương hiệu:</label>
                                                    <input class="form-control" id="brandNameCancel" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="brandOwnerCancel">Chủ thương hiệu:</label>
                                                    <input class="form-control" id="brandOwnerCancel" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="emailCancel">Email:</label>
                                                    <input class="form-control" id="emailCancel" readonly type="email">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="requestTimeCancel">Thời gian gửi yêu cầu:</label>
                                                    <input class="form-control" id="requestTimeCancel" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="requestTimeCancel">Thời gian xác nhận hủy:</label>
                                                    <input class="form-control" id="cancelHandleRequest" readonly type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="phoneNumberCancel">Số điện thoại:</label>
                                                    <input class="form-control" id="phoneNumberCancel" readonly type="tel">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="addressCancel">Địa chỉ:</label>
                                                    <input class="form-control" id="addressCancel" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="websiteCancel">Địa chỉ trang web:</label>
                                                    <input class="form-control" id="websiteCancel" readonly type="text">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="requestTimeStartCancel">Thời gian bắt đầu xử lý:</label>
                                                    <input class="form-control" id="requestTimeStartCancel" readonly type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label class="form-label" for="cancelReason">Lý do hủy:</label>
                                                <textarea class="form-control" id="cancelReason" readonly rows="4"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table cellspacing="0" class="table table-bordered" id="table-registration-waiting"
                                   width="100%">
                                <thead>
                                <tr>
                                    <th>Thứ tự</th>
                                    <th>Tên thương hiệu</th>
                                    <th>Họ và Tên</th>
                                    <th>Email</th>
                                    <th>Số điện thoại</th>
                                    <th>Địa chỉ trang web</th>
                                    <th>Trạng thái</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="b : ${becomePartnerRequestListUp}">
                                    <tr>
                                        <td th:text="${bStat.index + 1}">1</td>
                                        <td th:text="${b.getBrandName()}">Gym hòa lạc</td>
                                        <td th:text="${b.getBrandOwnerName()}">Nguyễn Văn Bảo Linh</td>
                                        <td th:text="${b.getContactEmail()}">cc@gmail.com</td>
                                        <td th:text="${b.getContactNumber()}">0917359115</td>
                                        <td><a th:href="${b.getWebUrl()}" th:text="${b.getBrandName()}">Gym hòa lạc</a>
                                        </td>
                                        <td class="text-info fw-bold" th:if="${b.getStatus().equals('Đang chờ xử lý')}" th:text="${b.getStatus()}">Chưa xử lý</td>
                                        <td class="text-warning fw-bold" th:if="${b.getStatus().equals('Đang xử lý')}" th:text="${b.getStatus()}">Chưa xử lý</td>
                                        <td>
                                            <div class="btn btn-primary" data-target="#pendingModal"
                                                 data-toggle="modal"
                                                 th:attr="onclick='showDetailPending('+${b.getBecomeAPartnerRequestId()}+')'"
                                                 th:if="${b.getStatus().equals('Đang chờ xử lý')}">Xem chi tiết
                                            </div>
                                            <div class="btn btn-primary" data-target="#processingModal"
                                                 data-toggle="modal"
                                                 th:attr="onclick='showDetailProcessing('+${b.getBecomeAPartnerRequestId()}+')'"
                                                 th:if="${!b.getStatus().equals('Đang chờ xử lý')}">Xem chi tiết
                                            </div>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pb-5 bg-gradient-withdrawal"></div>
                    <div class="card-header py-3">
                        <h2 class="m-0 font-weight-bold text-primary">Lịch sử duyệt đơn</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table cellspacing="0" class="table table-bordered" id="table-registration-successful"
                                   width="100%">
                                <thead>
                                <tr>
                                    <th>Thứ tự</th>
                                    <th>Tên thương hiệu</th>
                                    <th>Họ và Tên</th>
                                    <th>Email</th>
                                    <th>Số điện thoại</th>
                                    <th>Địa chỉ trang web</th>
                                    <th>Trạng thái</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="b : ${becomePartnerRequestListDown}">
                                    <tr>
                                        <td th:text="${bStat.index + 1}">1</td>
                                        <td th:text="${b.getBrandName()}">Gym hòa lạc</td>
                                        <td th:text="${b.getBrandOwnerName()}">Nguyễn Văn Bảo Linh</td>
                                        <td th:text="${b.getContactEmail()}">cc@gmail.com</td>
                                        <td th:text="${b.getContactNumber()}">0917359115</td>
                                        <td><a th:href="${b.getWebUrl()}" th:text="${b.getBrandName()}">Gym hòa lạc</a>
                                        </td>
                                        <td class="text-success fw-bold" th:if="${b.getStatus().equals('Thành công')}" th:text="${b.getStatus()}">Chưa xử lý</td>
                                        <td class="text-danger fw-bold" th:if="${b.getStatus().equals('Từ chối đơn')}" th:text="${b.getStatus()}">Chưa xử lý</td>
                                        <td>
                                            <div class="btn btn-primary" data-target="#successModal"
                                                 data-toggle="modal"
                                                 th:attr="onclick='showDetailSuccess('+${b.getBecomeAPartnerRequestId()}+')'"
                                                 th:if="${b.getStatus().equals('Thành công')}">Xem chi tiết
                                            </div>
                                            <div class="btn btn-primary" data-target="#cancelModal"
                                                 data-toggle="modal"
                                                 th:attr="onclick='showDetailCancel('+${b.getBecomeAPartnerRequestId()}+')'"
                                                 th:if="${!b.getStatus().equals('Thành công')}">Xem chi tiết
                                            </div>
                                        </td>
                                    </tr>
                                </th:block>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="admin/common/footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="admin/common/logout-modal"></th:block>

<th:block th:replace="admin/common/script"></th:block>
</body>

</html>

