<!DOCTYPE html>
<html lang="en">
<th:block th:replace="admin/common/head"></th:block>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="admin/common/sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="admin/common/navbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header py-3 d-flex justify-content-between">
                        <h2 class="m-0 font-weight-bold text-primary">Danh sách tiện ích</h2>
                        <div class="btn btn-primary" data-target="#addModalFeature" data-toggle="modal">
                            <i class="fas fa-plus"></i> <span class="ml-1">Thêm mới</span>
                        </div>
                    </div>
                    <!-- Modal Add Feature-->
                    <div aria-hidden="true" aria-labelledby="addFeature" class="modal fade" id="addModalFeature" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form action="/admin/feature/add" id="formSubmit" method="post">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addFeature">Thêm tiện ích mới</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Form thêm mới tiện ích -->
                                        <div class="form-group">
                                            <label for="name">Tên tiện ích:</label>
                                            <input class="form-control" id="name" name="featureName" placeholder="Nhập tên tiện ích" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label class="mt-2" for="icon">Chọn biểu tượng:</label>
                                            <div class="row">
                                                <div class="select2-wrapper" id="icon">
                                                    <select class="input icons_select2" name="featureIcon">
                                                        <option data-icon="bi-p-circle" value="bi-p-circle">Bãi đỗ xe</option>
                                                        <option data-icon="fa-solid fa-scroll" value="fa-solid fa-scroll">Khăn miễn phí</option>
                                                        <option data-icon="fa-solid fa-medkit" value="fa-solid fa-medkit">Phòng y tế</option>
                                                        <option data-icon="fa-solid fa-cocktail" value="fa-solid fa-cocktail">Quầy nước</option>
                                                        <option data-icon="bi-cloud-haze2" value="bi-cloud-haze2">Phòng xông hơi</option>
                                                        <option data-icon="fa-solid fa-shower" value="fa-solid fa-shower">Phòng tắm</option>
                                                        <option data-icon="a-solid fa-bed" value="fa-solid fa-bed">Phòng thay đồ</option>
                                                        <option data-icon="fa-solid fa-coffee" value="fa-solid fa-coffee">Khu vực cafe</option>
                                                        <option data-icon="fa-solid fa-couch" value="fa-solid fa-couch">Khu vực nghỉ ngơi</option>
                                                        <option data-icon="fa-solid fa-utensils" value="fa-solid fa-utensils">Khu vực ăn uống</option>
                                                        <option data-icon="bi-bicycle" value="bi-bicycle">Khu vực đạp xe</option>
                                                        <option data-icon="bi-calendar" value="bi-calendar">Lịch hẹn</option>
                                                        <option data-icon="fa-solid fa-wifi" value="fa-solid fa-wifi">Wi-Fi</option>
                                                        <option data-icon="fa-solid fa-fire-extinguisher" value="fa-solid fa-fire-extinguisher">Hệ thống an toàn</option>
                                                        <option data-icon="fa-solid fa-thermometer" value="fa-solid fa-thermometer">Đo nhiệt độ</option>
                                                        <option data-icon="fa-solid fa-music" value="fa-solid fa-music">Âm nhạc</option>
                                                        <option data-icon="bi-person" value="bi-person">Hướng dẫn viên</option>
                                                        <option data-icon="fa-solid fa-spa" value="fa-solid fa-spa">Khu vực Spa</option>
                                                        <option data-icon="fa-solid fa-smoking" value="fa-solid fa-smoking">Khu vực hút thuốc</option>
                                                        <option data-icon="fa-solid fa-child" value="fa-solid fa-child">Khu vực trẻ em</option>
                                                        <option data-icon="fa-solid fa-tree" value="fa-solid fa-tree">Khu vực tập luyện ngoại ô</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Hủy</button>
                                        <button class="btn btn-primary" id="submit" type="submit">Thêm mới</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Update Feature -->
                    <div aria-hidden="true" aria-labelledby="updateFeature" class="modal fade" id="updateModalFeature" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateFeature">Cập nhật tiện ích</h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Form cập nhật tiện ích -->
                                    <form id="formUpdate">
                                        <div class="form-group">
                                            <label for="updateName">Tên tiện ích:</label>
                                            <input id="updateFeatureId" required type="hidden" value="1">
                                            <input class="form-control" id="updateName" name="featureName" type="text" value="Bãi đỗ xe">
                                        </div>
                                        <div class="form-group">
                                            <label class="mt-2" for="icon-update">Chọn biểu tượng:</label>
                                            <div class="row">
                                                <div class="select2-wrapper" id="icon-update">
                                                    <select class="input icons_select2" id="selectUpdate" name="featureIcon">
                                                        <option data-icon="bi-p-circle" value="bi-p-circle">Bãi đỗ xe</option>
                                                        <option data-icon="fa-solid fa-scroll" value="fa-solid fa-scroll">Khăn miễn phí</option>
                                                        <option data-icon="fa-solid fa-medkit" value="fa-solid fa-medkit">Phòng y tế</option>
                                                        <option data-icon="fa-solid fa-cocktail" value="fa-solid fa-cocktail">Quầy nước</option>
                                                        <option data-icon="bi-cloud-haze2" value="bi-cloud-haze2">Phòng xông hơi</option>
                                                        <option data-icon="fa-solid fa-shower" value="fa-solid fa-shower">Phòng tắm</option>
                                                        <option data-icon="a-solid fa-bed" value="fa-solid fa-bed">Phòng thay đồ</option>
                                                        <option data-icon="fa-solid fa-coffee" value="fa-solid fa-coffee">Khu vực cafe</option>
                                                        <option data-icon="fa-solid fa-couch" value="fa-solid fa-couch">Khu vực nghỉ ngơi</option>
                                                        <option data-icon="fa-solid fa-utensils" value="fa-solid fa-utensils">Khu vực ăn uống</option>
                                                        <option data-icon="bi-bicycle" value="bi-bicycle">Khu vực đạp xe</option>
                                                        <option data-icon="bi-calendar" value="bi-calendar">Lịch hẹn</option>
                                                        <option data-icon="fa-solid fa-wifi" value="fa-solid fa-wifi">Wi-Fi</option>
                                                        <option data-icon="fa-solid fa-fire-extinguisher" value="fa-solid fa-fire-extinguisher">Hệ thống an toàn</option>
                                                        <option data-icon="fa-solid fa-thermometer" value="fa-solid fa-thermometer">Đo nhiệt độ</option>
                                                        <option data-icon="fa-solid fa-music" value="fa-solid fa-music">Âm nhạc</option>
                                                        <option data-icon="bi-person" value="bi-person">Hướng dẫn viên</option>
                                                        <option data-icon="fa-solid fa-spa" value="fa-solid fa-spa">Khu vực Spa</option>
                                                        <option data-icon="fa-solid fa-smoking" value="fa-solid fa-smoking">Khu vực hút thuốc</option>
                                                        <option data-icon="fa-solid fa-child" value="fa-solid fa-child">Khu vực trẻ em</option>
                                                        <option data-icon="fa-solid fa-tree" value="fa-solid fa-tree">Khu vực tập luyện ngoại ô</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Hủy</button>
                                            <button class="btn btn-primary" data-dismiss="modal" id="update" onclick="updateFeature()" type="button">Cập nhật</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="text-start">
                                <table cellspacing="0" class="table table-bordered" id="dataTable"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>Thứ tự</th>
                                        <th>Tên tiện ích</th>
                                        <th>Biểu tượng</th>
                                        <th class="status-active">Trạng thái</th>
                                        <th class="table-action">Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="f : ${featureList}">
                                        <tr>
                                            <td th:text="${fStat.index + 1}">1</td>
                                            <td th:text="${f.getFeatureName()}">Bãi đỗ xe</td>
                                            <td th:utext="${f.getFeatureIcon()}"><i class="bi bi-p-circle"></i></td>
                                            <td>
                                                <select class="form-select" id="set-active"
                                                        name="set-active" th:attr="onchange='updateFeatureStatus('+${f.getFeatureID()}+',this)'">
                                                    <option th:selected="${f.getFeatureStatus() == 1}" value="active">Hoạt động</option>
                                                    <option th:selected="${f.getFeatureStatus() != 1}" value="deactive">Không hoạt động</option>
                                                </select>
                                            </td>
                                            <td>
                                                <div class="btn btn-primary" data-target="#updateModalFeature" data-toggle="modal" th:attr="onclick='getDetail('+${f.getFeatureID()}+')'">Cập nhật</div>
                                            </td>
                                        </tr>
                                    </th:block>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="admin/common/footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="admin/common/logout-modal"></th:block>

<th:block th:replace="admin/common/script"></th:block>

<script>
    function updateFeatureStatus(featureId, selectObject) {
        let selectedValue = selectObject.value;
        let feature = {
            featureID: featureId,
            featureName: "",
            featureIcon: "",
            featureStatus: selectedValue === "active" ? 1 : 0
        }
        Swal.fire({
            title: 'Bạn có chắc chắn muốn thay đổi trạng thái?',
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: `Đồng ý`,
            denyButtonText: `Không đồng ý`,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/admin/feature/updateStatus",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(feature),
                    success: function (data) {
                        console.log(data);
                        Swal.fire("Thay đổi trạng thái thành công", "", "success");
                        window.location.reload();
                    }
                });
            } else {
                window.location.reload();
            }
        })


    }

    function getDetail(featureId) {
        $.ajax({
            url: "/admin/feature/detail/" + featureId,
            type: "GET",
            success: function (data) {
                console.log(data);
                let iconString = data.featureIcon;
                let icon = $(iconString);
                let className = icon.attr('class');
                $("#updateFeatureId").val(data.featureID);
                $("#updateName").val(data.featureName);
                $("#selectUpdate").val(className);
                $("#selectUpdate").trigger('change');
            }
        });
    }

    function updateFeature() {
        let featureId = $("#updateFeatureId").val();
        let featureName = $("#updateName").val();
        let featureIcon = $("#selectUpdate").val();
        let feature = {
            featureID: featureId,
            featureName: featureName,
            featureIcon: featureIcon,
            featureStatus: 0
        }
        $.ajax({
            url: "/admin/feature/update",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(feature),
            success: function (data) {
                if ($("#formUpdate").valid()) {
                    console.log(data);
                    Swal.fire("Cập nhật thành công", "", "success");
                    window.location.reload();
                }
                else {
                    return false;
                }
            }
        });
    }
</script>
</body>

</html>
