<!DOCTYPE html>
<html lang="en">
<th:block th:replace="admin/common/head"></th:block>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="admin/common/sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="admin/common/navbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header py-3 d-flex justify-content-between">
                        <h2 class="m-0 font-weight-bold text-primary">Danh sách tiện ích</h2>
                        <a th:href="@{/admin/feature/add}" class="btn btn-primary" data-toggle="tooltip"
                           data-placement="left" title="Thêm dịch vụ">
                            <i class="fas fa-plus"></i><span class="ml-1">Thêm mới</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="text-start">
                                <table cellspacing="0" class="table table-bordered" id="dataTable"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>Thứ tự</th>
                                        <th>Tên tiện ích</th>
                                        <th>Biểu tượng</th>
                                        <th class="status-active">Trạng thái</th>
                                        <th class="table-action">Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="f ,fStat: ${featureList}">
                                        <tr>
                                            <td th:text="${fStat.index + 1}">1</td>
                                            <td th:text="${f.getFeatureName()}">Bãi đỗ xe</td>
                                            <td th:utext="${f.getFeatureIcon()}"><i class="bi bi-p-circle"></i></td>
                                            <td>
                                                <select class="form-select" id="set-active"
                                                        name="set-active" th:attr="onchange='updateFeatureStatus('+${f.getFeatureID()}+',this)'">
                                                    <option th:selected="${f.getFeatureStatus() == 1}" value="active">Hoạt động</option>
                                                    <option th:selected="${f.getFeatureStatus() != 1}" value="deactive">Không hoạt động</option>
                                                </select>
                                            </td>
                                            <td>
                                                <a th:href="@{/admin/feature/detail}" class="btn btn-primary" data-toggle="tooltip"
                                                   data-placement="left" title="Thêm dịch vụ">
                                                   <span class="ml-1">Cập nhật</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </th:block>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="admin/common/footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="admin/common/logout-modal"></th:block>

<th:block th:replace="admin/common/script"></th:block>

<script>
    function updateFeatureStatus(featureId, selectObject) {
        let selectedValue = selectObject.value;
        let feature = {
            featureID: featureId,
            featureName: "",
            featureIcon: "",
            featureStatus: selectedValue === "active" ? 1 : 0
        }
        Swal.fire({
            title: 'Bạn có chắc chắn muốn thay đổi trạng thái?',
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: `Đồng ý`,
            denyButtonText: `Không đồng ý`,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/admin/feature/updateStatus",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(feature),
                    success: function (data) {
                        console.log(data);
                        Swal.fire("Thay đổi trạng thái thành công", "", "success");
                        window.location.reload();
                    }
                });
            } else {
                window.location.reload();
            }
        })


    }

    function getDetail(featureId) {
        $.ajax({
            url: "/admin/feature/detail/" + featureId,
            type: "GET",
            success: function (data) {
                console.log(data);
                let iconString = data.featureIcon;
                let icon = $(iconString);
                let className = icon.attr('class');
                $("#updateFeatureId").val(data.featureID);
                $("#updateName").val(data.featureName);
                $("#selectUpdate").val(className);
                $("#selectUpdate").trigger('change');
            }
        });
    }

    function updateFeature() {
        let featureId = $("#updateFeatureId").val();
        let featureName = $("#updateName").val();
        let featureIcon = $("#selectUpdate").val();
        let feature = {
            featureID: featureId,
            featureName: featureName,
            featureIcon: featureIcon,
            featureStatus: 0
        }
        $.ajax({
            url: "/admin/feature/update",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(feature),
            success: function (data) {
                if ($("#formUpdate").valid()) {
                    console.log(data);
                    Swal.fire("Cập nhật thành công", "", "success");
                    window.location.reload();
                }
                else {
                    return false;
                }
            }
        });
    }
</script>
</body>

</html>
