<!DOCTYPE html>
<html lang="en">
<th:block th:replace="admin/common/head"></th:block>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="admin/common/sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <th:block th:replace="admin/common/navbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between pb-4">
                    <h1 class="h2 mb-0 text-primary fw-bold text-uppercase">Thống kê</h1>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Số người đăng ký
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalAccount}">1236</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-users fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Số thương hiệu hợp tác
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><span th:text="${totalBrand}">12</span>&nbsp;
                                            <small class="fw-bold">( <span th:text="${totalDepartment}"></span> cơ sở )</small>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-handshake fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Tổng credit người dùng đã mua
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalCredit}">3292000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-credit-card fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Tổng credit brand đã rút
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalBrandCredit}">2381000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-credit-card fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h4 class="m-0 font-weight-bold text-primary">Xếp hạng thương hiệu theo doanh thu</h4>
                            </div>
                            <div class="card-body table-responsive" style="max-height: 700px;">
                                <table class="table table-bordered" id="table-brand" width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Thương hiệu</th>
                                        <th>Gói tập đã bán</th>
                                        <th>Tổng thu nhập (VNĐ)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="brand ,brandStat: ${brandStatAdmin}">
                                        <tr>
                                            <td th:text="${brand.brandName}" class="fw-bold">California Fitness & Yoga</td>
                                            <td th:text="${brand.numberOfGymPlanSold}">235</td>
                                            <td class="money-value" th:text="${brand.totalAmount}">45.000.000 VNĐ</td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h4 class="m-0 font-weight-bold text-primary">Biểu đồ xu hướng mua </h4>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <input type="hidden" id="totalFixed" th:value="${orderDetailStatAdmin.getTotalFixed()}">
                                <input type="hidden" id="totalFlex" th:value="${orderDetailStatAdmin.getTotalFlex()}">
                                <div class="chart-pie pt-4">
                                    <canvas id="adminPieChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                    <span class="mr-2" style="color: #0AC429;">
                                        <i class="fas fa-circle"></i> Gói linh hoạt
                                    </span>
                                    <span class="mr-2" style="color: #FA9A1B;">
                                        <i class="fas fa-circle"></i> Gói cố định
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow" style="height: 300px; overflow: auto">
                            <div class="card-header py-3">
                                <h4 class="m-0 font-weight-bold text-primary">Xếp hạng thương hiệu theo sao</h4>
                            </div>
                            <div class="card-body">
                                <th:block th:each="b : ${brandRatingStatAdmin}">
                                    <div class="row">
                                        <div class="col-md-6 d-flex align-items-center mb-3">
                                            <h4 class="small font-weight-bold text-uppercase" th:text="${b.brandName}">California Fitness & Yoga</h4>
                                        </div>
                                        <div class="col-md-6 d-flex align-items-center justify-content-end mb-3">
                                            <div style="margin-right: 10px" th:attr="data-star= ${b.ratingStar}" ></div>
                                            <i class="num-of-rating" th:text="${b.numberOfRating + ' đánh giá'}">1370 đánh giá</i>
                                        </div>
                                    </div>
                                </th:block>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <th:block th:replace="admin/common/footer"></th:block>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="admin/common/logout-modal"></th:block>
<th:block th:replace="admin/common/script"></th:block>

<script>
    const money_elements = document.querySelectorAll('.money-value');
    money_elements.forEach((element) => {
        element.innerHTML = new Intl.NumberFormat('it-IT', { style: 'currency', currency: 'VND' }).format(element.innerHTML)
    });
</script>

</body>

</html>
