<!DOCTYPE html>
<html lang="en">
<th:block th:replace="admin/common/head"></th:block>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="admin/common/sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <th:block th:replace="admin/common/navbar"></th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between pb-4">
                    <h1 class="h2 mb-0 text-primary fw-bold text-uppercase">Thống kê</h1>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Số người đăng ký
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">1236</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-users fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                            Số thương hiệu hợp tác
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">12&nbsp;<small class="fw-bold">( 38 cơ sở )</small></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-handshake fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Tổng credit người dùng đã mua
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">3292000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-credit-card fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Tổng credit brand đã rút
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">2381000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-credit-card fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h4 class="m-0 font-weight-bold text-primary">Biểu đồ mua Credit</h4>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="adminBarChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h4 class="m-0 font-weight-bold text-primary">Biểu đồ xu hướng mua </h4>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4">
                                    <canvas id="adminPieChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                    <span class="mr-2" style="color: #0AC429;">
                                        <i class="fas fa-circle"></i> Gói linh hoạt
                                    </span>
                                    <span class="mr-2" style="color: #FA9A1B;">
                                        <i class="fas fa-circle"></i> Gói cố định
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <!-- Content Column -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <div class="card shadow">
                                <div class="card-header py-3">
                                    <h4 class="m-0 font-weight-bold text-primary">Danh sách các thương hiệu</h4>
                                </div>
                                <div class="card-body">
                                    <div class="list-gym-brand">
                                        <div class="row d-flex justify-content-around text-center pb-3">
                                            <div class="col-xl-2">
                                                <img class="brand-img" src="https://bom.so/i2mp74" alt="brand">
                                                <h6 class="brand-title fw-bold text-uppercase pt-3">City Gym</h6>
                                            </div>
                                            <div class="col-xl-2">
                                                <img class="brand-img" src="https://bom.so/i2mp74" alt="brand">
                                                <h6 class="brand-title fw-bold text-uppercase pt-3">California Fitness & Yoga</h6>
                                            </div>
                                            <div class="col-xl-2">
                                                <img class="brand-img" src="https://bom.so/i2mp74" alt="brand">
                                                <h6 class="brand-title fw-bold text-uppercase pt-3">S’Life Gym & Yoga</h6>
                                            </div>
                                            <div class="col-xl-2">
                                                <img class="brand-img" src="https://bom.so/i2mp74" alt="brand">
                                                <h6 class="brand-title fw-bold text-uppercase pt-3">Diamond Fitness Center</h6>
                                            </div>
                                            <div class="col-xl-2">
                                                <img class="brand-img" src="https://bom.so/i2mp74" alt="brand">
                                                <h6 class="brand-title fw-bold text-uppercase pt-3">Kickfit Sport</h6>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-around text-center pb-3">
                                            <div class="col-xl-2">
                                                <img class="brand-img" src="https://bom.so/i2mp74" alt="brand">
                                                <h6 class="brand-title fw-bold text-uppercase pt-3">25 Fit</h6>
                                            </div>
                                            <div class="col-xl-2">
                                                <img class="brand-img" src="https://bom.so/i2mp74" alt="brand">
                                                <h6 class="brand-title fw-bold text-uppercase pt-3">Advance Fitness & Gym</h6>
                                            </div>
                                            <div class="col-xl-2">
                                                <img class="brand-img" src="https://bom.so/i2mp74" alt="brand">
                                                <h6 class="brand-title fw-bold text-uppercase pt-3">Fit 24 – Fitness & Yoga Center</h6>
                                            </div>
                                            <div class="col-xl-2">
                                                <img class="brand-img" src="https://s.net.vn/pXdC" alt="brand">
                                                <h6 class="brand-title fw-bold text-uppercase pt-3">Elite Fitness</h6>
                                            </div>
                                            <div class="col-xl-2">
                                                <img class="brand-img" src="https://bom.so/i2mp74" alt="brand">
                                                <h6 class="brand-title fw-bold text-uppercase pt-3">Getfit Gym & Yoga</h6>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-around text-center pb-3">
                                            <div class="col-xl-2">
                                                <img class="brand-img" src="https://bom.so/i2mp74" alt="brand">
                                                <h6 class="brand-title fw-bold text-uppercase pt-3">Fit365 Fitness & Yoga</h6>
                                            </div>
                                            <div class="col-xl-2">
                                                <img class="brand-img" src="https://bom.so/i2mp74" alt="brand">
                                                <h6 class="brand-title fw-bold text-uppercase pt-3">The New Gym</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h4 class="m-0 font-weight-bold text-primary">Xếp hạng thương hiệu theo doanh thu</h4>
                            </div>
                            <div class="card-body">
                                <h4 class="small font-weight-bold text-uppercase">California Fitness & Yoga<span
                                        class="float-right">45.000.000 VNĐ</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 100%"
                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold text-uppercase">City Gym<span
                                        class="float-right">38.000.000 VNĐ</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 85%"
                                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold text-uppercase">Elite Fitness<span
                                        class="float-right">36.500.000 VNĐ</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 84%"
                                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold text-uppercase">KICKFIT SPORT<span
                                        class="float-right">29.000.000 VNĐ</span></h4>
                                <div class="progress">
                                    <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 64%"
                                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <h4 class="m-0 font-weight-bold text-primary">Xếp hạng thương hiệu theo sao</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 d-flex align-items-center">
                                        <h4 class="small font-weight-bold text-uppercase">California Fitness & Yoga</h4>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-center justify-content-end">
                                        <div style="margin-right: 10px" data-star="4.4"></div>
                                        <i class="num-of-rating">1370 đánh giá</i>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 d-flex align-items-center">
                                        <h4 class="small font-weight-bold text-uppercase">City Gym</h4>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-center justify-content-end">
                                        <div style="margin-right: 10px" data-star="3.8"></div>
                                        <i class="num-of-rating">940 đánh giá</i>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 d-flex align-items-center">
                                        <h4 class="small font-weight-bold text-uppercase">Elite Fitness</h4>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-center justify-content-end">
                                        <div style="margin-right: 10px" data-star="4.2"></div>
                                        <i class="num-of-rating">754 đánh giá</i>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 d-flex align-items-center">
                                        <h4 class="small font-weight-bold text-uppercase">KICKFIT SPORT</h4>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-center justify-content-end">
                                        <div style="margin-right: 10px" data-star="4.3"></div>
                                        <i class="num-of-rating">612 đánh giá</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <th:block th:replace="admin/common/footer"></th:block>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:replace="admin/common/script"></th:block>
</body>

</html>