<footer th:fragment="footer" id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>FITPASS<span>.</span></h3>
                        <p>
                            Số 19 ngõ 1 đường cây xăng 39<br>
                            Xã Thạch Hòa, Thạch Thất, Hà Nội<br><br>
                            <strong>Số điện thoại:</strong> 0934412001<br>
                            <strong>Email:</strong> fitpass1411@gmail.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://www.facebook.com/acatmeowing" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="mailto:linhnvb2@fpt.com" class="instagram"><i class="bx bxl-google"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Về chúng tôi</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/}">Giới thiệu</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/user/homepage}">Trang chủ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Điều khoản</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Thương hiệu</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/become-a-partner}">Đăng ký thương hiệu</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a th:href="@{/become-a-partner/famous-brands}">Các thương hiệu nổi tiếng</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Thông tin khác</h4>
                    <p>Chưa có tài khoản ?</p>
                    <a th:href="@{/login}">Đăng ký ngay</a>
                    <div class="sentence">Hãy tham gia fitpass ngay bây giờ !</div>
                </div>
            </div>
        </div>
    </div>
</footer>