<header class="fixed-top" id="header" th:fragment="navbar">

    <div class="container d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a th:href="@{/homepage}">Fitpass<span>.</span></a></h1>

        <nav class="navbar order-last order-lg-0" id="navbar">
            <ul>
                <form action="/homepage/search" method="get">
                <div class="search-bar">

                        <input placeholder="Nhập tên thương hiệu..." type="text" name="search" th:value="${search}">
                        <button type="submit" class="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                </div>
                </form>

                <li><a class="nav-link scrollto" th:href="@{/homepage}">Trang chủ</a></li>
                <li><a class="nav-link scrollto" th:href="@{/landing-page}">Giới thiệu</a></li>
                <th:block th:if="${session.userInfo != null}">
                    <li><a class="nav-link scrollto" th:href="@{/calendar/view}">Lịch tập</a></li>
                    <li>
                        <a th:href="@{/profile/deposit}">
                            <span class="text-money" th:text="${session.userCredit}"></span>&nbsp<span class="credit">Credit</span>
                        </a>
                    </li>
                </th:block>
                <li>
                    <a class="nav-link scrollto" th:href="@{/cart/view}">
                        <span class="cart-badge" id="card-badge">0</span>
                        <i class="bi bi-cart3 fs-4"></i>
                    </a>
                </li>
                <th:block th:if="${session.userInfo != null}">
                    <li>
                        <div class="dropdown w-100">
                            <a class="nav-link" th:href="@{/profile/my-notifications}" id="notification-btn">
                                <span class="notification-badge" id="notification-badge">0</span>
                                <i class="bi bi-bell fs-4 dropbtn"></i>
                            </a>
                            <ul id="notification-dropdown">
                                <li class="view-all-notification-link">
                                    <button onclick="window.location.href='/profile/my-notifications'">Xem tất cả
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </li>
                </th:block>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <th:block th:if="${session.userInfo != null}">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <a href="#"><img style="width: 30px;" src="https://cdn-icons-png.flaticon.com/128/3870/3870822.png"></a>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item small" th:href="@{/profile/my-profile}"><i class="fas fa-user"></i> Hồ
                        sơ người dùng</a></li>
                    <li><a class="dropdown-item small" th:href="@{/inventory/view}"><i class="fas fa-briefcase"></i> Túi
                        đồ</a></li>
                    <li><a class="dropdown-item small" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Đăng
                        xuất</a></li>
                </ul>
            </div>
        </th:block>
        <div th:unless="${session.userInfo != null}">
            <a th:href="@{/login}" class="get-started-btn scrollto">Đăng nhập ngay</a>
        </div>
    </div>

</header>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function openNotifications() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
